Repository deanmoses/pinbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

.pre-commit-config.yaml:

repos:
  # Security + basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(pnpm-lock\.yaml|uv\.lock)$'

  # Markdown — formatting + linting
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.1
    hooks:
      - id: prettier
        types: [markdown]
        exclude: ^(CLAUDE|AGENTS)\.md$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2
        exclude: ^(CLAUDE|AGENTS)\.md$

  # Local hooks
  - repo: local
    hooks:
      # Python (backend) — use project's ruff via uv so pre-commit and CI
      # always run the identical binary (avoids platform formatting drift).
      # pass_filenames: false so ruff checks all backend files every time,
      # catching formatting issues from earlier commits too.
      - id: ruff
        name: ruff (legacy alias)
        entry: uv run --directory backend ruff check --fix .
        language: system
        files: ^backend/
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        entry: uv run --directory backend ruff format .
        language: system
        files: ^backend/
        pass_filenames: false
      # Auto-regenerate agent docs when source or build script changes
      - id: agent-docs-regen
        name: regenerate agent docs
        entry: bash -c 'python3 scripts/build_agent_docs.py && git add CLAUDE.md AGENTS.md'
        language: system
        files: ^(docs/AGENTS\.src\.md|scripts/build_agent_docs\.py)$
        pass_filenames: false

      # Block direct edits to generated agent docs (unless source or script also changed)
      - id: agent-docs-no-direct-edit
        name: check agent docs not edited directly
        entry: scripts/check_agent_docs_edit.sh
        language: script
        files: ^(CLAUDE|AGENTS)\.md$
        pass_filenames: false

      # Frontend lint
      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd frontend && pnpm lint'
        language: system
        files: ^frontend/
        pass_filenames: false

refactor(typing): type catalog titles API helpers and endpoints
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/titles.py
  backend/mypy-baseline.txt
  docs/plans/MypyFixing.md
Due: ruff, ruff-format

refactor(typing): type catalog/api shared helpers and remaining endpoints
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/api/entity_create.py
  backend/apps/catalog/api/entity_crud.py
  backend/apps/catalog/api/locations.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/page_endpoints.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/schemas.py
  backend/apps/catalog/api/series.py
  backend/apps/catalog/api/soft_delete.py
  backend/apps/catalog/api/systems.py
  backend/mypy-baseline.txt
Due: ruff, ruff-format

Update MypyFixing.md
  docs/plans/MypyFixing.md
Due: none

refactor(typing): Step 4 partial — narrow Any-widening tech debt
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/api/locations.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/people.py
  docs/plans/MypyFixing.md
  docs/plans/UserModel.md
Due: ruff, ruff-format

refactor(typing): Step 4 complete — drop cast(Any, model_cls) in entity_crud
  backend/apps/catalog/api/entity_crud.py
  backend/apps/catalog/api/taxonomy.py
  backend/apps/core/models.py
  backend/mypy-baseline.txt
  docs/plans/MypyFixing.md
Due: ruff, ruff-format

refactor(typing): Step 7.1 residual — Status-tuple bodies return Schema
  backend/apps/catalog/api/entity_crud.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/titles.py
  docs/plans/MypyFixing.md
Due: ruff, ruff-format

refactor(typing): replace _Entity = Any with concrete unions in edit_claims
  backend/apps/catalog/api/edit_claims.py
Due: ruff, ruff-format

docs(typing): organize mypy planning docs under docs/plans/types/
  docs/plans/types/CatalogResolveTyping.md
  docs/plans/types/LocationRetractionFix.md
  docs/plans/types/MediaTyping.md
  docs/plans/types/MypyFixing.md
  docs/plans/types/ProvenanceValidationTightening.md
  docs/plans/types/ResolverReadsTightening.md
  docs/plans/types/TypeFixing.md
Due: none

fix(catalog): honor exists=False on CE location claims
  backend/apps/catalog/resolve/_relationships.py
  backend/apps/catalog/tests/test_resolve.py
Due: ruff, ruff-format

refactor(typing): add ClassVar to Shape 2 class attrs on catalog models
  backend/apps/catalog/models/gameplay_feature.py
  backend/apps/catalog/models/location.py
  backend/apps/catalog/models/taxonomy.py
  backend/apps/catalog/models/theme.py
  backend/apps/catalog/models/title.py
Due: ruff, ruff-format

refactor(typing): use frozenset[str] for soft_delete_* Shape 2 attrs
  backend/apps/catalog/api/soft_delete.py
  backend/apps/catalog/models/gameplay_feature.py
  backend/apps/catalog/models/taxonomy.py
  backend/apps/catalog/models/theme.py
  backend/apps/catalog/models/title.py
  docs/plans/model_driven_metadata/ModelDrivenMetadataCleanup.md
Due: ruff, ruff-format

refactor(signals): derive cache-invalidation model set via app-registry walk
  backend/apps/catalog/signals.py
  backend/apps/catalog/tests/test_api_cache.py
Due: ruff, ruff-format

refactor(typing): wrap LinkableModel entity_type attrs in ClassVar
  backend/apps/core/models.py
  docs/plans/model_driven_metadata/ModelDrivenMetadataCleanup.md
Due: ruff, ruff-format

refactor(provenance): unify relationship registries into one schema
  backend/apps/catalog/apps.py
  backend/apps/catalog/claims.py
  backend/apps/catalog/tests/test_claims.py
  backend/apps/catalog/tests/test_resolve_dispatch.py
  backend/apps/provenance/validation.py
  docs/plans/types/ProvenanceValidationTightening.md
Due: ruff, ruff-format

refactor(resolve): clear tuple-reuse baseline entries (Phase 2)
  backend/apps/catalog/resolve/_media.py
  backend/apps/catalog/resolve/_relationships.py
  backend/mypy-baseline.txt
Due: ruff, ruff-format

refactor(provenance): introduce ClaimControlledModel abstract base
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/api/entity_create.py
  backend/apps/catalog/api/entity_crud.py
  backend/apps/catalog/api/soft_delete.py
  backend/apps/catalog/ingestion/apply.py
  backend/apps/catalog/management/commands/ingest_pinbase.py
  backend/apps/catalog/models/gameplay_feature.py
  backend/apps/catalog/models/location.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/models/manufacturer.py
  backend/apps/catalog/models/person.py
  backend/apps/catalog/models/series.py
  backend/apps/catalog/models/system.py
  backend/apps/catalog/models/taxonomy.py
  backend/apps/catalog/models/theme.py
  backend/apps/catalog/models/title.py
  backend/apps/catalog/resolve/__init__.py
  backend/apps/catalog/resolve/_dispatch.py
  backend/apps/catalog/resolve/_entities.py
  backend/apps/catalog/resolve/_relationships.py
  backend/apps/catalog/tests/test_resolve.py
  backend/apps/provenance/api.py
  backend/apps/provenance/models/__init__.py
  backend/apps/provenance/models/_base.py
  backend/apps/provenance/revert.py
  backend/apps/provenance/tests/test_claim_controlled_model.py
  backend/config/admin_views.py
  docs/plans/types/CatalogResolveBaselineCleanup.md
  docs/plans/types/ClaimControlledEntity.md
  docs/plans/types/ClaimControlledModel.md
Due: ruff, ruff-format

refactor(catalog): move CatalogModel to catalog and bake in ClaimControlledModel
  backend/apps/catalog/api/entity_crud.py
  backend/apps/catalog/api/soft_delete.py
  backend/apps/catalog/api/taxonomy.py
  backend/apps/catalog/management/commands/ingest_pinbase.py
  backend/apps/catalog/models/__init__.py
  backend/apps/catalog/models/_base.py
  backend/apps/catalog/models/gameplay_feature.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/models/manufacturer.py
  backend/apps/catalog/models/person.py
  backend/apps/catalog/models/series.py
  backend/apps/catalog/models/system.py
  backend/apps/catalog/models/taxonomy.py
  backend/apps/catalog/models/theme.py
  backend/apps/catalog/models/title.py
  backend/apps/catalog/signals.py
  backend/apps/core/models.py
  backend/apps/provenance/tests/test_claim_controlled_model.py
Due: ruff, ruff-format

docs(mypy): update Step status — 1–8, 10, 11 done; 9, 12, 7.1 open
  docs/plans/types/MypyFixing.md
Due: none

refactor(media): relocate MediaSupported and lift to ClaimControlledModel
  backend/apps/catalog/claims.py
  backend/apps/catalog/models/gameplay_feature.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/models/manufacturer.py
  backend/apps/catalog/models/person.py
  backend/apps/catalog/resolve/_dispatch.py
  backend/apps/catalog/resolve/_media.py
  backend/apps/core/models.py
  backend/apps/media/api.py
  backend/apps/media/models/__init__.py
  backend/apps/media/models/base.py
  backend/apps/media/models/entity.py
  backend/apps/provenance/models/base.py
  docs/AppBoundaries.md
Due: ruff, ruff-format

refactor(provenance): type ClaimManager and assert_claim/for_object
  backend/apps/accounts/api.py
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/ingestion/apply.py
  backend/apps/catalog/tests/test_apply.py
  backend/apps/provenance/api.py
  backend/apps/provenance/models/claim.py
  backend/apps/provenance/revert.py
  backend/mypy-baseline.txt
Due: ruff, ruff-format

refactor(catalog): build detail Schemas immutably via accumulator dataclasses
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/systems.py
  docs/plans/types/MypyFixing.md
Due: ruff, ruff-format

refactor(frontend): centralize subtitle and actions in PageHeader
  frontend/src/lib/components/LocationDetailPage.svelte
  frontend/src/lib/components/PageHeader.svelte
  frontend/src/lib/components/TaxonomyListPage.svelte
  frontend/src/routes/locations/+page.svelte
  frontend/src/routes/review/+page.svelte
Due: frontend-lint

refactor(frontend): introduce Page component to centralize article width
  frontend/src/lib/components/LocationDetailPage.svelte
  frontend/src/lib/components/Page.svelte
  frontend/src/lib/components/RecordDetailShell.svelte
  frontend/src/lib/components/TaxonomyListPage.svelte
  frontend/src/routes/(legal)/+layout.svelte
  frontend/src/routes/corporate-entities/+page.svelte
  frontend/src/routes/locations/+page.svelte
  frontend/src/routes/review/+page.svelte
Due: frontend-lint

feat(locations): unify list and detail under SSR /locations/[...path]
  backend/apps/catalog/api/__init__.py
  backend/apps/catalog/api/locations.py
  backend/apps/catalog/tests/test_api_locations.py
  backend/tests/test_router_registration.py
  frontend/src/lib/components/HeroHeader.svelte
  frontend/src/lib/components/LocationDetailPage.svelte
  frontend/src/lib/components/PageActionBar.svelte
  frontend/src/lib/components/RecordDetailShell.svelte
  frontend/src/routes/locations/+page.svelte
  frontend/src/routes/locations/+page.ts
  frontend/src/routes/locations/[...path]/+layout.server.ts
  frontend/src/routes/locations/[...path]/+layout.svelte
  frontend/src/routes/locations/[...path]/+layout.ts
  frontend/src/routes/locations/[...path]/+page.svelte
  frontend/src/routes/locations/[...path]/+page.ts
  frontend/src/routes/locations/[...path]/location-helpers.test.ts
  frontend/src/routes/locations/[...path]/location-helpers.ts
  frontend/src/routes/locations/[...path]/locations.dom.test.ts
  frontend/src/routes/locations/locations-list.dom.test.ts
Due: ruff, ruff-format, frontend-lint

refactor(api): unify model/person/taxonomy delete responses on DeleteResponseSchema
  backend/apps/catalog/api/entity_crud.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/schemas.py
  backend/apps/catalog/tests/test_api_model_delete.py
  backend/apps/catalog/tests/test_api_person_delete.py
  frontend/src/routes/cabinets/[slug]/delete/cabinet-delete.ts
  frontend/src/routes/corporate-entities/[slug]/delete/corporate-entity-delete.ts
  frontend/src/routes/credit-roles/[slug]/delete/credit-role-delete.ts
  frontend/src/routes/display-subtypes/[slug]/delete/display-subtype-delete.ts
  frontend/src/routes/display-types/[slug]/delete/display-type-delete.ts
  frontend/src/routes/franchises/[slug]/delete/franchise-delete.ts
  frontend/src/routes/game-formats/[slug]/delete/game-format-delete.ts
  frontend/src/routes/gameplay-features/[slug]/delete/gameplay-feature-delete.ts
  frontend/src/routes/manufacturers/[slug]/delete/manufacturer-delete.ts
  frontend/src/routes/models/[slug]/delete/model-delete.test.ts
  frontend/src/routes/models/[slug]/delete/model-delete.ts
  frontend/src/routes/people/[slug]/delete/person-delete.test.ts
  frontend/src/routes/people/[slug]/delete/person-delete.ts
  frontend/src/routes/reward-types/[slug]/delete/reward-type-delete.ts
  frontend/src/routes/series/[slug]/delete/series-delete.ts
  frontend/src/routes/systems/[slug]/delete/system-delete.ts
  frontend/src/routes/tags/[slug]/delete/tag-delete.ts
  frontend/src/routes/technology-generations/[slug]/delete/technology-generation-delete.ts
  frontend/src/routes/technology-subgenerations/[slug]/delete/technology-subgeneration-delete.ts
  frontend/src/routes/themes/[slug]/delete/theme-delete.ts
Due: ruff, ruff-format, frontend-lint

refactor(api): narrow GameplayFeatureDetail parents/children to Ref
  backend/apps/catalog/api/gameplay_features.py
Due: ruff, ruff-format

refactor(frontend): extract loadDeletePreview() helper
  frontend/src/lib/delete-preview-loader.test.ts
  frontend/src/lib/delete-preview-loader.ts
  frontend/src/routes/cabinets/[slug]/delete/+page.ts
  frontend/src/routes/corporate-entities/[slug]/delete/+page.ts
  frontend/src/routes/credit-roles/[slug]/delete/+page.ts
  frontend/src/routes/display-subtypes/[slug]/delete/+page.ts
  frontend/src/routes/display-types/[slug]/delete/+page.ts
  frontend/src/routes/franchises/[slug]/delete/+page.ts
  frontend/src/routes/game-formats/[slug]/delete/+page.ts
  frontend/src/routes/gameplay-features/[slug]/delete/+page.ts
  frontend/src/routes/manufacturers/[slug]/delete/+page.ts
  frontend/src/routes/models/[slug]/delete/+page.ts
  frontend/src/routes/people/[slug]/delete/+page.ts
  frontend/src/routes/reward-types/[slug]/delete/+page.ts
  frontend/src/routes/series/[slug]/delete/+page.ts
  frontend/src/routes/systems/[slug]/delete/+page.ts
  frontend/src/routes/tags/[slug]/delete/+page.ts
  frontend/src/routes/technology-generations/[slug]/delete/+page.ts
  frontend/src/routes/technology-subgenerations/[slug]/delete/+page.ts
  frontend/src/routes/themes/[slug]/delete/+page.ts
  frontend/src/routes/titles/[slug]/delete/+page.ts
Due: frontend-lint

refactor(frontend): extract saveSimpleTaxonomyClaims() helper
  frontend/src/lib/components/editors/save-claims-shared.test.ts
  frontend/src/lib/components/editors/save-claims-shared.ts
  frontend/src/lib/components/editors/simple-taxonomy-edit-types.ts
  frontend/src/routes/cabinets/[slug]/save-cabinet-claims.test.ts
  frontend/src/routes/cabinets/[slug]/save-cabinet-claims.ts
  frontend/src/routes/credit-roles/[slug]/save-credit-role-claims.test.ts
  frontend/src/routes/credit-roles/[slug]/save-credit-role-claims.ts
  frontend/src/routes/display-subtypes/[slug]/save-display-subtype-claims.test.ts
  frontend/src/routes/display-subtypes/[slug]/save-display-subtype-claims.ts
  frontend/src/routes/display-types/[slug]/save-display-type-claims.test.ts
  frontend/src/routes/display-types/[slug]/save-display-type-claims.ts
  frontend/src/routes/franchises/[slug]/edit/[section]/+page.svelte
  frontend/src/routes/franchises/[slug]/edit/save-franchise-claims.test.ts
  frontend/src/routes/franchises/[slug]/edit/save-franchise-claims.ts
  frontend/src/routes/game-formats/[slug]/save-game-format-claims.test.ts
  frontend/src/routes/game-formats/[slug]/save-game-format-claims.ts
  frontend/src/routes/reward-types/[slug]/save-reward-type-claims.test.ts
  frontend/src/routes/reward-types/[slug]/save-reward-type-claims.ts
  frontend/src/routes/series/[slug]/edit/[section]/+page.svelte
  frontend/src/routes/series/[slug]/edit/save-series-claims.test.ts
  frontend/src/routes/series/[slug]/edit/save-series-claims.ts
  frontend/src/routes/systems/[slug]/edit/save-system-claims.ts
  frontend/src/routes/tags/[slug]/save-tag-claims.ts
  frontend/src/routes/technology-generations/[slug]/save-technology-generation-claims.test.ts
  frontend/src/routes/technology-generations/[slug]/save-technology-generation-claims.ts
  frontend/src/routes/technology-subgenerations/[slug]/save-technology-subgeneration-claims.test.ts
  frontend/src/routes/technology-subgenerations/[slug]/save-technology-subgeneration-claims.ts
Due: frontend-lint

refactor(frontend): emit top-level type aliases from openapi-typescript
  frontend/package.json
Due: frontend-lint

docs(plan): keep JsonBody as an intentional OpenAPI component
  docs/plans/types/apiboundary/ApiNamingRationalization.md
  docs/plans/types/apiboundary/ApiSvelteBoundary.md
Due: none

refactor(provenance): move get_claim_fields from core to provenance
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/ingestion/apply.py
  backend/apps/catalog/management/commands/validate_catalog.py
  backend/apps/catalog/resolve/__init__.py
  backend/apps/catalog/resolve/_entities.py
  backend/apps/catalog/tests/test_models.py
  backend/apps/catalog/tests/test_resolve_bulk.py
  backend/apps/catalog/tests/test_source_enabled.py
  backend/apps/core/models.py
  backend/apps/provenance/models/__init__.py
  backend/apps/provenance/models/introspection.py
  backend/apps/provenance/validation.py
Due: ruff, ruff-format

refactor(provenance): narrow type[Model] to type[ClaimControlledModel] across the claims chain
  backend/apps/catalog/_alias_registry.py
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/claims.py
  backend/apps/catalog/ingestion/apply.py
  backend/apps/catalog/management/commands/validate_catalog.py
  backend/apps/catalog/resolve/_helpers.py
  backend/apps/catalog/tests/test_resolve_dispatch.py
  backend/apps/provenance/models/introspection.py
  backend/apps/provenance/tests/test_validation.py
  backend/apps/provenance/validation.py
  backend/config/api.py
  backend/mypy-baseline.txt
Due: ruff, ruff-format

refactor(catalog): relocate AliasBase from apps.core to apps.catalog
  backend/apps/catalog/_alias_registry.py
  backend/apps/catalog/api/entity_create.py
  backend/apps/catalog/models/__init__.py
  backend/apps/catalog/models/base.py
  backend/apps/catalog/models/gameplay_feature.py
  backend/apps/catalog/models/location.py
  backend/apps/catalog/models/manufacturer.py
  backend/apps/catalog/models/person.py
  backend/apps/catalog/models/taxonomy.py
  backend/apps/catalog/models/theme.py
  backend/apps/catalog/tests/test_resolve_dispatch.py
  backend/apps/core/models.py
  docs/plans/model_driven_metadata/ModelDrivenLinkability.md
  docs/plans/model_driven_metadata/ModelDrivenMetadata.md
Due: ruff, ruff-format

docs: update planning doc statuses
  docs/plans/model_driven_metadata/ModelDrivenCatalogRelationshipMetadata.md
  docs/plans/model_driven_metadata/ModelDrivenClaimFkLookupsMetadata.md
  docs/plans/model_driven_metadata/ModelDrivenClaimsExemptMetadata.md
  docs/plans/model_driven_metadata/ModelDrivenClaimsMetadata.md
  docs/plans/model_driven_metadata/ModelDrivenImmutableAfterCreate.md
  docs/plans/model_driven_metadata/ModelDrivenMetadata.md
  docs/plans/model_driven_metadata/ModelDrivenMetadataCleanup.md
  docs/plans/model_driven_metadata/ModelDrivenMetadataViolations.md
  docs/plans/model_driven_metadata/ModelDrivenNamedMetadata.md
  docs/plans/types/MypyFixing.md
  docs/plans/types/ProvenanceValidationTightening.md
  docs/plans/types/ResolveHardening.md
  docs/plans/types/ResolverReadsTightening.md
  docs/plans/types/apiboundary/ApiErrors.md
  docs/plans/types/apiboundary/ApiSvelteBoundary.md
Due: none

refactor(delete-flow): key submitter by entity, derive endpoint and response
  frontend/src/lib/delete-flow.test.ts
  frontend/src/lib/delete-flow.ts
  frontend/src/routes/cabinets/[slug]/delete/cabinet-delete.ts
  frontend/src/routes/corporate-entities/[slug]/delete/corporate-entity-delete.ts
  frontend/src/routes/credit-roles/[slug]/delete/credit-role-delete.ts
  frontend/src/routes/display-subtypes/[slug]/delete/display-subtype-delete.ts
  frontend/src/routes/display-types/[slug]/delete/display-type-delete.ts
  frontend/src/routes/franchises/[slug]/delete/franchise-delete.ts
  frontend/src/routes/game-formats/[slug]/delete/game-format-delete.ts
  frontend/src/routes/gameplay-features/[slug]/delete/gameplay-feature-delete.ts
  frontend/src/routes/manufacturers/[slug]/delete/manufacturer-delete.ts
  frontend/src/routes/models/[slug]/delete/model-delete.ts
  frontend/src/routes/people/[slug]/delete/person-delete.ts
  frontend/src/routes/reward-types/[slug]/delete/reward-type-delete.ts
  frontend/src/routes/series/[slug]/delete/series-delete.ts
  frontend/src/routes/systems/[slug]/delete/system-delete.ts
  frontend/src/routes/tags/[slug]/delete/tag-delete.ts
  frontend/src/routes/technology-generations/[slug]/delete/technology-generation-delete.ts
  frontend/src/routes/technology-subgenerations/[slug]/delete/technology-subgeneration-delete.ts
  frontend/src/routes/themes/[slug]/delete/theme-delete.ts
  frontend/src/routes/titles/[slug]/delete/title-delete.ts
Due: frontend-lint

fix(catalog-cache): validate /all/ payloads via TypeAdapter in DEBUG
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/cache.py
  backend/apps/catalog/tests/test_api_cache.py
  backend/apps/catalog/tests/test_api_manufacturers.py
Due: ruff, ruff-format

fix(ingest): refresh updated_at on bulk_create_validated upserts
  backend/apps/core/validators.py
Due: ruff, ruff-format

refactor(media): rename MediaSupported to MediaSupportedModel
  backend/apps/catalog/claims.py
  backend/apps/catalog/models/gameplay_feature.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/models/manufacturer.py
  backend/apps/catalog/models/person.py
  backend/apps/catalog/resolve/_claim_values.py
  backend/apps/catalog/resolve/_dispatch.py
  backend/apps/catalog/resolve/_media.py
  backend/apps/catalog/tests/test_claims.py
  backend/apps/media/api.py
  backend/apps/media/models/__init__.py
  backend/apps/media/models/base.py
  backend/apps/media/models/entity.py
  backend/apps/media/tests/test_media_claims.py
  backend/apps/media/tests/test_model_validation.py
  backend/apps/media/tests/test_upload_api.py
  backend/apps/provenance/models/base.py
  docs/AppBoundaries.md
  docs/Media.md
Due: ruff, ruff-format

refactor(location): promote Location to CatalogModel
  backend/apps/catalog/api/entity_crud.py
  backend/apps/catalog/api/entity_detail_page.py
  backend/apps/catalog/management/commands/export_catalog_meta.py
  backend/apps/catalog/management/commands/ingest_pinbase.py
  backend/apps/catalog/models/base.py
  backend/apps/catalog/models/location.py
  backend/apps/catalog/signals.py
  backend/apps/catalog/tests/test_ingest_pinbase_wikilinks.py
  backend/apps/core/checks.py
  backend/apps/core/models.py
Due: ruff, ruff-format
