Repository deanmoses/pinbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

ruff:
  name: ruff (legacy alias)
  entry: uv run --directory backend ruff check --fix .
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: uv run --directory backend ruff format .
  language: system
  pass_filenames: false

agent-docs-regen:
  name: regenerate agent docs
  entry: bash -c 'python3 scripts/build_agent_docs.py && git add CLAUDE.md AGENTS.md'
  language: system
  pass_filenames: false

agent-docs-no-direct-edit:
  name: check agent docs not edited directly
  entry: scripts/check_agent_docs_edit.sh
  language: script
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd frontend && pnpm lint'
  language: system
  pass_filenames: false

feat(catalog): add taxonomy fields to model detail page
  backend/apps/accounts/migrations/0001_initial.py
  backend/apps/catalog/admin.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/schemas.py
  backend/apps/catalog/claims.py
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/models.py
  backend/apps/catalog/resolve.py
  backend/apps/catalog/tests/test_resolve.py
  backend/apps/provenance/migrations/0001_initial.py
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/models/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

chore(frontend): remove Series and Systems from nav
  frontend/src/lib/components/Nav.svelte
Due: frontend-lint

feat: add site-wide search on home page with client-side filtering
  backend/apps/catalog/api/__init__.py
  backend/apps/catalog/api/constants.py
  backend/apps/catalog/api/franchises.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/migrations/0003_add_tags_m2m_to_machinemodel.py
  backend/apps/catalog/models.py
  backend/apps/catalog/resolve.py
  backend/apps/catalog/tests/test_api.py
  backend/apps/catalog/tests/test_resolve.py
  backend/config/api.py
  frontend/src/routes/+page.svelte
  frontend/src/routes/franchises/[slug]/+page.svelte
  frontend/src/routes/franchises/[slug]/+page.ts
Due: ruff, ruff-format, frontend-lint

feat(frontend): show manufacturer/year on title cards, add filter chips and mobile drawer
  frontend/src/lib/components/ActiveFilterChips.svelte
  frontend/src/lib/components/cards/MachineCard.svelte
  frontend/src/lib/components/cards/TitleCard.svelte
  frontend/src/lib/facet-engine.test.ts
  frontend/src/lib/facet-engine.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/display-types/[slug]/+page.svelte
  frontend/src/routes/franchises/[slug]/+page.svelte
  frontend/src/routes/manufacturers/[slug]/+page.svelte
  frontend/src/routes/series/[slug]/+page.svelte
  frontend/src/routes/systems/[slug]/+page.svelte
  frontend/src/routes/technology-generations/[slug]/+page.svelte
  frontend/src/routes/themes/[slug]/+page.svelte
  frontend/src/routes/titles/+page.svelte
  frontend/src/routes/titles/[slug]/+page.svelte
Due: frontend-lint

feat: show titles instead of models on detail pages
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/schemas.py
  backend/apps/catalog/api/systems.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/tests/test_api.py
  frontend/src/lib/components/cards/TitleCard.svelte
  frontend/src/routes/display-types/[slug]/+page.svelte
  frontend/src/routes/manufacturers/[slug]/+page.svelte
  frontend/src/routes/people/[slug]/+page.svelte
  frontend/src/routes/systems/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat: generate titles for IPDB-only models and add claims review UI
  AGENTS.md
  CLAUDE.md
  backend/apps/accounts/migrations/0001_initial.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/management/commands/generate_ipdb_titles.py
  backend/apps/catalog/management/commands/ingest_all.py
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/migrations/0002_unique_corporate_entity_per_manufacturer.py
  backend/apps/catalog/migrations/0003_add_tags_m2m_to_machinemodel.py
  backend/apps/catalog/models.py
  backend/apps/catalog/tests/test_generate_ipdb_titles.py
  backend/apps/provenance/api.py
  backend/apps/provenance/migrations/0001_initial.py
  backend/apps/provenance/models.py
  backend/config/api.py
  docs/AGENTS.src.md
  frontend/eslint.config.js
  frontend/src/lib/utils.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/review/+page.svelte
  frontend/src/routes/review/+page.ts
  frontend/src/routes/titles/+page.svelte
  frontend/src/routes/titles/[slug]/+page.svelte
Due: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

fix(frontend): restore filters from URL on back navigation to titles page
  frontend/src/routes/titles/+page.svelte
Due: frontend-lint

refactor(frontend): extract FilterDrawer component from titles page
  frontend/src/lib/components/FilterDrawer.svelte
  frontend/src/routes/titles/+page.svelte
Due: frontend-lint

feat: collapse single-model titles to show model detail inline
  backend/apps/catalog/api/titles.py
  frontend/src/lib/components/ModelDetailBody.svelte
  frontend/src/routes/models/[slug]/+page.svelte
  frontend/src/routes/models/[slug]/+page.ts
  frontend/src/routes/titles/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat(frontend): add title kicker link on model detail page
  frontend/src/routes/models/[slug]/+layout.svelte
Due: frontend-lint

refactor(frontend): extract SearchResults component, drop models from home search
  frontend/src/lib/components/SearchResults.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/search/+page.svelte
Due: frontend-lint

fix(frontend): disable prerendering on / and /search
  frontend/src/routes/+page.ts
  frontend/src/routes/search/+page.ts
Due: frontend-lint

fix(frontend): strip punctuation in search to match near-miss titles
  frontend/src/lib/util.test.ts
  frontend/src/lib/util.ts
Due: frontend-lint

fix(frontend): fix search URL sync and re-enable prerendering on / and /search
  frontend/src/routes/+page.svelte
  frontend/src/routes/+page.ts
  frontend/src/routes/search/+page.svelte
  frontend/src/routes/search/+page.ts
Due: frontend-lint

feat(api): hide internal APIs from OpenAPI docs (#54)
  backend/apps/accounts/api.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/people.py
  backend/apps/provenance/api.py
  backend/config/api.py
  frontend/src/routes/api-docs/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat: promote CreditRole to DB table, group credits by role in UI
  backend/apps/catalog/admin.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/series.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/ingestion/fandom_wiki.py
  backend/apps/catalog/ingestion/wikidata_sparql.py
  backend/apps/catalog/management/commands/ingest_fandom.py
  backend/apps/catalog/management/commands/ingest_ipdb.py
  backend/apps/catalog/management/commands/ingest_pinbase_series.py
  backend/apps/catalog/management/commands/ingest_pinbase_signs.py
  backend/apps/catalog/management/commands/ingest_pinbase_taxonomy.py
  backend/apps/catalog/management/commands/ingest_wikidata.py
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/models.py
  backend/apps/catalog/resolve/_relationships.py
  backend/apps/catalog/signals.py
  backend/apps/catalog/tests/conftest.py
  backend/apps/catalog/tests/test_admin.py
  backend/apps/catalog/tests/test_api_models.py
  backend/apps/catalog/tests/test_api_people.py
  backend/apps/catalog/tests/test_api_titles.py
  backend/apps/catalog/tests/test_ingest_fandom.py
  backend/apps/catalog/tests/test_ingest_ipdb.py
  backend/apps/catalog/tests/test_ingest_wikidata.py
  backend/apps/catalog/tests/test_models.py
  backend/apps/catalog/tests/test_resolve_credits.py
  data/credit_roles.json
  frontend/src/app.css
  frontend/src/lib/components/CreditsList.svelte
Due: ruff, ruff-format, frontend-lint

refactor: bootstrap pinbase entities before external sources
  backend/apps/catalog/ingestion/person_lookup.py
  backend/apps/catalog/management/commands/ingest_all.py
  backend/apps/catalog/management/commands/ingest_fandom.py
  backend/apps/catalog/management/commands/ingest_ipdb.py
  backend/apps/catalog/management/commands/ingest_pinbase_models.py
  backend/apps/catalog/management/commands/ingest_pinbase_people.py
  backend/apps/catalog/management/commands/ingest_pinbase_series.py
  backend/apps/catalog/management/commands/ingest_pinbase_signs.py
  backend/apps/catalog/management/commands/ingest_pinbase_titles.py
  backend/apps/catalog/management/commands/ingest_wikidata.py
  backend/apps/catalog/migrations/0002_add_person_alias.py
  backend/apps/catalog/models/person.py
Due: ruff, ruff-format

feat: promote title-level abbreviations and improve external links
  backend/apps/catalog/management/commands/ingest_pinbase_titles.py
  backend/apps/catalog/resolve/_relationships.py
  data/titles.json
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/titles/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

refactor: extract sidebar components and show year on variants
  backend/apps/catalog/api/machine_models.py
  frontend/src/lib/components/ExternalLinksSidebarSection.svelte
  frontend/src/lib/components/ModelHierarchy.svelte
  frontend/src/lib/components/RatingsSidebarSection.svelte
  frontend/src/lib/components/SidebarList.svelte
  frontend/src/lib/components/SidebarListItem.svelte
  frontend/src/lib/components/SidebarSection.svelte
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/titles/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

refactor: rename MachineModel alias_of to variant_of
  backend/apps/catalog/admin.py
  backend/apps/catalog/api/franchises.py
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/schemas.py
  backend/apps/catalog/api/series.py
  backend/apps/catalog/api/systems.py
  backend/apps/catalog/api/themes.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/management/commands/ingest_opdb.py
  backend/apps/catalog/management/commands/ingest_pinbase_models.py
  backend/apps/catalog/management/commands/scrape_images.py
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/migrations/0002_add_person_alias.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/tests/test_admin.py
  backend/apps/catalog/tests/test_api_models.py
  backend/apps/catalog/tests/test_api_titles.py
  backend/apps/catalog/tests/test_ingest_opdb.py
  backend/apps/catalog/tests/test_ingest_pinbase_models.py
  frontend/src/lib/components/ModelHierarchy.svelte
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/models/[slug]/+page.ts
  frontend/src/routes/titles/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

refactor(frontend): extract HeroHeader, NeedsReviewBanner, and Tab components
  frontend/src/lib/components/HeroHeader.svelte
  frontend/src/lib/components/NeedsReviewBanner.svelte
  frontend/src/lib/components/Tab.svelte
  frontend/src/lib/components/TabNav.svelte
  frontend/src/lib/components/TwoColumnLayout.svelte
  frontend/src/routes/manufacturers/[slug]/+layout.svelte
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/people/[slug]/+layout.svelte
  frontend/src/routes/titles/[slug]/+page.svelte
Due: frontend-lint

docs: add claims-based rule and Provenance.md
  AGENTS.md
  CLAUDE.md
  docs/AGENTS.src.md
  docs/Provenance.md
Due: agent-docs-regen, agent-docs-no-direct-edit

refactor: re-architect DuckDB to mirror Django's claims-based model
  data/explore/01_raw.sql
  data/explore/02_staging.sql
  data/explore/03_catalog.sql
  data/explore/04_checks.sql
  data/models.json
  data/productions.json
  data/tiers.json
Due: none

fix(data): add edition suffixes to 15 models where OPDB drops them
  data/models.json
Due: none

fix(data): link Aerosmith LE as variant of Premium
  data/models.json
Due: none

fix(frontend): extract EntityProvenance component, fix duplicate key crash
  frontend/src/lib/components/EntityProvenance.svelte
  frontend/src/routes/manufacturers/[slug]/activity/+page.svelte
  frontend/src/routes/models/[slug]/activity/+page.svelte
  frontend/src/routes/people/[slug]/activity/+page.svelte
Due: frontend-lint

chore(data): add JSON schemas for all data/*.json files
  .pre-commit-config.yaml
  .vscode/settings.json
  data/schemas/cabinets.schema.json
  data/schemas/corporate_entities.schema.json
  data/schemas/credit_roles.schema.json
  data/schemas/credits.schema.json
  data/schemas/display_subtypes.schema.json
  data/schemas/display_types.schema.json
  data/schemas/franchises.schema.json
  data/schemas/game_formats.schema.json
  data/schemas/gameplay_features.schema.json
  data/schemas/manufacturers.schema.json
  data/schemas/models.schema.json
  data/schemas/people.schema.json
  data/schemas/series.schema.json
  data/schemas/systems.schema.json
  data/schemas/tags.schema.json
  data/schemas/technology_generations.schema.json
  data/schemas/technology_subgenerations.schema.json
  data/schemas/titles.schema.json
  scripts/check_data_schemas.sh
Due: none

fix(backend): route OPDB alias variant_of through claims system
  backend/apps/catalog/management/commands/ingest_opdb.py
  backend/apps/catalog/tests/test_ingest_opdb.py
  data/models.json
Due: ruff, ruff-format

feat(data): add is_remake/remake_of fields and reject false OPDB tags
  data/explore/02_staging.sql
  data/models.json
  data/schemas/models.schema.json
Due: none

feat(data): add system descriptions and rename manufacturer_slug to manufacturer
  backend/apps/catalog/management/commands/ingest_pinbase_systems.py
  data/explore/03_catalog.sql
  data/schemas/systems.schema.json
  data/systems.json
Due: ruff, ruff-format

feat: add two-column layout and sidebar to system detail page
  backend/apps/catalog/api/systems.py
  frontend/src/routes/systems/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat: replace search homepage with content landing page and add breadcrumbs
  frontend/src/lib/components/Breadcrumb.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/systems/[slug]/+page.svelte
Due: frontend-lint

feat(frontend): remove redundant site title and trim homepage whitespace
  frontend/src/routes/+page.svelte
Due: frontend-lint

feat: add validate_catalog management command for post-ingestion checks
  backend/apps/catalog/management/commands/ingest_all.py
  backend/apps/catalog/management/commands/validate_catalog.py
  backend/apps/catalog/tests/test_validate_catalog.py
Due: ruff, ruff-format

feat: add golden record spot-checks to validate_catalog
  backend/apps/catalog/management/commands/validate_catalog.py
  backend/apps/catalog/tests/test_validate_catalog.py
  data/golden_records.json
Due: ruff, ruff-format

fix: validate_catalog checks winning claims only, not all active claims
  backend/apps/catalog/management/commands/ingest_opdb.py
  backend/apps/catalog/management/commands/validate_catalog.py
  backend/apps/catalog/tests/test_validate_catalog.py
Due: ruff, ruff-format

feat: typed records, relationship extraction, dry-run mode for ingestion
  Makefile
  backend/apps/catalog/ingestion/ipdb/__init__.py
  backend/apps/catalog/ingestion/ipdb/records.py
  backend/apps/catalog/ingestion/opdb/__init__.py
  backend/apps/catalog/ingestion/opdb/records.py
  backend/apps/catalog/ingestion/opdb/relationships.py
  backend/apps/catalog/management/commands/ingest_all.py
  backend/apps/catalog/management/commands/ingest_ipdb.py
  backend/apps/catalog/management/commands/ingest_opdb.py
  backend/apps/catalog/tests/test_ingest_opdb.py
  backend/apps/catalog/tests/test_opdb_relationships.py
  docs/plans/IngestImprovements.md
  docs/plans/Ingestion.md
  docs/plans/IngestionRefactor.md
Due: ruff, ruff-format

refactor: extract ManufacturerResolver to consolidate duplicated lookup logic
  backend/apps/catalog/ingestion/bulk_utils.py
  backend/apps/catalog/management/commands/ingest_ipdb.py
  backend/apps/catalog/management/commands/ingest_opdb.py
  backend/apps/catalog/tests/test_manufacturer_resolver.py
Due: ruff, ruff-format

chore: remove superseded ingestion plan docs
  docs/plans/IngestImprovements.md
  docs/plans/Ingestion.md
  docs/plans/IngestionRefactor.md
Due: none

feat: add entity links to manufacturer descriptions
  backend/apps/catalog/models/machine_model.py
  data/manufacturers.json
Due: ruff, ruff-format

Path conditions:
  ruff: any of: ^backend/
  ruff-format: any of: ^backend/
  agent-docs-regen: any of: ^(docs/AGENTS\.src\.md|scripts/build_agent_docs\.py)$
  agent-docs-no-direct-edit: any of: ^(CLAUDE|AGENTS)\.md$
  frontend-lint: any of: ^frontend/
