Repository deanmoses/pinbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

.pre-commit-config.yaml:

repos:
  # Security + basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(pnpm-lock\.yaml|uv\.lock)$'

  # Markdown — formatting + linting
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.1
    hooks:
      - id: prettier
        types: [markdown]
        exclude: ^(CLAUDE|AGENTS)\.md$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2
        exclude: ^(CLAUDE|AGENTS)\.md$

  # Local hooks
  - repo: local
    hooks:
      # Python (backend) — use project's ruff via uv so pre-commit and CI
      # always run the identical binary (avoids platform formatting drift).
      # pass_filenames: false so ruff checks all backend files every time,
      # catching formatting issues from earlier commits too.
      - id: ruff
        name: ruff (legacy alias)
        entry: uv run --directory backend ruff check --fix .
        language: system
        files: ^backend/
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        entry: uv run --directory backend ruff format .
        language: system
        files: ^backend/
        pass_filenames: false
      # Auto-regenerate agent docs when source or build script changes
      - id: agent-docs-regen
        name: regenerate agent docs
        entry: bash -c 'python3 scripts/build_agent_docs.py && git add CLAUDE.md AGENTS.md'
        language: system
        files: ^(docs/AGENTS\.src\.md|scripts/build_agent_docs\.py)$
        pass_filenames: false

      # Block direct edits to generated agent docs (unless source or script also changed)
      - id: agent-docs-no-direct-edit
        name: check agent docs not edited directly
        entry: scripts/check_agent_docs_edit.sh
        language: script
        files: ^(CLAUDE|AGENTS)\.md$
        pass_filenames: false

      # Frontend lint
      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd frontend && pnpm lint'
        language: system
        files: ^frontend/
        pass_filenames: false

feat: add markdown toolbar to MarkdownTextArea
  docs/plans/MarkdownToolbar.md
  frontend/src/lib/components/form/MarkdownTextArea.svelte
  frontend/src/lib/components/form/MarkdownToolbar.svelte
  frontend/src/lib/components/form/WikilinkAutocomplete.svelte
  frontend/src/lib/components/form/markdown-shortcuts.test.ts
  frontend/src/lib/components/form/markdown-shortcuts.ts
  frontend/src/lib/components/form/markdown-textarea-citation.dom.test.ts
  frontend/src/lib/components/form/markdown-toolbar.dom.test.ts
Due: frontend-lint

a11y: wire ARIA combobox/listbox pattern on citation search stages
  frontend/src/lib/components/form/citation/CitationIdentifyBySearchStage.svelte
  frontend/src/lib/components/form/citation/CitationSearchStage.svelte
  frontend/src/lib/components/form/markdown-textarea-citation.dom.test.ts
Due: frontend-lint

feat: move citation source recognition from frontend to backend
  backend/apps/accounts/migrations/0001_initial.py
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/migrations/0002_alter_machinemodel_options.py
  backend/apps/citation/api.py
  backend/apps/citation/extractors.py
  backend/apps/citation/migrations/0001_initial.py
  backend/apps/citation/migrations/0002_citationsource_identifier_key.py
  backend/apps/citation/migrations/0003_citationsource_citation_citationsource_identifier_key_valid.py
  backend/apps/citation/migrations/0004_alter_citationsource_identifier_key.py
  backend/apps/citation/models.py
  backend/apps/citation/tests/test_api.py
  backend/apps/citation/tests/test_db_constraints.py
  backend/apps/core/migrations/0001_initial.py
  backend/apps/media/migrations/0001_initial.py
  backend/apps/provenance/migrations/0001_initial.py
  docs/plans/citations/CitationAutogenerationDesign.md
  frontend/src/lib/components/form/EditCitationField.dom.test.ts
  frontend/src/lib/components/form/WikilinkAutocomplete.svelte
  frontend/src/lib/components/form/citation/CitationAutocomplete.svelte
  frontend/src/lib/components/form/citation/CitationCreateStage.svelte
  frontend/src/lib/components/form/citation/CitationIdentifyByInputStage.svelte
  frontend/src/lib/components/form/citation/CitationIdentifyBySearchStage.svelte
  frontend/src/lib/components/form/citation/CitationSearchStage.svelte
  frontend/src/lib/components/form/citation/citation-autocomplete.dom.test.ts
  frontend/src/lib/components/form/citation/citation-fixtures.ts
  frontend/src/lib/components/form/citation/citation-types.test.ts
  frontend/src/lib/components/form/citation/citation-types.ts
  frontend/src/lib/components/form/markdown-textarea-citation.dom.test.ts
  frontend/src/lib/components/form/search-helpers.ts
Due: ruff, ruff-format, frontend-lint

feat: add ISBN extraction endpoint with Open Library lookup
  backend/apps/citation/api.py
  backend/apps/citation/extraction.py
  backend/apps/citation/extractors.py
  backend/apps/citation/models.py
  backend/apps/citation/tests/test_api.py
  backend/apps/citation/tests/test_extraction.py
  frontend/src/lib/components/form/citation/CitationAutocomplete.svelte
  frontend/src/lib/components/form/citation/CitationCreateStage.svelte
  frontend/src/lib/components/form/citation/CitationSearchStage.svelte
  frontend/src/lib/components/form/citation/citation-autocomplete.dom.test.ts
  frontend/src/lib/components/form/citation/citation-fixtures.ts
  frontend/src/lib/components/form/citation/citation-types.test.ts
  frontend/src/lib/components/form/citation/citation-types.ts
Due: ruff, ruff-format, frontend-lint

feat: add Open Graph meta tags, Twitter cards, and canonical URLs
  .env.example
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/tests/test_image_licensing.py
  backend/apps/media/tests/test_api_response.py
  frontend/src/app.html
  frontend/src/lib/components/MetaTags.svelte
  frontend/src/lib/components/meta-tags.test.ts
  frontend/src/lib/components/meta-tags.ts
  frontend/src/routes/+page.svelte
  frontend/src/routes/cabinets/[slug]/+layout.svelte
  frontend/src/routes/corporate-entities/[slug]/+layout.svelte
  frontend/src/routes/display-subtypes/[slug]/+layout.svelte
  frontend/src/routes/display-types/[slug]/+layout.svelte
  frontend/src/routes/franchises/[slug]/+layout.svelte
  frontend/src/routes/game-formats/[slug]/+layout.svelte
  frontend/src/routes/gameplay-features/[slug]/+layout.svelte
  frontend/src/routes/manufacturers/[slug]/+layout.svelte
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/people/[slug]/+layout.svelte
  frontend/src/routes/reward-types/[slug]/+layout.svelte
  frontend/src/routes/series/[slug]/+layout.svelte
  frontend/src/routes/systems/[slug]/+layout.svelte
  frontend/src/routes/tags/[slug]/+layout.svelte
  frontend/src/routes/technology-generations/[slug]/+layout.svelte
  frontend/src/routes/technology-subgenerations/[slug]/+layout.svelte
  frontend/src/routes/themes/[slug]/+layout.svelte
  frontend/src/routes/titles/[slug]/+layout.svelte
  frontend/static/og-default.png
  frontend/svelte.config.js
Due: ruff, ruff-format, frontend-lint

feat: add AccordionSection, ActionMenu, PageActionBar, and SectionEditorModal components
  frontend/src/lib/components/AccordionSection.dom.test.ts
  frontend/src/lib/components/AccordionSection.fixture.svelte
  frontend/src/lib/components/AccordionSection.svelte
  frontend/src/lib/components/ActionMenu.dom.test.ts
  frontend/src/lib/components/ActionMenu.fixture.svelte
  frontend/src/lib/components/ActionMenu.svelte
  frontend/src/lib/components/MenuItem.svelte
  frontend/src/lib/components/PageActionBar.dom.test.ts
  frontend/src/lib/components/PageActionBar.svelte
  frontend/src/lib/components/SectionEditorModal.dom.test.ts
  frontend/src/lib/components/SectionEditorModal.fixture.svelte
  frontend/src/lib/components/SectionEditorModal.svelte
Due: frontend-lint

feat(frontend): add media editor modal with Button component cleanup
  frontend/src/lib/components/SectionEditorModal.svelte
  frontend/src/lib/components/editors/MediaEditor.svelte
  frontend/src/lib/components/form/EditFormShell.svelte
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/models/[slug]/media/+page.svelte
Due: frontend-lint

docs: refine ModelAndTitleUX section groupings
  docs/plans/ModelAndTitleUX.md
Due: none

refactor(frontend): reorganize model edit sections per ModelAndTitleUX
  frontend/src/lib/components/EditSectionMenu.dom.test.ts
  frontend/src/lib/components/EditSectionMenu.fixture.svelte
  frontend/src/lib/components/MenuItem.svelte
  frontend/src/lib/components/ModelSpecsSidebar.svelte
  frontend/src/lib/components/PageActionBar.dom.test.ts
  frontend/src/lib/components/SectionEditorModal.dom.test.ts
  frontend/src/lib/components/SectionEditorModal.fixture.svelte
  frontend/src/lib/components/editors/BasicsEditor.dom.test.ts
  frontend/src/lib/components/editors/BasicsEditor.fixture.svelte
  frontend/src/lib/components/editors/BasicsEditor.svelte
  frontend/src/lib/components/editors/FeaturesEditor.dom.test.ts
  frontend/src/lib/components/editors/FeaturesEditor.svelte
  frontend/src/lib/components/editors/RelatedModelsEditor.dom.test.ts
  frontend/src/lib/components/editors/RelatedModelsEditor.fixture.svelte
  frontend/src/lib/components/editors/RelatedModelsEditor.svelte
  frontend/src/lib/components/editors/SpecificationsEditor.fixture.svelte
  frontend/src/lib/components/editors/TechnologyEditor.dom.test.ts
  frontend/src/lib/components/editors/TechnologyEditor.fixture.svelte
  frontend/src/lib/components/editors/TechnologyEditor.svelte
  frontend/src/lib/components/editors/model-edit-sections.ts
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/models/[slug]/edit/[section]/+page.svelte
Due: frontend-lint

chore: ignore .claude/worktrees/
  .gitignore
Due: none

Update ModelAndTitleUX.md
  docs/plans/ModelAndTitleUX.md
Due: none

feat(frontend): add External Links and Other Models accordions on mobile model view
  frontend/src/lib/components/ModelHierarchy.svelte
  frontend/src/lib/components/ModelRelationshipsList.svelte
  frontend/src/routes/models/[slug]/+layout.svelte
Due: frontend-lint

feat(titles): per-section edit + sidebar refresh
  backend/config/api.py
  docs/plans/ModelAndTitleUX.md
  docs/plans/TitleReaderViewPlan.md
  frontend/src/lib/components/ModelSpecsSidebar.svelte
  frontend/src/lib/components/PageActionBar.svelte
  frontend/src/lib/components/TaxonomyLinkSidebarSection.svelte
  frontend/src/lib/components/edit-section-menu.ts
  frontend/src/lib/components/editors/TitleBasicsEditor.dom.test.ts
  frontend/src/lib/components/editors/TitleBasicsEditor.fixture.svelte
  frontend/src/lib/components/editors/TitleBasicsEditor.svelte
  frontend/src/lib/components/editors/TitleExternalDataEditor.dom.test.ts
  frontend/src/lib/components/editors/TitleExternalDataEditor.fixture.svelte
  frontend/src/lib/components/editors/TitleExternalDataEditor.svelte
  frontend/src/lib/components/editors/TitleOverviewEditor.dom.test.ts
  frontend/src/lib/components/editors/TitleOverviewEditor.fixture.svelte
  frontend/src/lib/components/editors/TitleOverviewEditor.svelte
  frontend/src/lib/components/editors/editor-contract.ts
  frontend/src/lib/components/editors/save-claims-shared.ts
  frontend/src/lib/components/editors/save-model-claims.ts
  frontend/src/lib/components/editors/save-title-claims.ts
  frontend/src/lib/components/editors/title-edit-options.ts
  frontend/src/lib/components/editors/title-edit-sections.ts
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/titles/[slug]/+layout.svelte
  frontend/src/routes/titles/[slug]/+page.svelte
  frontend/src/routes/titles/[slug]/edit/+page.svelte
  frontend/src/routes/titles/[slug]/edit/[section]/+layout.svelte
  frontend/src/routes/titles/[slug]/edit/[section]/+layout.ts
  frontend/src/routes/titles/[slug]/edit/[section]/+page.svelte
  frontend/src/routes/titles/[slug]/title-edit.test.ts
  frontend/src/routes/titles/[slug]/title-edit.ts
Due: ruff, ruff-format, frontend-lint

feat(titles): desktop modal edit flow with combined tier menu
  frontend/eslint.config.js
  frontend/src/lib/catalog-rules.ts
  frontend/src/lib/components/ManufacturerFilterSidebar.svelte
  frontend/src/lib/components/SearchableSelect.svelte
  frontend/src/lib/components/TitleFilterSidebar.svelte
  frontend/src/lib/components/editors/BasicsEditor.dom.test.ts
  frontend/src/lib/components/editors/BasicsEditor.fixture.svelte
  frontend/src/lib/components/editors/BasicsEditor.svelte
  frontend/src/lib/components/editors/TitleExternalDataEditor.svelte
  frontend/src/lib/components/editors/combined-edit-sections.test.ts
  frontend/src/lib/components/editors/combined-edit-sections.ts
  frontend/src/lib/components/editors/edit-action-context.ts
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/models/[slug]/edit/[section]/+page.svelte
  frontend/src/routes/titles/[slug]/+layout.svelte
  frontend/src/routes/titles/[slug]/+page.svelte
  frontend/src/routes/titles/[slug]/title-detail.test-harness.svelte
  frontend/src/routes/titles/[slug]/title-detail.test.ts
Due: frontend-lint

feat(frontend): focus-mode chrome on edit routes
  frontend/src/routes/+layout.svelte
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/titles/[slug]/+layout.svelte
Due: frontend-lint

feat(frontend): refine manufacturer detail editing
  frontend/src/lib/components/EditSectionShell.svelte
  frontend/src/lib/components/ExternalLinksSidebarSection.svelte
  frontend/src/lib/components/RichTextAccordionReader.svelte
  frontend/src/lib/components/SectionEditorForm.svelte
  frontend/src/lib/components/TaxonomyLinkSidebarSection.svelte
  frontend/src/lib/components/editors/edit-layout-context.ts
  frontend/src/lib/components/editors/manufacturer-edit-sections.test.ts
  frontend/src/lib/components/editors/manufacturer-edit-sections.ts
  frontend/src/lib/use-is-mobile.svelte.ts
  frontend/src/lib/utils.ts
  frontend/src/routes/manufacturers/[slug]/edit/+page.svelte
  frontend/src/routes/manufacturers/[slug]/edit/ManufacturerBasicsEditor.dom.test.ts
  frontend/src/routes/manufacturers/[slug]/edit/ManufacturerBasicsEditor.fixture.svelte
  frontend/src/routes/manufacturers/[slug]/edit/ManufacturerBasicsEditor.svelte
  frontend/src/routes/manufacturers/[slug]/edit/ManufacturerDescriptionEditor.svelte
  frontend/src/routes/manufacturers/[slug]/edit/ManufacturerEditorSwitch.svelte
  frontend/src/routes/manufacturers/[slug]/edit/ManufacturerNameEditor.dom.test.ts
  frontend/src/routes/manufacturers/[slug]/edit/ManufacturerNameEditor.fixture.svelte
  frontend/src/routes/manufacturers/[slug]/edit/ManufacturerNameEditor.svelte
  frontend/src/routes/manufacturers/[slug]/edit/[section]/+layout.svelte
  frontend/src/routes/manufacturers/[slug]/edit/[section]/+page.svelte
  frontend/src/routes/manufacturers/[slug]/edit/[section]/layout.test-harness.svelte
  frontend/src/routes/manufacturers/[slug]/edit/[section]/section-layout.test.ts
  frontend/src/routes/manufacturers/[slug]/edit/manufacturer-edit-types.ts
  frontend/src/routes/manufacturers/[slug]/edit/save-manufacturer-claims.ts
  frontend/src/routes/manufacturers/[slug]/manufacturer-layout.test.ts
  frontend/src/routes/models/[slug]/edit/[section]/+layout.svelte
  frontend/src/routes/titles/[slug]/edit/[section]/+layout.svelte
  frontend/src/routes/titles/[slug]/title-layout.test.ts
Due: frontend-lint

refactor(frontend): convert franchise to section-based detail pages
  frontend/src/lib/components/editors/franchise-edit-sections.ts
  frontend/src/routes/franchises/[slug]/+layout.svelte
  frontend/src/routes/franchises/[slug]/+page.svelte
  frontend/src/routes/franchises/[slug]/edit/+page.svelte
  frontend/src/routes/franchises/[slug]/edit/FranchiseDescriptionEditor.svelte
  frontend/src/routes/franchises/[slug]/edit/FranchiseEditorSwitch.svelte
  frontend/src/routes/franchises/[slug]/edit/FranchiseNameEditor.svelte
  frontend/src/routes/franchises/[slug]/edit/[section]/+layout.svelte
  frontend/src/routes/franchises/[slug]/edit/[section]/+layout.ts
  frontend/src/routes/franchises/[slug]/edit/[section]/+page.svelte
  frontend/src/routes/franchises/[slug]/edit/franchise-edit-types.ts
  frontend/src/routes/franchises/[slug]/edit/save-franchise-claims.ts
  frontend/src/routes/franchises/[slug]/franchises-detail.test.ts
Due: frontend-lint

refactor(frontend): convert series to section-based detail pages
  docs/plans/DetailRefactorGuide.md
  frontend/src/lib/components/editors/series-edit-sections.ts
  frontend/src/routes/series/[slug]/+layout.svelte
  frontend/src/routes/series/[slug]/+page.svelte
  frontend/src/routes/series/[slug]/edit/+page.svelte
  frontend/src/routes/series/[slug]/edit/SeriesDescriptionEditor.svelte
  frontend/src/routes/series/[slug]/edit/SeriesEditorSwitch.svelte
  frontend/src/routes/series/[slug]/edit/SeriesNameEditor.svelte
  frontend/src/routes/series/[slug]/edit/[section]/+layout.svelte
  frontend/src/routes/series/[slug]/edit/[section]/+layout.ts
  frontend/src/routes/series/[slug]/edit/[section]/+page.svelte
  frontend/src/routes/series/[slug]/edit/save-series-claims.ts
  frontend/src/routes/series/[slug]/edit/series-edit-types.ts
Due: frontend-lint

feat(catalog): user-driven Title deletion with undo and restore
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/api/soft_delete.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/models/title.py
  backend/apps/catalog/tests/test_api_title_delete.py
  backend/apps/catalog/tests/test_soft_delete_walker.py
  backend/apps/provenance/api.py
  backend/apps/provenance/rate_limits.py
  backend/apps/provenance/revert.py
  backend/apps/provenance/tests/test_rate_limits.py
  backend/apps/provenance/tests/test_undo_changeset.py
  frontend/src/lib/components/SectionEditorHost.svelte
  frontend/src/lib/toast/ToastHost.svelte
  frontend/src/lib/toast/toast.svelte.ts
  frontend/src/lib/toast/toast.test.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/titles/[slug]/+layout.svelte
  frontend/src/routes/titles/[slug]/delete/+page.ts
  frontend/src/routes/titles/[slug]/delete/+page@.svelte
  frontend/src/routes/titles/[slug]/delete/title-delete.test.ts
  frontend/src/routes/titles/[slug]/delete/title-delete.ts
  frontend/src/routes/titles/new/+page.svelte
Due: ruff, ruff-format, frontend-lint

chore(claude): add whitespace fixers to pre-commit-format hook
  .claude/hooks/pre-commit-format.sh
Due: none

refactor(frontend): consolidate description editors into one shared component
  frontend/src/lib/components/editors/DescriptionEditor.dom.test.ts
  frontend/src/lib/components/editors/DescriptionEditor.fixture.svelte
  frontend/src/lib/components/editors/DescriptionEditor.svelte
  frontend/src/lib/components/editors/OverviewEditor.dom.test.ts
  frontend/src/lib/components/editors/OverviewEditor.fixture.svelte
  frontend/src/lib/components/editors/TitleOverviewEditor.svelte
  frontend/src/lib/components/editors/save-title-claims.test.ts
  frontend/src/routes/display-types/[slug]/edit/DisplayTypeDescriptionEditor.svelte
  frontend/src/routes/display-types/[slug]/edit/DisplayTypeEditorSwitch.svelte
  frontend/src/routes/franchises/[slug]/edit/FranchiseDescriptionEditor.svelte
  frontend/src/routes/franchises/[slug]/edit/FranchiseEditorSwitch.svelte
  frontend/src/routes/manufacturers/[slug]/edit/ManufacturerDescriptionEditor.svelte
  frontend/src/routes/manufacturers/[slug]/edit/ManufacturerEditorSwitch.svelte
  frontend/src/routes/models/[slug]/edit/ModelEditorSwitch.svelte
  frontend/src/routes/people/[slug]/edit/PersonBioEditor.svelte
  frontend/src/routes/people/[slug]/edit/PersonEditorSwitch.svelte
  frontend/src/routes/series/[slug]/edit/SeriesDescriptionEditor.svelte
  frontend/src/routes/series/[slug]/edit/SeriesEditorSwitch.svelte
  frontend/src/routes/titles/[slug]/edit/TitleEditorSwitch.svelte
Due: frontend-lint

refactor(frontend): consolidate name editors into one shared component
  frontend/src/lib/components/editors/NameEditor.dom.test.ts
  frontend/src/lib/components/editors/NameEditor.fixture.svelte
  frontend/src/lib/components/editors/NameEditor.svelte
  frontend/src/lib/components/editors/save-claims-shared.ts
  frontend/src/routes/display-types/[slug]/edit/DisplayTypeDisplayOrderEditor.svelte
  frontend/src/routes/display-types/[slug]/edit/DisplayTypeEditorSwitch.svelte
  frontend/src/routes/display-types/[slug]/edit/DisplayTypeNameEditor.svelte
  frontend/src/routes/display-types/[slug]/edit/save-display-type-claims.test.ts
  frontend/src/routes/display-types/[slug]/edit/save-display-type-claims.ts
  frontend/src/routes/franchises/[slug]/edit/FranchiseEditorSwitch.svelte
  frontend/src/routes/franchises/[slug]/edit/save-franchise-claims.test.ts
  frontend/src/routes/franchises/[slug]/edit/save-franchise-claims.ts
  frontend/src/routes/manufacturers/[slug]/edit/ManufacturerBasicsEditor.svelte
  frontend/src/routes/manufacturers/[slug]/edit/ManufacturerEditorSwitch.svelte
  frontend/src/routes/manufacturers/[slug]/edit/ManufacturerNameEditor.dom.test.ts
  frontend/src/routes/manufacturers/[slug]/edit/ManufacturerNameEditor.svelte
  frontend/src/routes/manufacturers/[slug]/edit/save-manufacturer-claims.test.ts
  frontend/src/routes/manufacturers/[slug]/edit/save-manufacturer-claims.ts
  frontend/src/routes/people/[slug]/edit/PersonDetailsEditor.svelte
  frontend/src/routes/people/[slug]/edit/PersonEditorSwitch.svelte
  frontend/src/routes/people/[slug]/edit/PersonNameEditor.svelte
  frontend/src/routes/people/[slug]/edit/save-person-claims.test.ts
  frontend/src/routes/people/[slug]/edit/save-person-claims.ts
  frontend/src/routes/series/[slug]/edit/SeriesEditorSwitch.svelte
  frontend/src/routes/series/[slug]/edit/SeriesNameEditor.svelte
  frontend/src/routes/series/[slug]/edit/save-series-claims.test.ts
  frontend/src/routes/series/[slug]/edit/save-series-claims.ts
Due: frontend-lint

refactor(core): make hyphenated entity_type the canonical public API contract
  backend/apps/accounts/tests/test_user_profile.py
  backend/apps/catalog/management/commands/export_catalog_meta.py
  backend/apps/catalog/models/gameplay_feature.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/models/manufacturer.py
  backend/apps/catalog/models/person.py
  backend/apps/catalog/models/series.py
  backend/apps/catalog/models/system.py
  backend/apps/catalog/models/taxonomy.py
  backend/apps/catalog/models/theme.py
  backend/apps/catalog/models/title.py
  backend/apps/catalog/tests/test_api_claims_corporate_entity.py
  backend/apps/catalog/tests/test_export_catalog_meta.py
  backend/apps/core/entity_types.py
  backend/apps/core/models.py
  backend/apps/media/api.py
  backend/apps/media/tests/test_detach.py
  backend/apps/media/tests/test_upload_api.py
  backend/apps/provenance/api.py
  backend/apps/provenance/page_endpoints.py
  backend/config/api.py
  frontend/src/lib/api/catalog-meta.ts
  frontend/src/routes/corporate-entities/[slug]/edit-history/+page.server.ts
  frontend/src/routes/corporate-entities/[slug]/edit-history/edit-history.test.ts
  frontend/src/routes/corporate-entities/[slug]/sources/+page.svelte
  frontend/src/routes/display-subtypes/[slug]/sources/+page.svelte
  frontend/src/routes/display-types/[slug]/sources/+page.svelte
  frontend/src/routes/game-formats/[slug]/sources/+page.svelte
  frontend/src/routes/gameplay-features/[slug]/edit-history/+page.server.ts
  frontend/src/routes/gameplay-features/[slug]/edit-history/edit-history.test.ts
  frontend/src/routes/gameplay-features/[slug]/media/+page.svelte
  frontend/src/routes/gameplay-features/[slug]/media/upload/+page.svelte
  frontend/src/routes/gameplay-features/[slug]/sources/+page.svelte
  frontend/src/routes/reward-types/[slug]/sources/+page.svelte
  frontend/src/routes/technology-generations/[slug]/sources/+page.svelte
  frontend/src/routes/technology-subgenerations/[slug]/sources/+page.svelte
Due: ruff, ruff-format, frontend-lint

refactor(catalog): derive AI_DESC_SOURCE_REGISTRY from CatalogModel
  backend/apps/catalog/management/commands/ingest_pinbase.py
Due: ruff, ruff-format

refactor(api): use canonical entity_type in delete/review wire formats
  backend/apps/catalog/api/soft_delete.py
  backend/apps/catalog/tests/test_soft_delete_walker.py
  backend/apps/provenance/api.py
  frontend/src/lib/components/DeletePage.dom.test.ts
  frontend/src/lib/delete-flow.test.ts
  frontend/src/routes/titles/[slug]/delete/+page@.svelte
Due: ruff, ruff-format, frontend-lint

refactor(core): reparent CatalogModel under LinkableModel; add entity_type_plural
  backend/apps/catalog/apps.py
  backend/apps/catalog/management/commands/export_catalog_meta.py
  backend/apps/catalog/management/commands/ingest_pinbase.py
  backend/apps/catalog/models/gameplay_feature.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/models/manufacturer.py
  backend/apps/catalog/models/person.py
  backend/apps/catalog/models/series.py
  backend/apps/catalog/models/system.py
  backend/apps/catalog/models/taxonomy.py
  backend/apps/catalog/models/theme.py
  backend/apps/catalog/models/title.py
  backend/apps/catalog/tests/test_export_catalog_meta.py
  backend/apps/core/entity_types.py
  backend/apps/core/models.py
  backend/apps/media/api.py
  backend/apps/provenance/api.py
  backend/apps/provenance/page_endpoints.py
  backend/apps/provenance/tests/test_api_edit_history.py
  backend/config/api.py
  frontend/src/lib/api/catalog-meta.test.ts
  frontend/src/lib/api/catalog-meta.ts
  frontend/src/lib/components/EntityProvenance.svelte
  frontend/src/lib/components/editors/MediaEditor.svelte
  frontend/src/lib/components/media/MediaUploadZone.dom.test.ts
  frontend/src/lib/components/media/MediaUploadZone.svelte
  frontend/src/lib/edit-history-loader.ts
  frontend/src/lib/field-constraints.ts
  frontend/src/routes/changes/+page.svelte
  frontend/src/routes/gameplay-features/[slug]/media/upload/+page.svelte
  frontend/src/routes/manufacturers/[slug]/media/upload/+page.svelte
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/models/[slug]/edit/[section]/+page.svelte
  frontend/src/routes/models/[slug]/media/+page.svelte
  frontend/src/routes/people/[slug]/+layout.svelte
  frontend/src/routes/people/[slug]/edit/[section]/+page.svelte
  frontend/src/routes/people/[slug]/media/+page.svelte
  frontend/src/routes/people/[slug]/media/upload/+page.svelte
  frontend/src/routes/titles/[slug]/+layout.svelte
Due: ruff, ruff-format, frontend-lint

feat(catalog): create/delete/restore for Theme and GameplayFeature
  backend/apps/catalog/api/gameplay_features.py
  backend/apps/catalog/api/themes.py
  backend/apps/catalog/tests/test_api_taxonomy_crud.py
  docs/plans/EntityConversionStatus.md
  frontend/src/routes/gameplay-features/+page.svelte
  frontend/src/routes/gameplay-features/[slug]/+layout.svelte
  frontend/src/routes/gameplay-features/[slug]/delete/+page.ts
  frontend/src/routes/gameplay-features/[slug]/delete/+page@.svelte
  frontend/src/routes/gameplay-features/[slug]/delete/gameplay-feature-delete.ts
  frontend/src/routes/gameplay-features/new/+page.svelte
  frontend/src/routes/gameplay-features/new/+page.ts
  frontend/src/routes/themes/+page.svelte
  frontend/src/routes/themes/[slug]/+layout.svelte
  frontend/src/routes/themes/[slug]/delete/+page.ts
  frontend/src/routes/themes/[slug]/delete/+page@.svelte
  frontend/src/routes/themes/[slug]/delete/theme-delete.ts
  frontend/src/routes/themes/new/+page.svelte
  frontend/src/routes/themes/new/+page.ts
Due: ruff, ruff-format, frontend-lint

feat(catalog): block delete on active M2M referrers; alias-aware search
  backend/apps/catalog/api/entity_create.py
  backend/apps/catalog/api/gameplay_features.py
  backend/apps/catalog/api/soft_delete.py
  backend/apps/catalog/api/taxonomy.py
  backend/apps/catalog/api/themes.py
  backend/apps/catalog/models/gameplay_feature.py
  backend/apps/catalog/models/taxonomy.py
  backend/apps/catalog/models/theme.py
  backend/apps/catalog/tests/test_api_taxonomy_crud.py
  backend/apps/catalog/tests/test_soft_delete_walker.py
  frontend/src/lib/components/TaxonomyListPage.dom.test.ts
  frontend/src/lib/components/TaxonomyListPage.svelte
Due: ruff, ruff-format, frontend-lint

refactor(editors): declare usesSectionEditorForm on section defs
  frontend/src/lib/components/editors/franchise-edit-sections.ts
  frontend/src/lib/components/editors/manufacturer-edit-sections.ts
  frontend/src/lib/components/editors/series-edit-sections.ts
  frontend/src/routes/franchises/[slug]/+layout.svelte
  frontend/src/routes/manufacturers/[slug]/+layout.svelte
  frontend/src/routes/series/[slug]/+layout.svelte
Due: frontend-lint

feat(catalog): create/delete/restore for Series + Franchise
  backend/apps/catalog/api/franchises.py
  backend/apps/catalog/api/series.py
  backend/apps/catalog/tests/test_api_taxonomy_crud.py
  docs/plans/EntityConversionStatus.md
  frontend/src/lib/components/EditSectionMenu.svelte
  frontend/src/lib/components/edit-section-menu.ts
  frontend/src/lib/components/editors/TitleFranchiseEditor.dom.test.ts
  frontend/src/lib/components/editors/title-edit-options.ts
  frontend/src/routes/franchises/+page.svelte
  frontend/src/routes/franchises/[slug]/+layout.svelte
  frontend/src/routes/franchises/[slug]/delete/+page.ts
  frontend/src/routes/franchises/[slug]/delete/+page@.svelte
  frontend/src/routes/franchises/[slug]/delete/franchise-delete.ts
  frontend/src/routes/franchises/new/+page.svelte
  frontend/src/routes/franchises/new/+page.ts
  frontend/src/routes/series/+page.svelte
  frontend/src/routes/series/[slug]/+layout.svelte
  frontend/src/routes/series/[slug]/delete/+page.ts
  frontend/src/routes/series/[slug]/delete/+page@.svelte
  frontend/src/routes/series/[slug]/delete/series-delete.ts
  frontend/src/routes/series/new/+page.svelte
  frontend/src/routes/series/new/+page.ts
Due: ruff, ruff-format, frontend-lint

docs: retire entity-conversion tracker, relocate DetailLayoutPatterns
  docs/DetailLayoutPatterns.md
  docs/plans/DetailRefactorGuide.md
  docs/plans/EntityConversionStatus.md
  frontend/src/lib/components/RecordDetailShell.svelte
  frontend/src/lib/components/TaxonomyDetailBaseLayout.svelte
  frontend/src/lib/use-is-mobile.svelte.ts
Due: frontend-lint

refactor: rename machine_count to model_count across Title and System
  backend/apps/catalog/api/franchises.py
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/api/schemas.py
  backend/apps/catalog/api/series.py
  backend/apps/catalog/api/systems.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/tests/test_api_claims_additional_entities.py
  backend/apps/catalog/tests/test_api_titles.py
  frontend/src/lib/facet-engine.test.ts
  frontend/src/lib/facet-engine.ts
  frontend/src/routes/franchises/[slug]/franchises-detail.test.ts
  frontend/src/routes/series/[slug]/series-detail.test.ts
  frontend/src/routes/systems/+page.svelte
  frontend/src/routes/systems/systems-list.dom.test.ts
  frontend/src/routes/titles/titles-create-prompt.test.ts
Due: ruff, ruff-format, frontend-lint

feat(display-types): consolidate subtypes under grouped display-types page
  backend/apps/catalog/api/taxonomy.py
  backend/apps/catalog/tests/test_api_taxonomy_counts.py
  frontend/src/lib/components/SimpleTaxonomyDetailLayout.svelte
  frontend/src/lib/components/TaxonomyDetailBaseLayout.svelte
  frontend/src/lib/components/TaxonomyListPage.svelte
  frontend/src/routes/display-subtypes/+page.svelte
  frontend/src/routes/display-subtypes/[slug]/+layout.svelte
  frontend/src/routes/display-subtypes/[slug]/delete/+page.ts
  frontend/src/routes/display-subtypes/[slug]/delete/+page@.svelte
  frontend/src/routes/display-subtypes/new/+page.ts
  frontend/src/routes/display-types/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat(credit-roles): ranked people list + CRUD scaffolding
  backend/apps/catalog/api/page_endpoints.py
  backend/apps/catalog/api/taxonomy.py
  backend/apps/catalog/migrations/0003_creditrole_machine_models_creditrole_series_credited.py
  backend/apps/catalog/models/taxonomy.py
  backend/apps/catalog/tests/test_api_claims_additional_entities.py
  backend/apps/catalog/tests/test_api_credit_roles.py
  frontend/src/routes/credit-roles/+page.svelte
  frontend/src/routes/credit-roles/[slug]/+layout.server.ts
  frontend/src/routes/credit-roles/[slug]/+layout.svelte
  frontend/src/routes/credit-roles/[slug]/+layout.ts
  frontend/src/routes/credit-roles/[slug]/+page.svelte
  frontend/src/routes/credit-roles/[slug]/+page.ts
  frontend/src/routes/credit-roles/[slug]/credit-roles-detail.test.ts
  frontend/src/routes/credit-roles/[slug]/delete/+page.ts
  frontend/src/routes/credit-roles/[slug]/delete/+page@.svelte
  frontend/src/routes/credit-roles/[slug]/delete/credit-role-delete.ts
  frontend/src/routes/credit-roles/[slug]/edit-history/+page.server.ts
  frontend/src/routes/credit-roles/[slug]/edit-history/+page.svelte
  frontend/src/routes/credit-roles/[slug]/edit-history/edit-history.test.ts
  frontend/src/routes/credit-roles/[slug]/edit/+page.svelte
  frontend/src/routes/credit-roles/[slug]/edit/+page.ts
  frontend/src/routes/credit-roles/[slug]/edit/[section]/+layout.svelte
  frontend/src/routes/credit-roles/[slug]/edit/[section]/+page.svelte
  frontend/src/routes/credit-roles/[slug]/save-credit-role-claims.test.ts
  frontend/src/routes/credit-roles/[slug]/save-credit-role-claims.ts
  frontend/src/routes/credit-roles/[slug]/sources/+page.svelte
  frontend/src/routes/credit-roles/new/+page.svelte
  frontend/src/routes/credit-roles/new/+page.ts
Due: ruff, ruff-format, frontend-lint

feat(credit-roles): personalize detail page copy with role name
  frontend/src/lib/components/cards/PersonCard.svelte
  frontend/src/routes/credit-roles/+page.svelte
  frontend/src/routes/credit-roles/[slug]/+page.svelte
Due: frontend-lint

chore(backend): fix B017 violations
  backend/apps/accounts/tests/test_models.py
  backend/apps/citation/tests/test_seeding.py
  backend/pyproject.toml
Due: ruff, ruff-format
