Repository deanmoses/pinbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

.pre-commit-config.yaml:

repos:
  # Security + basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(pnpm-lock\.yaml|uv\.lock)$'

  # Markdown — formatting + linting
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.1
    hooks:
      - id: prettier
        types: [markdown]
        exclude: ^(CLAUDE|AGENTS)\.md$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2
        exclude: ^(CLAUDE|AGENTS)\.md$

  # Local hooks
  - repo: local
    hooks:
      # Python (backend) — use project's ruff via uv so pre-commit and CI
      # always run the identical binary (avoids platform formatting drift).
      # pass_filenames: false so ruff checks all backend files every time,
      # catching formatting issues from earlier commits too.
      - id: ruff
        name: ruff (legacy alias)
        entry: uv run --directory backend ruff check --fix .
        language: system
        files: ^backend/
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        entry: uv run --directory backend ruff format .
        language: system
        files: ^backend/
        pass_filenames: false
      # Auto-regenerate agent docs when source or build script changes
      - id: agent-docs-regen
        name: regenerate agent docs
        entry: bash -c 'python3 scripts/build_agent_docs.py && git add CLAUDE.md AGENTS.md'
        language: system
        files: ^(docs/AGENTS\.src\.md|scripts/build_agent_docs\.py)$
        pass_filenames: false

      # Block direct edits to generated agent docs (unless source or script also changed)
      - id: agent-docs-no-direct-edit
        name: check agent docs not edited directly
        entry: scripts/check_agent_docs_edit.sh
        language: script
        files: ^(CLAUDE|AGENTS)\.md$
        pass_filenames: false

      # Frontend lint
      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd frontend && pnpm lint'
        language: system
        files: ^frontend/
        pass_filenames: false

feat(frontend): add List + ListItem primitives and Button.fullWidth
  frontend/src/lib/components/Button.svelte
  frontend/src/lib/components/List.dom.test.ts
  frontend/src/lib/components/List.fixture.svelte
  frontend/src/lib/components/List.svelte
  frontend/src/lib/components/ListItem.svelte
Due: frontend-lint

feat(api): add kiosk resource + page endpoints
  backend/apps/kiosk/api/__init__.py
  backend/apps/kiosk/api/configs.py
  backend/apps/kiosk/api/pages.py
  backend/apps/kiosk/api/schemas.py
  backend/apps/kiosk/tests/test_api_configs.py
  backend/apps/kiosk/tests/test_api_pages.py
Due: ruff, ruff-format

feat(frontend): add kiosk cookies for configId + idleSeconds
  frontend/src/lib/kiosk/KioskMode.dom.test.ts
  frontend/src/lib/kiosk/KioskMode.svelte
  frontend/src/lib/kiosk/config.dom.test.ts
  frontend/src/lib/kiosk/config.ts
Due: frontend-lint

feat(kiosk): wire up /kiosk/edit routes and autosave editor
  backend/apps/kiosk/api/configs.py
  backend/apps/kiosk/api/pages.py
  backend/apps/kiosk/api/schemas.py
  backend/apps/kiosk/migrations/0002_alter_kioskconfig_options_and_more.py
  backend/apps/kiosk/migrations/0003_remove_kioskconfig_kiosk_kioskconfig_idle_seconds_range_and_more.py
  backend/apps/kiosk/models.py
  backend/apps/kiosk/tests/test_api_configs.py
  backend/apps/kiosk/tests/test_api_pages.py
  backend/apps/kiosk/tests/test_models.py
  frontend/src/lib/components/Button.dom.test.ts
  frontend/src/lib/components/Button.fixture.svelte
  frontend/src/lib/components/Button.svelte
  frontend/src/lib/components/LinkButton.svelte
  frontend/src/lib/components/List.svelte
  frontend/src/lib/components/ListItem.svelte
  frontend/src/lib/components/Nav.dom.test.ts
  frontend/src/lib/components/Nav.svelte
  frontend/src/lib/kiosk/KioskHome.svelte
  frontend/src/lib/kiosk/config.dom.test.ts
  frontend/src/lib/kiosk/config.ts
  frontend/src/routes/kiosk/+page.server.ts
  frontend/src/routes/kiosk/+page.svelte
  frontend/src/routes/kiosk/configure/+page.svelte
  frontend/src/routes/kiosk/edit/+layout.server.ts
  frontend/src/routes/kiosk/edit/+page.server.ts
  frontend/src/routes/kiosk/edit/+page.svelte
  frontend/src/routes/kiosk/edit/[id]/+page.server.ts
  frontend/src/routes/kiosk/edit/[id]/+page.svelte
  frontend/src/routes/kiosk/edit/[id]/editor-page.dom.test.ts
  frontend/src/routes/kiosk/edit/layout-server.test.ts
  frontend/src/routes/kiosk/edit/list-page.dom.test.ts
  frontend/src/routes/kiosk/page-server.test.ts
Due: ruff, ruff-format, frontend-lint

fix(frontend): raise --z-dropdown above --z-modal
  frontend/src/app.css
Due: frontend-lint

fix(frontend): forward Cookie header on cross-origin SSR fetches
  docs/ApiDesign.md
  docs/SSRConversion.md
  docs/Svelte.md
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/server.ts
  frontend/src/lib/provenance-loaders.test.ts
  frontend/src/lib/provenance-loaders.ts
  frontend/src/routes/cabinets/[slug]/+layout.server.ts
  frontend/src/routes/corporate-entities/[slug]/+layout.server.ts
  frontend/src/routes/credit-roles/[slug]/+layout.server.ts
  frontend/src/routes/display-subtypes/[slug]/+layout.server.ts
  frontend/src/routes/display-types/[slug]/+layout.server.ts
  frontend/src/routes/franchises/[slug]/+layout.server.ts
  frontend/src/routes/game-formats/[slug]/+layout.server.ts
  frontend/src/routes/gameplay-features/[slug]/+layout.server.ts
  frontend/src/routes/kiosk/+page.server.ts
  frontend/src/routes/kiosk/edit/+layout.server.ts
  frontend/src/routes/kiosk/edit/+page.server.ts
  frontend/src/routes/kiosk/edit/[id]/+page.server.ts
  frontend/src/routes/kiosk/edit/[id]/page-server.test.ts
  frontend/src/routes/kiosk/edit/layout-server.test.ts
  frontend/src/routes/kiosk/edit/page-server.test.ts
  frontend/src/routes/kiosk/page-server.test.ts
  frontend/src/routes/locations/[...path]/+layout.server.ts
  frontend/src/routes/manufacturers/[slug]/+layout.server.ts
  frontend/src/routes/models/[slug]/+layout.server.ts
  frontend/src/routes/people/[slug]/+layout.server.ts
  frontend/src/routes/reward-types/[slug]/+layout.server.ts
  frontend/src/routes/series/[slug]/+layout.server.ts
  frontend/src/routes/systems/[slug]/+layout.server.ts
  frontend/src/routes/tags/[slug]/+layout.server.ts
  frontend/src/routes/technology-generations/[slug]/+layout.server.ts
  frontend/src/routes/technology-subgenerations/[slug]/+layout.server.ts
  frontend/src/routes/themes/[slug]/+layout.server.ts
  frontend/src/routes/titles/[slug]/+layout.server.ts
Due: frontend-lint

Add plan doc for switching to a custom user model
  docs/plans/auth/CustomUserModel.md
Due: none

feat(backend): show unlicensed content to kiosk-mode devices
  backend/apps/catalog/api/locations.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/cache.py
  backend/apps/catalog/tests/test_api_cache.py
  backend/apps/core/licensing.py
  backend/apps/core/middleware.py
  backend/apps/core/tests/test_licensing.py
  backend/apps/core/tests/test_middleware.py
  backend/config/settings.py
Due: ruff, ruff-format

fix(core): replace regex-based lowercase CHECK with Lower() (#357)
  backend/apps/catalog/migrations/0002_remove_cabinet_catalog_cabinet_slug_lowercase_and_more.py
  backend/apps/core/migrations/0002_remove_license_core_license_slug_lowercase_and_more.py
  backend/apps/core/models.py
  backend/apps/core/tests/test_lowercase_constraint.py
  backend/apps/provenance/migrations/0002_remove_source_provenance_source_slug_lowercase_and_more.py
Due: ruff, ruff-format

Updated user / auth plans
  docs/plans/auth/Authz.md
  docs/plans/auth/SocialAccountSync.md
  docs/plans/auth/UserBanning.md
Due: none

chore(backend): silence auth.W004 for case-insensitive email uniqueness
  backend/config/settings.py
Due: ruff, ruff-format

refactor(api): collapse structured-error handlers onto a shared base
  backend/apps/catalog/api/edit_claims.py
  backend/apps/core/exceptions.py
  backend/apps/core/schemas.py
  backend/apps/core/tests/test_structured_errors.py
  backend/apps/provenance/rate_limits.py
  backend/config/api.py
  docs/plans/auth/Authz.md
Due: ruff, ruff-format

feat(authz): require email-verified on launch activities
  backend/apps/accounts/api.py
  backend/apps/accounts/apps.py
  backend/apps/accounts/migrations/0002_user_email_verified.py
  backend/apps/accounts/models.py
  backend/apps/accounts/test_factories.py
  backend/apps/accounts/tests/test_workos_auth.py
  backend/apps/catalog/authz.py
  backend/apps/citation/authz.py
  backend/apps/core/authz/exceptions.py
  backend/apps/core/authz/predicates.py
  backend/apps/core/authz/test_factories.py
  backend/apps/core/authz/types.py
  backend/apps/core/tests/test_authz_enforcement.py
  backend/apps/core/tests/test_authz_evaluator.py
  backend/apps/core/tests/test_authz_predicates.py
  backend/apps/core/tests/test_authz_registry_complete.py
  backend/apps/core/tests/test_route_inventory.py
  backend/apps/core/tests/test_validators.py
  backend/apps/kiosk/authz.py
  backend/apps/media/authz.py
  backend/apps/provenance/authz.py
  docs/plans/auth/Authz.md
Due: ruff, ruff-format

docs: add type:ignore and noqa to typing-smell catalogue
  AGENTS.md
  CLAUDE.md
  docs/AGENTS.src.md
  docs/Reviewing.md
Due: agent-docs-regen, agent-docs-no-direct-edit

Update auth planning docs
  docs/plans/auth/Authz.md
  docs/plans/auth/Verification.md
Due: none

docs: collapse Strong Typing smell list into one line
  AGENTS.md
  CLAUDE.md
  docs/AGENTS.src.md
Due: agent-docs-regen, agent-docs-no-direct-edit

feat(authz): fold superuser check into kiosk.edit policy
  backend/apps/core/tests/test_authz_registry_complete.py
  backend/apps/kiosk/api/configs.py
  backend/apps/kiosk/authz.py
  docs/plans/auth/Authz.md
Due: ruff, ruff-format

docs(authz): defer per-route 403 declaration decision to post-Phase-8
  docs/plans/auth/Authz.md
Due: none

docs: promote getattr to the typing-smells list
  AGENTS.md
  CLAUDE.md
  docs/AGENTS.src.md
  docs/plans/types/TypeFixing.md
Due: agent-docs-regen, agent-docs-no-direct-edit

feat(authz): lift changeset.undo author-scoping into the policy
  backend/apps/accounts/tests/test_me_capabilities.py
  backend/apps/catalog/tests/test_api_model_delete.py
  backend/apps/catalog/tests/test_api_title_delete.py
  backend/apps/core/authz/checks.py
  backend/apps/core/authz/enforce.py
  backend/apps/core/authz/evaluator.py
  backend/apps/core/authz/exceptions.py
  backend/apps/core/authz/purity.py
  backend/apps/core/authz/types.py
  backend/apps/core/tests/test_authz_enforcement.py
  backend/apps/core/tests/test_authz_registry_complete.py
  backend/apps/provenance/api.py
  backend/apps/provenance/authz.py
  backend/apps/provenance/revert.py
  backend/apps/provenance/tests/test_authz.py
  backend/apps/provenance/tests/test_undo_changeset.py
  docs/plans/auth/Authz.md
Due: ruff, ruff-format

feat(authz): structured denial for the revert edit-count check
  backend/apps/core/authz/exceptions.py
  backend/apps/core/authz/types.py
  backend/apps/core/tests/test_authz_enforcement.py
  backend/apps/provenance/api.py
  backend/apps/provenance/revert.py
  backend/apps/provenance/tests/test_revert.py
  docs/plans/auth/Authz.md
Due: ruff, ruff-format

refactor(authz): tighten types around policy_activities, revert, and route walker
  backend/apps/accounts/api.py
  backend/apps/core/authz/checks.py
  backend/apps/core/authz/route_walker.py
  backend/apps/provenance/page_endpoints.py
  backend/apps/provenance/revert.py
  backend/apps/provenance/schemas.py
Due: ruff, ruff-format

fix(frontend): transition wikilink dropdown to citation when toolbar clicked mid-flow
  frontend/src/lib/components/form/WikilinkAutocomplete.svelte
  frontend/src/lib/components/form/markdown-toolbar.dom.test.ts
Due: frontend-lint

docs: add Python.md typing guide
  AGENTS.md
  CLAUDE.md
  docs/AGENTS.src.md
  docs/Development.md
  docs/Python.md
  docs/Reviewing.md
  docs/plans/types/TypeFixing.md
Due: agent-docs-regen, agent-docs-no-direct-edit

fix(backend): resolve mypy errors across the ingest system
  backend/apps/catalog/ingestion/apply.py
  backend/apps/catalog/ingestion/bulk_utils.py
  backend/apps/catalog/ingestion/fandom_wiki.py
  backend/apps/catalog/ingestion/ipdb/adapter.py
  backend/apps/catalog/ingestion/ipdb/records.py
  backend/apps/catalog/ingestion/opdb/adapter.py
  backend/apps/catalog/ingestion/opdb/records.py
  backend/apps/catalog/ingestion/wikidata_sparql.py
  backend/apps/catalog/management/commands/ingest_pindata.py
  backend/apps/catalog/tests/test_ipdb_adapter.py
  backend/apps/catalog/tests/test_opdb_adapter.py
  backend/mypy-baseline.txt
Due: ruff, ruff-format

refactor(backend): use TypedDicts and JsonData for ingest dump shapes
  backend/apps/catalog/ingestion/fandom_wiki.py
  backend/apps/catalog/ingestion/wikidata_sparql.py
  backend/apps/catalog/management/commands/ingest_pindata.py
  backend/apps/catalog/tests/test_ingest_fandom.py
Due: ruff, ruff-format

refactor(backend): tighten ingest types against MypyFixing.md idioms
  backend/apps/catalog/ingestion/opdb/adapter.py
  backend/apps/catalog/management/commands/ingest_pindata.py
  backend/apps/catalog/tests/test_ipdb_adapter.py
  backend/apps/catalog/tests/test_opdb_adapter.py
Due: ruff, ruff-format

refactor(backend): replace target dict[str, Any] with ClaimTarget TypedDict
  backend/apps/catalog/ingestion/ipdb/adapter.py
  backend/apps/catalog/ingestion/opdb/adapter.py
  backend/apps/core/types.py
Due: ruff, ruff-format

docs(api): add schema-as-boundary-type rules to ApiDesign
  docs/ApiDesign.md
Due: none

refactor(frontend): migrate ActionMenu to floating action
  frontend/src/lib/actions/floating.ts
  frontend/src/lib/components/ActionMenu.dom.test.ts
  frontend/src/lib/components/ActionMenu.svelte
Due: frontend-lint

refactor(frontend): harden floating action pre-position hide
  frontend/src/lib/actions/floating.ts
  frontend/src/lib/components/ActionMenu.dom.test.ts
  frontend/src/lib/components/ActionMenu.portal.fixture.svelte
  frontend/src/lib/components/ActionMenu.svelte
Due: frontend-lint

refactor(frontend): migrate CitationTooltip to floating action
  frontend/src/lib/components/CitationTooltip.dom.test.ts
  frontend/src/lib/components/CitationTooltip.svelte
  frontend/src/lib/components/citation-tooltip.test.ts
  frontend/src/lib/components/citation-tooltip.ts
Due: frontend-lint

refactor(frontend): migrate SearchableSelect to floating action
  frontend/src/lib/actions/floating.ts
  frontend/src/lib/components/SearchableSelect.clip.fixture.svelte
  frontend/src/lib/components/SearchableSelect.dom.test.ts
  frontend/src/lib/components/SearchableSelect.svelte
Due: frontend-lint

refactor(catalog): narrow Model types on alias + markdown helpers
  backend/apps/catalog/api/entity_create.py
  backend/apps/catalog/resolve/_entities.py
Due: ruff, ruff-format

refactor(catalog): narrow Model types on relationship resolvers
  backend/apps/catalog/resolve/_relationships.py
Due: ruff, ruff-format

refactor(catalog): narrow _M2mCheck.model_class to CatalogModel
  backend/apps/catalog/management/commands/validate_catalog.py
Due: ruff, ruff-format

refactor(frontend): migrate surface + hero components to semantic color tokens
  frontend/.stylelintrc.cjs
  frontend/src/lib/components/Avatar.svelte
  frontend/src/lib/components/HeroHeader.svelte
  frontend/src/lib/kiosk/KioskHome.svelte
Due: frontend-lint

refactor(backend): tighten Any in generic API and picker registrations
  backend/apps/catalog/api/entity_crud.py
  backend/apps/core/wikilinks/picker.py
Due: ruff, ruff-format
