Repository deanmoses/pinbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

ruff:
  name: ruff (legacy alias)
  entry: uv run --directory backend ruff check --fix .
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: uv run --directory backend ruff format .
  language: system
  pass_filenames: false

agent-docs-regen:
  name: regenerate agent docs
  entry: bash -c 'python3 scripts/build_agent_docs.py && git add CLAUDE.md AGENTS.md'
  language: system
  pass_filenames: false

agent-docs-no-direct-edit:
  name: check agent docs not edited directly
  entry: scripts/check_agent_docs_edit.sh
  language: script
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd frontend && pnpm lint'
  language: system
  pass_filenames: false

docs: add project documentation and update README
  README.md
  docs/AppBoundaries.md
  docs/Architecture.md
  docs/Development.md
  docs/Overview.md
  docs/Testing.md
  docs/WebArchitecture.md
  docs/plans/DocRefresh.md
  docs/plans/Phase5-FandomWikidata.md
  docs/plans/README.md
  docs/plans/auth/Auth.md
  docs/plans/auth/AuthMail.md
  docs/plans/auth/AuthProviders.md
Due: none

feat(auth): integrate WorkOS AuthKit for SSO login
  .env.example
  backend/apps/accounts/admin.py
  backend/apps/accounts/api.py
  backend/apps/accounts/backends.py
  backend/apps/accounts/migrations/0001_initial.py
  backend/apps/accounts/models.py
  backend/apps/accounts/tests/test_models.py
  backend/apps/accounts/tests/test_workos_auth.py
  backend/apps/accounts/workos_client.py
  backend/config/settings.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/lib/auth.svelte.ts
  frontend/src/lib/components/Nav.svelte
  frontend/src/routes/login/+page.svelte
Due: ruff, ruff-format, frontend-lint

test: remove unnecessary passwords from create_user calls
  backend/apps/catalog/tests/test_api_claims.py
  backend/apps/catalog/tests/test_api_claims_additional_entities.py
  backend/apps/catalog/tests/test_api_claims_manufacturer_person.py
  backend/apps/catalog/tests/test_api_claims_model_relationships.py
  backend/apps/catalog/tests/test_api_claims_title.py
  backend/apps/catalog/tests/test_api_edit_history.py
  backend/apps/catalog/tests/test_db_constraints.py
  backend/apps/catalog/tests/test_description_html.py
  backend/apps/catalog/tests/test_source_enabled.py
  backend/apps/core/tests/test_validators.py
  backend/apps/media/tests/test_media_claims.py
  backend/apps/media/tests/test_upload_api.py
Due: ruff, ruff-format

docs(auth): add WorkOS cost estimate examples
  docs/plans/auth/Auth.md
  docs/plans/auth/AuthProviders.md
Due: none

docs: add plan for CorporateEntity name uniqueness
  docs/plans/CorporateEntityUniqueness.md
Due: none

fix(docker): install libavif for AVIF image support
  Dockerfile
Due: none

chore(deps): bump frontend and backend packages
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-lint

fix(nav): hide coffee stain overlays in dark mode
  frontend/src/lib/components/Nav.svelte
Due: frontend-lint

fix(media): rename "Primary" button to "Make Primary" for clarity
  frontend/src/lib/components/media/MediaCard.svelte
Due: frontend-lint

refactor: rename activity to sources in API response schema
  backend/apps/catalog/api/corporate_entities.py
  backend/apps/catalog/api/franchises.py
  backend/apps/catalog/api/gameplay_features.py
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/series.py
  backend/apps/catalog/api/systems.py
  backend/apps/catalog/api/taxonomy.py
  backend/apps/catalog/api/themes.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/tests/test_api_claims_additional_entities.py
  backend/apps/catalog/tests/test_api_claims_gameplay_feature.py
  backend/apps/catalog/tests/test_api_claims_manufacturer_person.py
  backend/apps/catalog/tests/test_api_claims_title.py
  backend/apps/catalog/tests/test_api_models.py
  backend/apps/catalog/tests/test_api_titles.py
  backend/apps/catalog/tests/test_source_enabled.py
  frontend/src/routes/cabinets/[slug]/sources/+page.svelte
  frontend/src/routes/corporate-entities/[slug]/sources/+page.svelte
  frontend/src/routes/display-subtypes/[slug]/sources/+page.svelte
  frontend/src/routes/display-types/[slug]/sources/+page.svelte
  frontend/src/routes/franchises/[slug]/sources/+page.svelte
  frontend/src/routes/game-formats/[slug]/sources/+page.svelte
  frontend/src/routes/gameplay-features/[slug]/sources/+page.svelte
  frontend/src/routes/manufacturers/[slug]/sources/+page.svelte
  frontend/src/routes/models/[slug]/sources/+page.svelte
  frontend/src/routes/people/[slug]/sources/+page.svelte
  frontend/src/routes/reward-types/[slug]/sources/+page.svelte
  frontend/src/routes/series/[slug]/sources/+page.svelte
  frontend/src/routes/systems/[slug]/sources/+page.svelte
  frontend/src/routes/tags/[slug]/sources/+page.svelte
  frontend/src/routes/technology-generations/[slug]/sources/+page.svelte
  frontend/src/routes/technology-subgenerations/[slug]/sources/+page.svelte
  frontend/src/routes/themes/[slug]/sources/+page.svelte
  frontend/src/routes/titles/[slug]/sources/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat: add user contributions page at /users/{username}
  backend/apps/accounts/api.py
  backend/apps/accounts/tests/test_user_profile.py
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/api/schemas.py
  backend/config/api.py
  frontend/src/lib/components/EditHistory.svelte
  frontend/src/lib/components/EntityProvenance.svelte
  frontend/src/lib/components/UserBadge.svelte
  frontend/src/routes/users/[username]/+page.svelte
  frontend/src/routes/users/[username]/+page.ts
Due: ruff, ruff-format, frontend-lint

refactor: extract shared infra for recent changes feature
  .gitignore
  Makefile
  backend/apps/accounts/api.py
  backend/apps/catalog/management/commands/export_catalog_meta.py
  backend/apps/catalog/tests/test_export_catalog_meta.py
  backend/apps/provenance/entity_resolution.py
  backend/apps/provenance/migrations/0002_add_recent_changes_indexes.py
  frontend/src/lib/api/media-api.test.ts
  frontend/src/lib/api/media-api.ts
  frontend/src/lib/components/media/MediaUploadZone.svelte
  frontend/src/routes/gameplay-features/[slug]/media/+page.svelte
  frontend/src/routes/gameplay-features/[slug]/media/upload/+page.svelte
  frontend/src/routes/manufacturers/[slug]/media/+page.svelte
  frontend/src/routes/manufacturers/[slug]/media/upload/+page.svelte
  frontend/src/routes/models/[slug]/media/+page.svelte
  frontend/src/routes/people/[slug]/media/+page.svelte
  frontend/src/routes/people/[slug]/media/upload/+page.svelte
  frontend/src/routes/titles/[slug]/media/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat(api): add recent changes endpoints with cursor pagination
  backend/apps/provenance/api.py
  backend/apps/provenance/pagination.py
  backend/apps/provenance/tests/test_recent_changes.py
  backend/config/api.py
Due: ruff, ruff-format

refactor: consolidate provenance schemas, helpers, and edit-history endpoints
  backend/apps/accounts/tests/test_user_profile.py
  backend/apps/catalog/api/corporate_entities.py
  backend/apps/catalog/api/franchises.py
  backend/apps/catalog/api/gameplay_features.py
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/schemas.py
  backend/apps/catalog/api/series.py
  backend/apps/catalog/api/systems.py
  backend/apps/catalog/api/taxonomy.py
  backend/apps/catalog/api/themes.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/tests/test_api_claims_corporate_entity.py
  backend/apps/catalog/tests/test_source_enabled.py
  backend/apps/provenance/api.py
  backend/apps/provenance/helpers.py
  backend/apps/provenance/history.py
  backend/apps/provenance/tests/test_api_edit_history.py
  backend/config/api.py
  frontend/src/routes/corporate-entities/[slug]/edit-history/+page.ts
  frontend/src/routes/franchises/[slug]/edit-history/+page.ts
  frontend/src/routes/gameplay-features/[slug]/edit-history/+page.ts
  frontend/src/routes/manufacturers/[slug]/edit-history/+page.ts
  frontend/src/routes/models/[slug]/edit-history/+page.ts
  frontend/src/routes/people/[slug]/edit-history/+page.ts
  frontend/src/routes/series/[slug]/edit-history/+page.ts
  frontend/src/routes/systems/[slug]/edit-history/+page.ts
  frontend/src/routes/themes/[slug]/edit-history/+page.ts
  frontend/src/routes/titles/[slug]/edit-history/+page.ts
Due: ruff, ruff-format, frontend-lint

fix: commit generated catalog-meta.ts (exports runtime values)
  .gitignore
  frontend/src/lib/api/catalog-meta.ts
Due: frontend-lint

feat: link username in nav to user profile page
  frontend/src/lib/components/Nav.svelte
Due: frontend-lint

refactor(backend): centralise resolution dispatch behind resolve_after_mutation()
  backend/apps/catalog/_alias_registry.py
  backend/apps/catalog/api/corporate_entities.py
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/api/gameplay_features.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/themes.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/claims.py
  backend/apps/catalog/resolve/__init__.py
  backend/apps/catalog/resolve/_dispatch.py
  backend/apps/catalog/resolve/_relationships.py
  backend/apps/catalog/tests/test_resolve_dispatch.py
  docs/plans/ResolutionBoundary.md
  docs/plans/user_engagement/RichText.md
Due: ruff, ruff-format

feat: add per-field one-click revert to edit history
  backend/apps/provenance/api.py
  backend/apps/provenance/constants.py
  backend/apps/provenance/history.py
  backend/apps/provenance/models/changeset.py
  backend/apps/provenance/models/claim.py
  backend/apps/provenance/revert.py
  backend/apps/provenance/tests/test_revert.py
  frontend/src/lib/components/EditHistory.svelte
  frontend/src/routes/corporate-entities/[slug]/edit-history/+page.svelte
  frontend/src/routes/corporate-entities/[slug]/edit-history/+page.ts
  frontend/src/routes/franchises/[slug]/edit-history/+page.svelte
  frontend/src/routes/franchises/[slug]/edit-history/+page.ts
  frontend/src/routes/gameplay-features/[slug]/edit-history/+page.svelte
  frontend/src/routes/gameplay-features/[slug]/edit-history/+page.ts
  frontend/src/routes/manufacturers/[slug]/edit-history/+page.svelte
  frontend/src/routes/manufacturers/[slug]/edit-history/+page.ts
  frontend/src/routes/models/[slug]/edit-history/+page.svelte
  frontend/src/routes/models/[slug]/edit-history/+page.ts
  frontend/src/routes/people/[slug]/edit-history/+page.svelte
  frontend/src/routes/people/[slug]/edit-history/+page.ts
  frontend/src/routes/series/[slug]/edit-history/+page.svelte
  frontend/src/routes/series/[slug]/edit-history/+page.ts
  frontend/src/routes/systems/[slug]/edit-history/+page.svelte
  frontend/src/routes/systems/[slug]/edit-history/+page.ts
  frontend/src/routes/themes/[slug]/edit-history/+page.svelte
  frontend/src/routes/themes/[slug]/edit-history/+page.ts
  frontend/src/routes/titles/[slug]/edit-history/+page.svelte
  frontend/src/routes/titles/[slug]/edit-history/+page.ts
Due: ruff, ruff-format, frontend-lint

refactor(api): autodiscover routers from app modules
  backend/apps/accounts/api.py
  backend/apps/catalog/api/__init__.py
  backend/apps/catalog/api/page_endpoints.py
  backend/apps/core/api.py
  backend/apps/media/api.py
  backend/apps/provenance/api.py
  backend/config/api.py
  backend/tests/test_router_registration.py
Due: ruff, ruff-format

Convert machine model detail page to SSR
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/page_endpoints.py
  backend/apps/catalog/tests/test_api_claims.py
  backend/apps/catalog/tests/test_api_models.py
  backend/apps/media/tests/test_api_response.py
  docs/SSRConversion.md
  frontend/src/routes/models/[slug]/+layout.server.ts
  frontend/src/routes/models/[slug]/+layout.ts
  frontend/src/routes/models/[slug]/+page.server.ts
  frontend/src/routes/models/[slug]/edit-history/+page.server.ts
  frontend/src/routes/models/[slug]/edit-history/+page.ts
  frontend/src/routes/models/[slug]/edit-history/edit-history.test.ts
  frontend/src/routes/models/[slug]/edit/+page.ts
  frontend/src/routes/models/[slug]/media/+page.ts
  frontend/src/routes/models/[slug]/media/upload/+page.ts
  frontend/src/routes/models/[slug]/model-detail.test.ts
Due: ruff, ruff-format, frontend-lint

refactor(frontend): add global form input base styles and extract YearRangeInput
  frontend/src/app.css
  frontend/src/lib/components/ManufacturerFilterSidebar.svelte
  frontend/src/lib/components/SearchBox.svelte
  frontend/src/lib/components/SearchableSelect.svelte
  frontend/src/lib/components/TitleFilterSidebar.svelte
  frontend/src/lib/components/YearRangeInput.svelte
  frontend/src/lib/components/form/MarkdownTextArea.svelte
  frontend/src/lib/components/form/MonthSelect.svelte
  frontend/src/lib/components/form/NumberField.svelte
  frontend/src/lib/components/form/TagInput.svelte
  frontend/src/lib/components/form/TextAreaField.svelte
  frontend/src/lib/components/form/TextField.svelte
  frontend/src/routes/+page.svelte
Due: frontend-lint

refactor(frontend): add size prop to FaIcon and remove :global(svg) rules
  frontend/src/lib/components/FaIcon.svelte
  frontend/src/lib/components/FilterDrawer.svelte
  frontend/src/lib/components/Nav.svelte
  frontend/src/lib/components/SearchBox.svelte
Due: frontend-lint

fix(deploy): disable Caddy auto-HTTPS for Railway
  Caddyfile
Due: none

fix(deploy): remove SECURE_SSL_REDIRECT — Django is internal-only
  Caddyfile
  backend/config/settings.py
Due: ruff, ruff-format

fix(deploy): always allow localhost in ALLOWED_HOSTS for internal traffic
  backend/config/settings.py
Due: ruff, ruff-format

perf: 6-54x faster cold-cache rebuild for /all/ endpoints
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/titles.py
Due: ruff, ruff-format

refactor(frontend): extract PageHeader shared component
  frontend/src/lib/components/Breadcrumb.svelte
  frontend/src/lib/components/DetailPage.svelte
  frontend/src/lib/components/EntityDetailLayout.svelte
  frontend/src/lib/components/LocationDetailPage.svelte
  frontend/src/lib/components/PageHeader.svelte
  frontend/src/lib/components/TaxonomyListPage.svelte
  frontend/src/routes/cabinets/[slug]/+layout.svelte
  frontend/src/routes/corporate-entities/+page.svelte
  frontend/src/routes/corporate-entities/[slug]/+layout.svelte
  frontend/src/routes/credit-roles/[slug]/+page.svelte
  frontend/src/routes/display-subtypes/[slug]/+layout.svelte
  frontend/src/routes/display-types/[slug]/+layout.svelte
  frontend/src/routes/franchises/+page.svelte
  frontend/src/routes/franchises/[slug]/+layout.svelte
  frontend/src/routes/game-formats/[slug]/+layout.svelte
  frontend/src/routes/gameplay-features/[slug]/+layout.svelte
  frontend/src/routes/locations/+page.svelte
  frontend/src/routes/manufacturers/[slug]/+layout.svelte
  frontend/src/routes/people/[slug]/+layout.svelte
  frontend/src/routes/review/+page.svelte
  frontend/src/routes/reward-types/[slug]/+layout.svelte
  frontend/src/routes/series/[slug]/+layout.svelte
  frontend/src/routes/systems/+page.svelte
  frontend/src/routes/systems/[slug]/+layout.svelte
  frontend/src/routes/tags/[slug]/+layout.svelte
  frontend/src/routes/technology-generations/[slug]/+layout.svelte
  frontend/src/routes/technology-subgenerations/[slug]/+layout.svelte
  frontend/src/routes/themes/[slug]/+layout.svelte
Due: frontend-lint

feat(frontend): enable SSR for all detail pages
  frontend/src/routes/cabinets/[slug]/+layout.ts
  frontend/src/routes/corporate-entities/[slug]/+layout.ts
  frontend/src/routes/display-subtypes/[slug]/+layout.ts
  frontend/src/routes/display-types/[slug]/+layout.ts
  frontend/src/routes/franchises/[slug]/+layout.ts
  frontend/src/routes/game-formats/[slug]/+layout.ts
  frontend/src/routes/gameplay-features/[slug]/+layout.ts
  frontend/src/routes/manufacturers/[slug]/+layout.ts
  frontend/src/routes/models/[slug]/+layout.ts
  frontend/src/routes/people/[slug]/+layout.ts
  frontend/src/routes/reward-types/[slug]/+layout.ts
  frontend/src/routes/series/[slug]/+layout.ts
  frontend/src/routes/systems/[slug]/+layout.ts
  frontend/src/routes/tags/[slug]/+layout.ts
  frontend/src/routes/technology-generations/[slug]/+layout.ts
  frontend/src/routes/technology-subgenerations/[slug]/+layout.ts
  frontend/src/routes/themes/[slug]/+layout.ts
  frontend/src/routes/titles/[slug]/+layout.ts
Due: frontend-lint

docs: reorganize planning docs into topic directories and add citation research
  docs/plans/ArchitectureBrief.md
  docs/plans/citations/CitationDomainModel.md
  docs/plans/citations/CitationGranularity.md
  docs/plans/citations/CitationSharing.md
  docs/plans/citations/Citations.md
  docs/plans/citations/CitationsBusinessCase.md
  docs/plans/citations/CitationsChallenges.md
  docs/plans/citations/CitationsDesign.md
  docs/plans/citations/CitationsPriorArt.md
  docs/plans/provenance/ClaimsResolutionBoundary.md
  docs/plans/provenance/ProvenanceSimplification.md
  docs/plans/user_engagement/Citations.md
Due: none

docs: flesh out citation domain model, design decisions, and field analysis
  docs/plans/citations/CitationDomainModel.md
  docs/plans/citations/CitationGranularity.md
  docs/plans/citations/CitationSourceTypes.md
  docs/plans/citations/Citations.md
  docs/plans/citations/CitationsChallenges.md
  docs/plans/citations/CitationsDesign.md
Due: none

docs(citations): add source seeding and governance notes
  docs/plans/citations/CitationDomainModel.md
  docs/plans/citations/CitationSourceSeeding.md
  docs/plans/citations/Citations.md
  docs/plans/citations/CitationsDesign.md
Due: none

refactor(backend): move inline imports to module top level
  backend/apps/catalog/api/corporate_entities.py
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/api/franchises.py
  backend/apps/catalog/api/gameplay_features.py
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/api/locations.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/page_endpoints.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/series.py
  backend/apps/catalog/api/systems.py
  backend/apps/catalog/api/taxonomy.py
  backend/apps/catalog/api/themes.py
  backend/apps/catalog/api/titles.py
  backend/apps/core/models.py
  backend/config/api.py
Due: ruff, ruff-format

refactor: rename "machine model" to "model" across UI, API params, and labels
  backend/apps/accounts/tests/test_user_profile.py
  backend/apps/catalog/management/commands/export_catalog_meta.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/tests/test_edit_claims.py
  backend/apps/catalog/tests/test_export_catalog_meta.py
  backend/apps/core/entity_types.py
  backend/apps/media/api.py
  backend/apps/media/tests/test_detach.py
  backend/apps/media/tests/test_set_primary.py
  backend/apps/media/tests/test_upload_api.py
  backend/apps/provenance/api.py
  backend/apps/provenance/page_endpoints.py
  backend/apps/provenance/tests/test_api_edit_history.py
  backend/apps/provenance/tests/test_changes.py
  backend/apps/provenance/tests/test_revert.py
  backend/config/admin_views.py
  backend/config/api.py
  frontend/src/lib/api/catalog-meta.ts
  frontend/src/lib/api/media-api.test.ts
  frontend/src/lib/components/media/MediaUploadZone.svelte
  frontend/src/lib/media-upload.test.ts
  frontend/src/routes/models/[slug]/edit-history/+page.server.ts
  frontend/src/routes/models/[slug]/edit-history/edit-history.test.ts
  frontend/src/routes/models/[slug]/edit/+page.svelte
  frontend/src/routes/models/[slug]/media/+page.svelte
  frontend/src/routes/models/[slug]/media/upload/+page.svelte
  frontend/src/routes/titles/[slug]/media/+page.svelte
  frontend/src/routes/titles/[slug]/media/upload/+page.svelte
Due: ruff, ruff-format, frontend-lint

fix: dropdown click/focus/close regressions in MarkdownTextArea
  frontend/src/lib/components/form/MarkdownTextArea.svelte
Due: frontend-lint

feat(citation): add Internet Archive links to book seed data
  backend/apps/citation/seed_data/books.py
Due: ruff, ruff-format

test(frontend): add DOM testing infrastructure with jsdom + @testing-library/svelte
  docs/Testing.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/components/form/DropdownHeader.svelte
  frontend/src/lib/components/form/DropdownSearchInput.svelte
  frontend/src/lib/components/form/WikilinkAutocomplete.svelte
  frontend/src/lib/components/form/wikilink-autocomplete.dom.test.ts
  frontend/src/tests/setup-dom.ts
  frontend/vitest.config.ts
Due: frontend-lint

test(frontend): add markdown citation integration tests
  frontend/src/lib/components/form/CitationAutocomplete.svelte
  frontend/src/lib/components/form/citation-autocomplete.dom.test.ts
  frontend/src/lib/components/form/markdown-textarea-citation.dom.test.ts
Due: frontend-lint

Add citation UX planning docs
  docs/plans/citations/CitationEditUX.md
  docs/plans/citations/CitationEditUXImprovements.md
Due: none

feat: citation state machine improvements and reactive scroll/focus
  backend/apps/citation/api.py
  backend/apps/citation/migrations/0002_citationsource_identifier_key.py
  backend/apps/citation/migrations/0003_citationsource_citation_citationsource_identifier_key_valid.py
  backend/apps/citation/models.py
  backend/apps/citation/seed_data/websites.py
  backend/apps/citation/seeding.py
  backend/apps/citation/tests/test_api.py
  backend/apps/citation/tests/test_db_constraints.py
  backend/apps/citation/tests/test_seeding.py
  docs/TestingFrontend.md
  frontend/src/lib/components/FilterDrawer.svelte
  frontend/src/lib/components/SearchableSelect.dom.test.ts
  frontend/src/lib/components/SearchableSelect.svelte
  frontend/src/lib/components/form/CitationAutocomplete.svelte
  frontend/src/lib/components/form/EditCitationField.svelte
  frontend/src/lib/components/form/MarkdownTextArea.svelte
  frontend/src/lib/components/form/WikilinkAutocomplete.svelte
  frontend/src/lib/components/form/citation-autocomplete.dom.test.ts
  frontend/src/lib/components/form/citation-fixtures.ts
  frontend/src/lib/components/form/citation/CitationAutocomplete.svelte
  frontend/src/lib/components/form/citation/CitationCreateStage.svelte
  frontend/src/lib/components/form/citation/CitationIdentifyByInputStage.svelte
  frontend/src/lib/components/form/citation/CitationIdentifyBySearchStage.svelte
  frontend/src/lib/components/form/citation/CitationLocatorStage.svelte
  frontend/src/lib/components/form/citation/CitationSearchStage.svelte
  frontend/src/lib/components/form/citation/citation-autocomplete.dom.test.ts
  frontend/src/lib/components/form/citation/citation-fixtures.ts
  frontend/src/lib/components/form/citation/citation-types.test.ts
  frontend/src/lib/components/form/citation/citation-types.ts
  frontend/src/lib/components/form/markdown-textarea-citation.dom.test.ts
  frontend/src/lib/components/form/markdown-textarea.dom.test.ts
Due: ruff, ruff-format, frontend-lint

Path conditions:
  ruff: any of: ^backend/
  ruff-format: any of: ^backend/
  agent-docs-regen: any of: ^(docs/AGENTS\.src\.md|scripts/build_agent_docs\.py)$
  agent-docs-no-direct-edit: any of: ^(CLAUDE|AGENTS)\.md$
  frontend-lint: any of: ^frontend/
