Repository deanmoses/pinbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

.pre-commit-config.yaml:

repos:
  # Security + basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(pnpm-lock\.yaml|uv\.lock)$'

  # Markdown — formatting + linting
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.1
    hooks:
      - id: prettier
        types: [markdown]
        exclude: ^(CLAUDE|AGENTS)\.md$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2
        exclude: ^(CLAUDE|AGENTS)\.md$

  # Local hooks
  - repo: local
    hooks:
      # Python (backend) — use project's ruff via uv so pre-commit and CI
      # always run the identical binary (avoids platform formatting drift).
      # pass_filenames: false so ruff checks all backend files every time,
      # catching formatting issues from earlier commits too.
      - id: ruff
        name: ruff (legacy alias)
        entry: uv run --directory backend ruff check --fix .
        language: system
        files: ^backend/
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        entry: uv run --directory backend ruff format .
        language: system
        files: ^backend/
        pass_filenames: false
      # Auto-regenerate agent docs when source or build script changes
      - id: agent-docs-regen
        name: regenerate agent docs
        entry: bash -c 'python3 scripts/build_agent_docs.py && git add CLAUDE.md AGENTS.md'
        language: system
        files: ^(docs/AGENTS\.src\.md|scripts/build_agent_docs\.py)$
        pass_filenames: false

      # Block direct edits to generated agent docs (unless source or script also changed)
      - id: agent-docs-no-direct-edit
        name: check agent docs not edited directly
        entry: scripts/check_agent_docs_edit.sh
        language: script
        files: ^(CLAUDE|AGENTS)\.md$
        pass_filenames: false

      # Frontend lint
      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd frontend && pnpm lint'
        language: system
        files: ^frontend/
        pass_filenames: false

feat: lowercase slugs and case-insensitive name uniqueness
  backend/apps/catalog/api/entity_create.py
  backend/apps/catalog/api/entity_crud.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/migrations/0006_location_name_required_and_unique_per_parent.py
  backend/apps/catalog/migrations/0007_slugs_lowercase_and_name_unique_ci.py
  backend/apps/catalog/models/gameplay_feature.py
  backend/apps/catalog/models/location.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/models/manufacturer.py
  backend/apps/catalog/models/person.py
  backend/apps/catalog/models/series.py
  backend/apps/catalog/models/system.py
  backend/apps/catalog/models/taxonomy.py
  backend/apps/catalog/models/theme.py
  backend/apps/catalog/models/title.py
  backend/apps/catalog/resolve/_helpers.py
  backend/apps/catalog/tests/test_api_manufacturer_create.py
  backend/apps/catalog/tests/test_db_constraints.py
  backend/apps/catalog/tests/test_resolve.py
  backend/apps/core/migrations/0002_license_slug_lowercase_and_name_unique_ci.py
  backend/apps/core/models.py
  backend/apps/core/tests/test_linkability_contract.py
  backend/apps/core/validators.py
  backend/apps/provenance/migrations/0003_source_slug_lowercase_and_name_unique_ci.py
  backend/apps/provenance/models/source.py
  backend/apps/provenance/validation.py
  frontend/src/lib/components/CreatePage.svelte
  frontend/src/lib/components/editors/NameEditor.svelte
Due: ruff, ruff-format, frontend-lint

docs(plans): update plan docs and add ModelDrivenDeletePage
  docs/plans/model_driven_metadata/LocationCrud.md
  docs/plans/model_driven_metadata/ModelDrivenDeletePage.md
  docs/plans/model_driven_metadata/ModelDrivenLinkability.md
  docs/plans/model_driven_metadata/ModelDrivenNamedMetadata.md
  docs/plans/model_driven_metadata/ModelDrivenSoftDeleteMetadata.md
  docs/plans/provenance/ClaimsNextGen.md
  docs/plans/types/CatalogResolveBaselineCleanup.md
  docs/plans/types/ClaimControlledModel.md
  docs/plans/types/MypyFixing.md
Due: none

backend: extend register_entity_create with hooks for Location
  backend/apps/catalog/api/corporate_entities.py
  backend/apps/catalog/api/entity_create.py
  backend/apps/catalog/api/entity_crud.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/systems.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/tests/test_entity_crud_registrar.py
  docs/plans/model_driven_metadata/LocationCrud.md
Due: ruff, ruff-format

feat(backend): ship Location write router (create, PATCH, delete, restore)
  backend/apps/catalog/api/__init__.py
  backend/apps/catalog/api/entity_crud.py
  backend/apps/catalog/api/locations_write.py
  backend/apps/catalog/tests/test_api_locations_write.py
  backend/apps/catalog/tests/test_api_schema_boundaries.py
  docs/plans/model_driven_metadata/LocationCrud.md
Due: ruff, ruff-format

docs: clarify model-driven API direction
  docs/plans/model_driven_metadata/ModelDrivenApi.md
  docs/plans/model_driven_metadata/ModelDrivenDeletePage.md
  docs/plans/model_driven_metadata/ModelDrivenEntityContract.md
  docs/plans/model_driven_metadata/ModelDrivenMetadata.md
  docs/plans/model_driven_metadata/ModelDrivenMetadataCleanup.md
Due: none

refactor(catalog): split api/helpers.py into images and rich_text modules
  backend/apps/catalog/api/corporate_entities.py
  backend/apps/catalog/api/franchises.py
  backend/apps/catalog/api/gameplay_features.py
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/api/images.py
  backend/apps/catalog/api/locations.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/rich_text.py
  backend/apps/catalog/api/series.py
  backend/apps/catalog/api/systems.py
  backend/apps/catalog/api/taxonomy.py
  backend/apps/catalog/api/themes.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/tests/test_image_licensing.py
  backend/apps/media/helpers.py
  backend/apps/media/tests/test_api_response.py
  backend/apps/media/tests/test_helpers.py
Due: ruff, ruff-format

docs: clarify wikilink syntax and refine plan notes
  docs/Ingest.md
  docs/plans/model_driven_metadata/ModelDrivenMetadataViolations.md
  docs/plans/model_driven_metadata/ModelDrivenWikilinkableMetadata.md
Due: none

refactor(core): drop unused fenced_code_ranges from markdown module
  backend/apps/core/markdown.py
Due: ruff, ruff-format

chore(migrations): squash all app migrations to 0001_initial
  backend/apps/accounts/migrations/0001_initial.py
  backend/apps/accounts/migrations/0002_userprofile_updated_at.py
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/migrations/0002_alter_system_manufacturer.py
  backend/apps/catalog/migrations/0003_creditrole_machine_models_creditrole_series_credited.py
  backend/apps/catalog/migrations/0004_corporateentitylocation_created_at_and_more.py
  backend/apps/catalog/migrations/0005_location_catalog_location_unique_slug_per_parent_and_more.py
  backend/apps/catalog/migrations/0006_location_name_required_and_unique_per_parent.py
  backend/apps/catalog/migrations/0007_slugs_lowercase_and_name_unique_ci.py
  backend/apps/catalog/migrations/0008_location_corporate_entities.py
  backend/apps/citation/migrations/0001_initial.py
  backend/apps/core/migrations/0001_initial.py
  backend/apps/core/migrations/0002_license_slug_lowercase_and_name_unique_ci.py
  backend/apps/media/migrations/0001_initial.py
  backend/apps/provenance/migrations/0001_initial.py
  backend/apps/provenance/migrations/0002_changeset_action.py
  backend/apps/provenance/migrations/0003_source_slug_lowercase_and_name_unique_ci.py
Due: ruff, ruff-format

fix(ingest): populate Location parent FK at insert time
  backend/apps/catalog/management/commands/ingest_pinbase.py
  backend/apps/catalog/tests/test_ingest_pinbase_locations.py
Due: ruff, ruff-format

Modify task issue template title
  .github/ISSUE_TEMPLATE/task.yml
Due: none

Fix indentation for task description field
  .github/ISSUE_TEMPLATE/task.yml
Due: none

Create feature issue template
  .github/ISSUE_TEMPLATE/feature.yml
Due: none

Simplify bug report template fields
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

chore(caddy): wrap www-redirect in its own handle block
  Caddyfile
Due: none

docs: tighten DataModeling.md prose and base-class descriptions
  docs/DataModeling.md
Due: none

doc updates on the move to idrive/bunny
  docs/Hosting.md
  docs/WebArchitecture.md
Due: none

rename: ingest_pinbase → ingest_pindata, scrub stale "Pinbase" refs
  backend/apps/catalog/management/commands/ingest_pindata.py
  backend/apps/catalog/tests/test_ingest_pindata_franchise.py
  backend/apps/catalog/tests/test_ingest_pindata_locations.py
  backend/apps/catalog/tests/test_ingest_pindata_models.py
  backend/apps/catalog/tests/test_ingest_pindata_series.py
  backend/apps/catalog/tests/test_ingest_pindata_themes.py
  backend/apps/catalog/tests/test_ingest_pindata_wikilinks.py
Due: ruff, ruff-format

docs/plans: mechanical rename pass — pinbase → pindata / "this project"
  docs/plans/AllTheData.md
  docs/plans/DocRefresh.md
  docs/plans/SeriesCreditClaims.md
  docs/plans/SlugEditUI.md
  docs/plans/UserModel.md
  docs/plans/ValidationFix.md
  docs/plans/WritePathMatrix.md
  docs/plans/auth/Auth.md
  docs/plans/auth/AuthProviders.md
  docs/plans/catalog_data_model/CorporateEntityUniqueness.md
  docs/plans/catalog_data_model/field-ownership-matrix.md
  docs/plans/citations/CitationAutogenerationDesign.md
  docs/plans/citations/CitationDecisions.md
  docs/plans/citations/Citations.md
  docs/plans/citations/CitationsDesign.md
  docs/plans/ingest/IngestRefactor.md
  docs/plans/ingest/Phase5-FandomWikidata.md
  docs/plans/media/Media.md
  docs/plans/media/Renditions.md
  docs/plans/media/Video.md
  docs/plans/model_driven_metadata/ModelDrivenCatalogRelationshipMetadata.md
  docs/plans/model_driven_metadata/ModelDrivenWikilinkableMetadata.md
  docs/plans/provenance/ChangeSet.md
  docs/plans/provenance/ClaimsNextGen.md
  docs/plans/provenance/ClaimsResolutionBoundary.md
  docs/plans/provenance/ProvenanceSimplification.md
  docs/plans/types/MypyFixing.md
  docs/plans/types/apiboundary/ApiErrors.md
  docs/plans/user_engagement/RichText.md
  docs/plans/user_engagement/TalkPages.md
  docs/plans/user_engagement/TargetUsers.md
  docs/plans/user_engagement/UserAttribution.md
  docs/plans/user_engagement/UserEngagement.md
  docs/plans/user_engagement/UserEngagementLandscape.md
  docs/plans/user_engagement/Watchlists.md
Due: none

docs/plans: replace 'pinbase' / 'pinbase-titles' slugs with flipcommons-catalog
  docs/plans/WritePathMatrix.md
  docs/plans/catalog_data_model/field-ownership-matrix.md
Due: none

Rename
  docs/plans/AllTheData.md
  docs/plans/catalog_data_model/field-ownership-matrix.md
  docs/plans/media/Media.md
  docs/plans/media/Renditions.md
  docs/plans/media/Video.md
Due: none

media: add PillSelect dropdown, wire image-category UI (no backend yet)
  frontend/src/lib/components/ActionMenu.dom.test.ts
  frontend/src/lib/components/ActionMenu.listbox.fixture.svelte
  frontend/src/lib/components/ActionMenu.svelte
  frontend/src/lib/components/MenuItem.svelte
  frontend/src/lib/components/PillSelect.dom.test.ts
  frontend/src/lib/components/PillSelect.fixture.svelte
  frontend/src/lib/components/PillSelect.svelte
  frontend/src/lib/components/editors/MediaEditor.svelte
  frontend/src/lib/components/media/MediaCard.dom.test.ts
  frontend/src/lib/components/media/MediaCard.svelte
  frontend/src/lib/components/media/MediaGrid.svelte
Due: frontend-lint

media tests: lowercase category fixture strings to match production
  frontend/src/lib/components/media/MediaCard.dom.test.ts
  frontend/src/lib/components/media/MediaGrid.dom.test.ts
  frontend/src/lib/components/media/media-test-fixtures.ts
  frontend/src/routes/manufacturers/[slug]/manufacturer-detail.test.ts
Due: frontend-lint

media: add set-category endpoint and wire UI
  backend/apps/media/api.py
  backend/apps/media/schemas.py
  backend/apps/media/tests/test_set_category.py
  frontend/src/lib/api/media-api.ts
  frontend/src/lib/components/editors/MediaEditor.svelte
Due: ruff, ruff-format, frontend-lint

media editor: separate write/refresh error scopes; toast all writes
  frontend/src/lib/components/editors/MediaEditor.svelte
Due: frontend-lint

media: mode-toggle upload UX; require category; drop is_primary
  backend/apps/media/api.py
  backend/apps/media/schemas.py
  backend/apps/media/tests/test_upload_api.py
  frontend/src/lib/api/media-api.ts
  frontend/src/lib/components/editors/MediaEditor.svelte
  frontend/src/lib/components/media/MediaGrid.svelte
  frontend/src/lib/components/media/MediaUploadZone.dom.test.ts
  frontend/src/lib/components/media/MediaUploadZone.svelte
  frontend/src/lib/media-upload.svelte.ts
  frontend/src/lib/media-upload.test.ts
  frontend/src/routes/gameplay-features/[slug]/media/+page.svelte
  frontend/src/routes/gameplay-features/[slug]/media/upload/+page.svelte
  frontend/src/routes/gameplay-features/[slug]/media/upload/+page.ts
  frontend/src/routes/manufacturers/[slug]/media/+page.svelte
  frontend/src/routes/manufacturers/[slug]/media/upload/+page.svelte
  frontend/src/routes/manufacturers/[slug]/media/upload/+page.ts
  frontend/src/routes/models/[slug]/media/upload/+page.svelte
  frontend/src/routes/models/[slug]/media/upload/+page.ts
  frontend/src/routes/people/[slug]/media/upload/+page.svelte
  frontend/src/routes/people/[slug]/media/upload/+page.ts
  frontend/src/routes/titles/[slug]/media/+page.svelte
  frontend/src/routes/titles/[slug]/media/upload/+page.svelte
  frontend/src/routes/titles/[slug]/media/upload/+page.ts
Due: ruff, ruff-format, frontend-lint

media: show uploaded backglass on title cards across the site
  backend/apps/catalog/api/franchises.py
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/api/images.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/series.py
  backend/apps/catalog/api/systems.py
  backend/apps/catalog/api/taxonomy.py
  backend/apps/catalog/api/themes.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/resolve/_media.py
  backend/apps/catalog/signals.py
  backend/apps/catalog/tests/test_api_titles.py
  backend/apps/catalog/tests/test_image_licensing.py
  backend/apps/media/tests/test_api_response.py
Due: ruff, ruff-format

series: don't exclude empty-extra_data models from list thumbnails
  backend/apps/catalog/api/series.py
Due: ruff, ruff-format

media upload: drop redundant Category label wrapping the select
  frontend/src/lib/components/media/MediaUploadZone.svelte
Due: frontend-lint

kiosk: redesign configure page and overlay card titles
  frontend/src/lib/focus-mode.ts
  frontend/src/lib/kiosk/KioskHome.svelte
  frontend/src/routes/kiosk/configure/+page.svelte
Due: frontend-lint

lint: add stylelint with token-discipline rules + per-file baseline
  frontend/.stylelintrc.cjs
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-lint

lint: drop dead var() fallbacks where token is always defined
  frontend/.stylelintrc.cjs
  frontend/src/lib/components/CreatePage.svelte
  frontend/src/lib/components/DeletePage.svelte
  frontend/src/lib/components/SectionEditorForm.svelte
  frontend/src/lib/components/cards/WearEffect.svelte
  frontend/src/lib/components/form/citation/CitationAutocomplete.svelte
  frontend/src/lib/components/form/citation/CitationCreateStage.svelte
  frontend/src/lib/components/form/citation/CitationIdentifyBySearchStage.svelte
  frontend/src/lib/components/form/citation/CitationSearchStage.svelte
  frontend/src/lib/kiosk/KioskHome.svelte
  frontend/src/lib/toast/ToastHost.svelte
Due: frontend-lint

css: replace numbered shadow scale with semantic roles, migrate consumers
  frontend/src/app.css
  frontend/src/lib/components/ActionMenu.svelte
  frontend/src/lib/components/CitationTooltip.svelte
  frontend/src/lib/components/Modal.svelte
  frontend/src/lib/components/SearchableSelect.svelte
  frontend/src/lib/components/cards/Card.svelte
  frontend/src/lib/components/form/MarkdownTextArea.svelte
  frontend/src/lib/components/media/MediaCard.svelte
  frontend/src/lib/kiosk/KioskHome.svelte
  frontend/src/lib/toast/ToastHost.svelte
  frontend/src/routes/+page.svelte
Due: frontend-lint

css: migrate raw z-index values to --z-* tokens, drop baseline
  frontend/.stylelintrc.cjs
  frontend/src/lib/components/ActionMenu.svelte
  frontend/src/lib/components/CitationTooltip.svelte
  frontend/src/lib/components/FilterDrawer.svelte
  frontend/src/lib/components/Modal.svelte
  frontend/src/lib/components/Nav.svelte
  frontend/src/lib/components/SearchableSelect.svelte
  frontend/src/lib/components/form/MarkdownTextArea.svelte
  frontend/src/lib/components/media/MediaLightbox.svelte
Due: frontend-lint

lint: fix shadow tokens disappearing in light mode
  frontend/src/app.css
Due: frontend-lint

Delete dead /[entity]/[slug]/media reader routes
  frontend/src/routes/gameplay-features/[slug]/media/+page.svelte
  frontend/src/routes/gameplay-features/[slug]/media/+page.ts
  frontend/src/routes/manufacturers/[slug]/media/+page.svelte
  frontend/src/routes/manufacturers/[slug]/media/+page.ts
  frontend/src/routes/models/[slug]/media/+page.svelte
  frontend/src/routes/models/[slug]/media/+page.ts
  frontend/src/routes/people/[slug]/media/+page.svelte
  frontend/src/routes/people/[slug]/media/+page.ts
  frontend/src/routes/titles/[slug]/media/+page.svelte
  frontend/src/routes/titles/[slug]/media/+page.ts
Due: frontend-lint

fix(frontend): portal wikilink dropdown via Floating UI to escape modal clipping
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/actions/floating.ts
  frontend/src/lib/components/form/MarkdownTextArea.svelte
Due: frontend-lint

feat(backend): add kiosk app with KioskConfig + KioskConfigItem models
  backend/apps/kiosk/__init__.py
  backend/apps/kiosk/apps.py
  backend/apps/kiosk/migrations/0001_initial.py
  backend/apps/kiosk/migrations/__init__.py
  backend/apps/kiosk/models.py
  backend/apps/kiosk/tests/__init__.py
  backend/apps/kiosk/tests/test_models.py
  backend/config/settings.py
  docs/AppBoundaries.md
Due: ruff, ruff-format
