Repository deanmoses/pinbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

ruff:
  name: ruff (legacy alias)
  entry: uv run --directory backend ruff check --fix .
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: uv run --directory backend ruff format .
  language: system
  pass_filenames: false

agent-docs-regen:
  name: regenerate agent docs
  entry: bash -c 'python3 scripts/build_agent_docs.py && git add CLAUDE.md AGENTS.md'
  language: system
  pass_filenames: false

agent-docs-no-direct-edit:
  name: check agent docs not edited directly
  entry: scripts/check_agent_docs_edit.sh
  language: script
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd frontend && pnpm lint'
  language: system
  pass_filenames: false

docs: add ingest runbook
  docs/Ingest.md
Due: none

chore(ci): add gate job so docs-only PRs pass required checks
  .github/workflows/ci.yml
Due: none

fix(ingest): pass --csv flag from ingest_all to ingest_signs
  backend/apps/catalog/management/commands/ingest_all.py
  docs/Ingest.md
Due: ruff, ruff-format

feat(backend): add biographical fields to Person model
  backend/apps/catalog/migrations/0002_person_birth_day_person_birth_month_and_more.py
  backend/apps/catalog/models.py
Due: ruff, ruff-format

feat(backend): extend Person claim resolution for new fields
  backend/apps/catalog/resolve.py
Due: ruff, ruff-format

feat(backend): add Wikidata SPARQL fetch and parse module
  AGENTS.md
  CLAUDE.md
  backend/apps/catalog/ingestion/wikidata_sparql.py
  docs/AGENTS.src.md
Due: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit

feat(backend): add ingest_wikidata management command
  backend/apps/catalog/management/commands/ingest_wikidata.py
Due: ruff, ruff-format

test(backend): add tests for ingest_wikidata
  backend/apps/catalog/management/commands/ingest_wikidata.py
  backend/apps/catalog/tests/fixtures/wikidata_sample.json
  backend/apps/catalog/tests/test_ingest_wikidata.py
Due: ruff, ruff-format

feat(frontend): display and edit Person biographical fields
  backend/apps/catalog/api.py
  frontend/src/routes/people/[slug]/+page.svelte
  frontend/src/routes/people/[slug]/edit/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat(backend): add VOICE role to DesignCredit for voice actor credits
  backend/apps/catalog/migrations/0003_alter_designcredit_role.py
  backend/apps/catalog/models.py
Due: ruff, ruff-format

feat(backend): add Wikidata credit ingestion (designer, programmer, voice, composer)
  backend/apps/catalog/ingestion/wikidata_sparql.py
  backend/apps/catalog/management/commands/ingest_wikidata.py
  backend/apps/catalog/tests/fixtures/wikidata_sample.json
  backend/apps/catalog/tests/test_ingest_wikidata.py
Due: ruff, ruff-format

fix(backend): replace UNION credits query with per-property queries
  backend/apps/catalog/ingestion/wikidata_sparql.py
Due: ruff, ruff-format

feat(backend): ingest Wikidata structured data for manufacturers
  backend/apps/catalog/ingestion/wikidata_sparql.py
  backend/apps/catalog/management/commands/ingest_wikidata_manufacturers.py
  backend/apps/catalog/migrations/0004_manufacturer_country_manufacturer_description_and_more.py
  backend/apps/catalog/models.py
  backend/apps/catalog/resolve.py
  backend/apps/catalog/tests/fixtures/wikidata_manufacturers_sample.json
  backend/apps/catalog/tests/test_ingest_wikidata_manufacturers.py
  backend/apps/catalog/tests/test_resolve_manufacturer_person.py
Due: ruff, ruff-format

feat(frontend): display and edit Manufacturer biographical fields
  backend/apps/catalog/api.py
  frontend/src/routes/api-docs/+page.svelte
  frontend/src/routes/manufacturers/[slug]/+layout.svelte
  frontend/src/routes/manufacturers/[slug]/+page.svelte
  frontend/src/routes/manufacturers/[slug]/edit/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat(backend): add Fandom wiki credit ingestion
  backend/apps/catalog/ingestion/fandom_wiki.py
  backend/apps/catalog/management/commands/ingest_fandom.py
  backend/apps/catalog/tests/fixtures/fandom_sample.json
  backend/apps/catalog/tests/test_ingest_fandom.py
Due: ruff, ruff-format

feat(backend): ingest Fandom person and manufacturer data
  backend/apps/catalog/ingestion/fandom_wiki.py
  backend/apps/catalog/management/commands/ingest_fandom.py
  backend/apps/catalog/tests/fixtures/fandom_manufacturers_sample.json
  backend/apps/catalog/tests/fixtures/fandom_persons_sample.json
  backend/apps/catalog/tests/fixtures/fandom_sample.json
  backend/apps/catalog/tests/test_ingest_fandom.py
Due: ruff, ruff-format

chore: allow WebFetch and WebSearch tools without prompts
  .claude/settings.json
Due: none

feat: add year to person detail machine list
  backend/apps/catalog/api.py
  backend/apps/catalog/tests/test_api.py
  frontend/src/routes/people/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat: add award system with claim-based relationship tracking
  backend/apps/catalog/admin.py
  backend/apps/catalog/api.py
  backend/apps/catalog/cache.py
  backend/apps/catalog/claims.py
  backend/apps/catalog/management/commands/ingest_fandom.py
  backend/apps/catalog/management/commands/ingest_ipdb.py
  backend/apps/catalog/management/commands/ingest_wikidata.py
  backend/apps/catalog/management/commands/resolve_claims.py
  backend/apps/catalog/migrations/0005_award_awardrecipient.py
  backend/apps/catalog/models.py
  backend/apps/catalog/resolve.py
  backend/apps/catalog/signals.py
  backend/apps/catalog/tests/test_api_awards.py
  backend/apps/catalog/tests/test_bulk_assert_claims.py
  backend/apps/catalog/tests/test_claims.py
  backend/apps/catalog/tests/test_models.py
  backend/apps/catalog/tests/test_resolve_awards.py
  backend/apps/catalog/tests/test_resolve_credits.py
  backend/apps/provenance/migrations/0002_remove_claim_provenance_unique_active_claim_per_source_field_and_more.py
  backend/apps/provenance/models.py
  backend/config/api.py
  frontend/src/lib/components/AwardCard.svelte
  frontend/src/lib/components/Nav.svelte
  frontend/src/routes/awards/+page.svelte
  frontend/src/routes/awards/[slug]/+layout.svelte
  frontend/src/routes/awards/[slug]/+layout.ts
  frontend/src/routes/awards/[slug]/+page.svelte
  frontend/src/routes/awards/[slug]/activity/+page.svelte
  frontend/src/routes/people/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat: add M2M theme tagging with claim provenance and theme detail page
  backend/apps/catalog/admin.py
  backend/apps/catalog/api.py
  backend/apps/catalog/claims.py
  backend/apps/catalog/management/commands/ingest_ipdb.py
  backend/apps/catalog/management/commands/ingest_wikidata_manufacturers.py
  backend/apps/catalog/migrations/0006_theme_remove_machinemodel_theme_machinemodel_themes.py
  backend/apps/catalog/models.py
  backend/apps/catalog/resolve.py
  backend/apps/catalog/tests/test_api.py
  backend/apps/catalog/tests/test_resolve.py
  backend/config/api.py
  frontend/src/routes/models/[slug]/+page.svelte
  frontend/src/routes/models/[slug]/edit/+page.svelte
  frontend/src/routes/themes/[slug]/+page.svelte
  frontend/src/routes/themes/[slug]/+page.ts
Due: ruff, ruff-format, frontend-lint

Remove award system and collapse migrations
  backend/apps/catalog/admin.py
  backend/apps/catalog/api.py
  backend/apps/catalog/cache.py
  backend/apps/catalog/claims.py
  backend/apps/catalog/management/commands/resolve_claims.py
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/migrations/0002_person_birth_day_person_birth_month_and_more.py
  backend/apps/catalog/migrations/0003_alter_designcredit_role.py
  backend/apps/catalog/migrations/0004_manufacturer_country_manufacturer_description_and_more.py
  backend/apps/catalog/migrations/0005_award_awardrecipient.py
  backend/apps/catalog/migrations/0006_theme_remove_machinemodel_theme_machinemodel_themes.py
  backend/apps/catalog/models.py
  backend/apps/catalog/resolve.py
  backend/apps/catalog/signals.py
  backend/apps/catalog/tests/test_api_awards.py
  backend/apps/catalog/tests/test_claims.py
  backend/apps/catalog/tests/test_resolve_awards.py
  backend/apps/provenance/migrations/0001_initial.py
  backend/apps/provenance/migrations/0002_remove_claim_provenance_unique_active_claim_per_source_field_and_more.py
  backend/config/api.py
  frontend/src/lib/components/AwardCard.svelte
  frontend/src/lib/components/Nav.svelte
  frontend/src/routes/awards/+page.svelte
  frontend/src/routes/awards/[slug]/+layout.svelte
  frontend/src/routes/awards/[slug]/+layout.ts
  frontend/src/routes/awards/[slug]/+page.svelte
  frontend/src/routes/awards/[slug]/activity/+page.svelte
  frontend/src/routes/people/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

chore: add manufacturers and systems seed data
  .gitignore
  data/manufacturers.json
  data/systems.json
Due: none

feat: add System model, systems browsing, and rename variant_features
  backend/apps/catalog/admin.py
  backend/apps/catalog/api.py
  backend/apps/catalog/management/commands/ingest_all.py
  backend/apps/catalog/management/commands/ingest_ipdb.py
  backend/apps/catalog/management/commands/ingest_manufacturers_seed.py
  backend/apps/catalog/management/commands/ingest_opdb.py
  backend/apps/catalog/management/commands/ingest_systems.py
  backend/apps/catalog/migrations/0002_add_system_model.py
  backend/apps/catalog/models.py
  backend/apps/catalog/resolve.py
  backend/apps/catalog/tests/fixtures/ipdb_sample.json
  backend/apps/catalog/tests/test_api.py
  backend/apps/catalog/tests/test_ingest_ipdb.py
  backend/apps/catalog/tests/test_ingest_opdb.py
  backend/apps/catalog/tests/test_resolve.py
  backend/config/api.py
  frontend/src/lib/components/Nav.svelte
  frontend/src/routes/manufacturers/[slug]/+layout.svelte
  frontend/src/routes/manufacturers/[slug]/systems/+page.svelte
  frontend/src/routes/manufacturers/[slug]/systems/+page.ts
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/models/[slug]/+page.svelte
  frontend/src/routes/models/[slug]/edit/+page.svelte
  frontend/src/routes/systems/+page.svelte
  frontend/src/routes/systems/+page.ts
  frontend/src/routes/systems/[slug]/+page.svelte
  frontend/src/routes/systems/[slug]/+page.ts
Due: ruff, ruff-format, frontend-lint

chore: add series and titles seed data
  data/series.json
  data/titles.json
Due: none

docs: add DataModel.md explaining the four-level hierarchy
  docs/DataModel.md
Due: none

feat: rename MachineGroup → Title and add Series model/API/routes
  backend/apps/catalog/admin.py
  backend/apps/catalog/api.py
  backend/apps/catalog/management/commands/ingest_all.py
  backend/apps/catalog/management/commands/ingest_opdb.py
  backend/apps/catalog/management/commands/ingest_series.py
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/migrations/0002_add_system_model.py
  backend/apps/catalog/models.py
  backend/apps/catalog/resolve.py
  backend/apps/catalog/tests/test_admin.py
  backend/apps/catalog/tests/test_api.py
  backend/apps/catalog/tests/test_ingest_opdb.py
  backend/apps/catalog/tests/test_resolve.py
  backend/config/api.py
  frontend/src/lib/components/GameCard.svelte
  frontend/src/lib/components/Nav.svelte
  frontend/src/routes/games/+page.svelte
  frontend/src/routes/games/+page.ts
  frontend/src/routes/games/[slug]/+page.svelte
  frontend/src/routes/games/[slug]/+page.ts
  frontend/src/routes/groups/+page.svelte
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/series/+page.svelte
  frontend/src/routes/series/+page.ts
  frontend/src/routes/series/[slug]/+page.svelte
  frontend/src/routes/series/[slug]/+page.ts
Due: ruff, ruff-format, frontend-lint

chore: note schema.d.ts is gitignored in commit skill
  .claude/skills/commit/SKILL.md
Due: none

Add machine_types.json seed data with museum descriptions
  data/machine_types.json
Due: none

Add MachineTypeProfile model, ingest, API, and era pages
  backend/apps/catalog/admin.py
  backend/apps/catalog/api.py
  backend/apps/catalog/management/commands/ingest_all.py
  backend/apps/catalog/management/commands/ingest_machine_types_seed.py
  backend/apps/catalog/migrations/0002_machinetypeprofile.py
  backend/apps/catalog/models.py
  backend/config/api.py
  frontend/src/routes/machine-types/[slug]/+page.svelte
  frontend/src/routes/machine-types/[slug]/+page.ts
  frontend/src/routes/models/[slug]/+layout.svelte
Due: ruff, ruff-format, frontend-lint

feat: add DisplayTypeProfile model, ingest, API, and browsable pages
  backend/apps/catalog/admin.py
  backend/apps/catalog/api.py
  backend/apps/catalog/management/commands/ingest_all.py
  backend/apps/catalog/management/commands/ingest_display_types_seed.py
  backend/apps/catalog/migrations/0003_displaytypeprofile.py
  backend/apps/catalog/models.py
  backend/config/api.py
  data/display_types.json
  frontend/src/routes/display-types/[slug]/+page.svelte
  frontend/src/routes/display-types/[slug]/+page.ts
  frontend/src/routes/models/[slug]/+layout.svelte
Due: ruff, ruff-format, frontend-lint

feat(catalog): add museum-quality descriptions for all manufacturers
  backend/apps/catalog/management/commands/ingest_manufacturers_seed.py
  data/manufacturers.json
Due: ruff, ruff-format

fix(frontend): sort home page by most recent year, remove machine count from GameCard
  backend/apps/catalog/api.py
  frontend/src/lib/components/GameCard.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/games/+page.svelte
  frontend/src/routes/series/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat(data): add taxonomy JSON files and expand data model
  .gitignore
  backend/pyproject.toml
  backend/uv.lock
  data/cabinets.json
  data/conversions.json
  data/corporate_entities.json
  data/credits.json
  data/display_subtypes.json
  data/franchises.json
  data/game_formats.json
  data/gameplay_features.json
  data/machine_types.json
  data/manufacturers.json
  data/models.json
  data/people.json
  data/series.json
  data/systems.json
  data/tags.json
  data/technology_generations.json
  data/technology_subgenerations.json
  data/titles.json
  docs/DataModel.md
Due: ruff, ruff-format

feat(data): rename Platform→Production and Edition→Tier, enrich titles and models
  data/explore.sql
  data/models.json
  data/productions.json
  data/tiers.json
  data/titles.json
  docs/DataModel.md
Due: none

Allow all Webfetch
  .claude/settings.json
Due: none

feat(data): expand corporate entities to 90, add IPDB manufacturer resolution with HQ parsing
  data/corporate_entities.json
  data/explore.sql
  data/manufacturers.json
Due: none

docs: add pinball terminology definitions
  docs/Definitions.md
Due: none

refactor(data): split explore.sql into layered DuckDB views
  .gitignore
  data/explore.sql
  data/explore/01_raw.sql
  data/explore/02_staging.sql
  data/explore/03_catalog.sql
  data/explore/04_checks.sql
  data/explore/explore.sql
Due: none

refactor(catalog): rename ingest commands to ingest_pinbase_* prefix, add bulk ops
  backend/apps/catalog/management/commands/ingest_all.py
  backend/apps/catalog/management/commands/ingest_ipdb.py
  backend/apps/catalog/management/commands/ingest_pinbase_corporate_entities.py
  backend/apps/catalog/management/commands/ingest_pinbase_manufacturers.py
  backend/apps/catalog/management/commands/ingest_pinbase_series.py
  backend/apps/catalog/management/commands/ingest_pinbase_signs.py
  backend/apps/catalog/management/commands/ingest_pinbase_systems.py
  backend/apps/catalog/management/commands/ingest_pinbase_taxonomy.py
  backend/apps/catalog/management/commands/ingest_pinbase_titles.py
  backend/apps/catalog/migrations/0002_unique_corporate_entity_per_manufacturer.py
  docs/Ingest.md
Due: ruff, ruff-format

Path conditions:
  ruff: any of: ^backend/
  ruff-format: any of: ^backend/
  agent-docs-regen: any of: ^(docs/AGENTS\.src\.md|scripts/build_agent_docs\.py)$
  agent-docs-no-direct-edit: any of: ^(CLAUDE|AGENTS)\.md$
  frontend-lint: any of: ^frontend/
