Repository deanmoses/pinbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

ruff:
  name: ruff (legacy alias)
  entry: uv run --directory backend ruff check --fix .
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: uv run --directory backend ruff format .
  language: system
  pass_filenames: false

agent-docs-regen:
  name: regenerate agent docs
  entry: bash -c 'python3 scripts/build_agent_docs.py && git add CLAUDE.md AGENTS.md'
  language: system
  pass_filenames: false

agent-docs-no-direct-edit:
  name: check agent docs not edited directly
  entry: scripts/check_agent_docs_edit.sh
  language: script
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd frontend && pnpm lint'
  language: system
  pass_filenames: false

chore(backend): fix S104 violations
  backend/apps/citation/tests/test_safe_fetch.py
  backend/pyproject.toml
Due: ruff, ruff-format

chore(backend): ignore F401 in __init__.py; drop noqas from resolve barrel
  backend/apps/catalog/resolve/__init__.py
  backend/pyproject.toml
Due: ruff, ruff-format

feat(frontend): render edit-history and sources as focus views
  frontend/src/lib/components/EditHistory.svelte
  frontend/src/lib/components/EditSectionShell.svelte
  frontend/src/lib/components/EntitySources.dom.test.ts
  frontend/src/lib/components/EntitySources.svelte
  frontend/src/lib/components/EntitySources.test-harness.svelte
  frontend/src/lib/components/FocusContentShell.svelte
  frontend/src/lib/components/FocusContentShell.test-harness.svelte
  frontend/src/lib/components/FocusContentShell.test.ts
  frontend/src/lib/components/TaxonomyDetailBaseLayout.svelte
  frontend/src/lib/detail-subroute-match.test.ts
  frontend/src/lib/detail-subroute-match.ts
  frontend/src/lib/detail-subroute-mode.test.ts
  frontend/src/lib/detail-subroute-mode.ts
  frontend/src/lib/entity-context.ts
  frontend/src/lib/focus-mode.test.ts
  frontend/src/lib/focus-mode.ts
  frontend/src/routes/cabinets/[slug]/edit-history/edit-history-page.test-harness.svelte
  frontend/src/routes/cabinets/[slug]/edit-history/edit-history-page.test.ts
  frontend/src/routes/cabinets/[slug]/sources/sources-page.test-harness.svelte
  frontend/src/routes/cabinets/[slug]/sources/sources-page.test.ts
  frontend/src/routes/corporate-entities/[slug]/+layout.svelte
  frontend/src/routes/franchises/[slug]/+layout.svelte
  frontend/src/routes/manufacturers/[slug]/+layout.svelte
  frontend/src/routes/manufacturers/[slug]/edit-history/edit-history-page.test-harness.svelte
  frontend/src/routes/manufacturers/[slug]/edit-history/edit-history-page.test.ts
  frontend/src/routes/manufacturers/[slug]/manufacturer-layout.test.ts
  frontend/src/routes/manufacturers/[slug]/sources/sources-page.test-harness.svelte
  frontend/src/routes/manufacturers/[slug]/sources/sources-page.test.ts
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/people/[slug]/+layout.svelte
  frontend/src/routes/series/[slug]/+layout.svelte
  frontend/src/routes/systems/[slug]/+layout.svelte
  frontend/src/routes/titles/[slug]/+layout.svelte
  frontend/src/routes/titles/[slug]/edit-history/edit-history-page.test-harness.svelte
  frontend/src/routes/titles/[slug]/edit-history/edit-history-page.test.ts
  frontend/src/routes/titles/[slug]/sources/sources-page.test-harness.svelte
  frontend/src/routes/titles/[slug]/sources/sources-page.test.ts
  frontend/src/routes/titles/[slug]/title-layout.test.ts
Due: frontend-lint

test(provenance): lock in soft-is-soft policy for audit endpoints
  backend/apps/provenance/page_endpoints.py
  backend/apps/provenance/tests/test_api_edit_history.py
  backend/apps/provenance/tests/test_api_evidence.py
  docs/plans/SourcesFollowUps.md
Due: ruff, ruff-format

chore(pre-commit): use installed binaries for prettier and markdownlint
  .pre-commit-config.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-lint

chore(ci): cancel in-flight runs on force-push
  .github/workflows/ci.yml
Due: none

chore(bootstrap): auto-create .env and delegate to make api-gen
  scripts/bootstrap
Due: none

chore(hooks): broaden git-commit match and add stderr summary
  .claude/hooks/pre-commit-format.sh
Due: none

Doc updates
  docs/plans/BackendImprovements.md
  docs/plans/FrontendImprovements.md
Due: none

chore(ci): auto-merge Dependabot patch and minor PRs
  .github/workflows/dependabot-auto-merge.yml
Due: none

refactor(backend): retire obvious basedpyright entries
  .basedpyright/baseline.json
  backend/apps/catalog/tests/test_entity_crud_registrar.py
  backend/apps/catalog/tests/test_ingest_pinbase_locations.py
  backend/apps/catalog/tests/test_resolve_bulk.py
  backend/apps/core/markdown.py
  backend/apps/core/tests/test_markdown.py
  backend/apps/media/storage.py
  backend/apps/provenance/tests/test_changes.py
  backend/apps/provenance/validation.py
  backend/config/urls.py
Due: ruff, ruff-format

chore(gunicorn): add --timeout and --graceful-timeout
  docs/plans/BackendImprovements.md
  scripts/start-production
Due: none

chore(tests): parallelize backend suite with pytest-xdist
  backend/pyproject.toml
  backend/uv.lock
  scripts/test-backend
Due: ruff, ruff-format

chore(backend): migrate type checker from basedpyright to mypy + django-stubs
  .basedpyright/baseline.json
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
  backend/apps/core/models.py
  backend/config/settings.py
  backend/mypy-baseline.txt
  backend/pyproject.toml
  backend/uv.lock
  docs/Development.md
  pyrightconfig.json
  scripts/dmypy
  scripts/lint
  scripts/mypy
Due: ruff, ruff-format

refactor(backend): type admin modules
  backend/apps/core/admin.py
  backend/apps/provenance/admin.py
  backend/mypy-baseline.txt
Due: ruff, ruff-format

refactor(backend): type validators
  backend/apps/core/validators.py
  backend/mypy-baseline.txt
Due: ruff, ruff-format

refactor(backend): type small helper modules
  backend/apps/catalog/_alias_registry.py
  backend/apps/catalog/cache.py
  backend/apps/catalog/ingestion/parsers.py
  backend/apps/provenance/rate_limits.py
  backend/mypy-baseline.txt
Due: ruff, ruff-format

refactor(backend): type ingest commands
  backend/apps/catalog/management/commands/ingest_fandom.py
  backend/apps/catalog/management/commands/ingest_wikidata.py
  backend/apps/catalog/management/commands/ingest_wikidata_manufacturers.py
  backend/apps/media/models.py
  backend/mypy-baseline.txt
Due: ruff, ruff-format

refactor(backend): type api test helpers
  backend/apps/catalog/tests/test_api_claims_additional_entities.py
  backend/apps/catalog/tests/test_api_claims_title.py
  backend/apps/catalog/tests/test_api_corporate_entity_create.py
  backend/apps/catalog/tests/test_api_corporate_entity_delete.py
  backend/apps/catalog/tests/test_api_credit_roles.py
  backend/apps/catalog/tests/test_api_manufacturer_create.py
  backend/apps/catalog/tests/test_api_manufacturer_delete.py
  backend/apps/catalog/tests/test_api_model_create.py
  backend/apps/catalog/tests/test_api_model_delete.py
  backend/apps/catalog/tests/test_api_person_create.py
  backend/apps/catalog/tests/test_api_person_delete.py
  backend/apps/catalog/tests/test_api_system_create.py
  backend/apps/catalog/tests/test_api_system_delete.py
  backend/apps/catalog/tests/test_api_taxonomy_crud.py
  backend/apps/catalog/tests/test_api_title_create.py
  backend/apps/catalog/tests/test_api_title_delete.py
  backend/mypy-baseline.txt
Due: ruff, ruff-format

refactor(backend): tighten types in recently-annotated modules
  backend/apps/accounts/backends.py
  backend/apps/citation/extraction.py
  backend/apps/citation/seed_data/__init__.py
  backend/apps/citation/seed_data/books.py
  backend/apps/citation/seed_data/magazines.py
  backend/apps/citation/seed_data/types.py
  backend/apps/citation/seed_data/websites.py
  backend/apps/citation/seeding.py
  backend/apps/citation/tests/test_seeding.py
  backend/apps/citation/url_extraction.py
  backend/apps/core/api.py
  backend/apps/media/storage.py
  backend/apps/provenance/history.py
  backend/apps/provenance/revert.py
  backend/apps/provenance/test_factories.py
  backend/mypy-baseline.txt
Due: ruff, ruff-format

Replace HasActiveClaims/HasRelatedTitles Protocols with typed helpers
  backend/apps/catalog/api/_typing.py
  backend/apps/catalog/api/corporate_entities.py
  backend/apps/catalog/api/franchises.py
  backend/apps/catalog/api/gameplay_features.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/series.py
  backend/apps/catalog/api/systems.py
  backend/apps/catalog/api/taxonomy.py
  backend/apps/catalog/api/themes.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/tests/test_source_enabled.py
  backend/apps/media/helpers.py
  backend/apps/media/tests/test_helpers.py
  backend/apps/provenance/evidence.py
  backend/apps/provenance/helpers.py
  backend/apps/provenance/page_endpoints.py
  backend/apps/provenance/tests/test_helpers.py
  backend/apps/provenance/typing.py
  backend/mypy-baseline.txt
Due: ruff, ruff-format

refactor(backend): promote EntityKey to NamedTuple in apps/core/types
  backend/apps/accounts/api.py
  backend/apps/core/types.py
  backend/apps/provenance/entity_resolution.py
  backend/apps/provenance/page_endpoints.py
Due: ruff, ruff-format

Update TypeFixing.md
  docs/plans/TypeFixing.md
Due: none

refactor(citation): promote safe_fetch return tuple to NamedTuple
  backend/apps/citation/safe_fetch.py
Due: ruff, ruff-format

refactor(catalog/api): promote facet/credit tuples to NamedTuples
  backend/apps/catalog/api/_typing.py
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/tests/test_edit_claims.py
Due: ruff, ruff-format

refactor(catalog/resolve): promote repeated tuple shapes to NamedTuples
  backend/apps/catalog/resolve/_dispatch.py
  backend/apps/catalog/resolve/_media.py
  backend/apps/catalog/resolve/_relationships.py
Due: ruff, ruff-format

refactor(catalog/resolve): tighten Any annotations for smells #3 and #6
  backend/apps/catalog/resolve/__init__.py
  backend/apps/catalog/resolve/_helpers.py
Due: ruff, ruff-format

chore(catalog): drop apps/catalog/resolve/** from ANN401 ratchet
  backend/pyproject.toml
Due: ruff, ruff-format

chore(catalog/resolve): drop trailing newlines
  backend/apps/catalog/resolve/_dispatch.py
  backend/apps/catalog/resolve/_media.py
  backend/apps/catalog/resolve/_relationships.py
Due: ruff, ruff-format

refactor(provenance): tighten Any/object annotations per TypeFixing smells
  backend/apps/core/types.py
  backend/apps/provenance/api.py
  backend/apps/provenance/apps.py
  backend/apps/provenance/evidence.py
  backend/apps/provenance/helpers.py
  backend/apps/provenance/history.py
  backend/apps/provenance/models/citation_instance.py
  backend/apps/provenance/models/claim.py
  backend/apps/provenance/models/source.py
  backend/apps/provenance/page_endpoints.py
  backend/apps/provenance/schemas.py
  backend/apps/provenance/validation.py
Due: ruff, ruff-format

ratchet(provenance): remove ANN401 grandfathering for apps/provenance
  backend/mypy-baseline.txt
  backend/pyproject.toml
Due: ruff, ruff-format

fix(ingest/ipdb): match whole theme string before splitting
  backend/apps/catalog/ingestion/ipdb/adapter.py
  backend/apps/catalog/ingestion/ipdb/features.py
  backend/apps/catalog/tests/test_ingest_ipdb.py
Due: ruff, ruff-format

refactor(config): introduce ConstanceSpec NamedTuple for CONSTANCE_CONFIG
  backend/config/settings.py
Due: ruff, ruff-format

ratchet(catalog): drop ANN401 grandfathering for source files
  backend/apps/catalog/ingestion/apply.py
  backend/apps/catalog/ingestion/ipdb/adapter.py
  backend/apps/catalog/ingestion/ipdb/features.py
  backend/apps/catalog/management/commands/ingest_pinbase.py
  backend/apps/catalog/management/commands/validate_catalog.py
  backend/pyproject.toml
Due: ruff, ruff-format

chore(catalog): resync mypy-baseline after ANN401 ratchet
  backend/mypy-baseline.txt
Due: ruff, ruff-format

chore(claude): bundle backend SessionStart chain to fix Python race
  .claude/hooks/session-start-backend.sh
  .claude/hooks/session-start-remote.sh
  .claude/settings.json
Due: none

refactor(catalog): un-grandfather catalog tests, add shared JsonBody alias
  backend/apps/catalog/tests/test_api_claims_additional_entities.py
  backend/apps/catalog/tests/test_api_claims_title.py
  backend/apps/catalog/tests/test_api_corporate_entity_create.py
  backend/apps/catalog/tests/test_api_corporate_entity_delete.py
  backend/apps/catalog/tests/test_api_credit_roles.py
  backend/apps/catalog/tests/test_api_manufacturer_create.py
  backend/apps/catalog/tests/test_api_manufacturer_delete.py
  backend/apps/catalog/tests/test_api_model_create.py
  backend/apps/catalog/tests/test_api_model_delete.py
  backend/apps/catalog/tests/test_api_person_create.py
  backend/apps/catalog/tests/test_api_person_delete.py
  backend/apps/catalog/tests/test_api_system_create.py
  backend/apps/catalog/tests/test_api_system_delete.py
  backend/apps/catalog/tests/test_api_taxonomy_crud.py
  backend/apps/catalog/tests/test_api_title_create.py
  backend/apps/catalog/tests/test_api_title_delete.py
  backend/apps/catalog/tests/test_ingest_wikidata.py
  backend/apps/catalog/tests/test_ingest_wikidata_manufacturers.py
  backend/apps/core/types.py
  backend/pyproject.toml
Due: ruff, ruff-format

chore(claude): raise backend SessionStart timeout + add step timing
  .claude/hooks/session-start-backend.sh
  .claude/settings.json
Due: none

refactor(typing): type catalog taxonomy API helpers and endpoints
  backend/apps/catalog/api/taxonomy.py
  backend/mypy-baseline.txt
  docs/plans/MypyFixing.md
Due: ruff, ruff-format

Path conditions:
  ruff: any of: ^backend/
  ruff-format: any of: ^backend/
  agent-docs-regen: any of: ^(docs/AGENTS\.src\.md|scripts/build_agent_docs\.py)$
  agent-docs-no-direct-edit: any of: ^(CLAUDE|AGENTS)\.md$
  frontend-lint: any of: ^frontend/
