Repository deanmoses/pinbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

.pre-commit-config.yaml:

repos:
  # Security + basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(pnpm-lock\.yaml|uv\.lock)$'

  # Markdown — formatting + linting
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.1
    hooks:
      - id: prettier
        types: [markdown]
        exclude: ^(CLAUDE|AGENTS)\.md$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2
        exclude: ^(CLAUDE|AGENTS)\.md$

  # Local hooks
  - repo: local
    hooks:
      # Python (backend) — use project's ruff via uv so pre-commit and CI
      # always run the identical binary (avoids platform formatting drift).
      # pass_filenames: false so ruff checks all backend files every time,
      # catching formatting issues from earlier commits too.
      - id: ruff
        name: ruff (legacy alias)
        entry: uv run --directory backend ruff check --fix .
        language: system
        files: ^backend/
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        entry: uv run --directory backend ruff format .
        language: system
        files: ^backend/
        pass_filenames: false
      # Auto-regenerate agent docs when source or build script changes
      - id: agent-docs-regen
        name: regenerate agent docs
        entry: bash -c 'python3 scripts/build_agent_docs.py && git add CLAUDE.md AGENTS.md'
        language: system
        files: ^(docs/AGENTS\.src\.md|scripts/build_agent_docs\.py)$
        pass_filenames: false

      # Block direct edits to generated agent docs (unless source or script also changed)
      - id: agent-docs-no-direct-edit
        name: check agent docs not edited directly
        entry: scripts/check_agent_docs_edit.sh
        language: script
        files: ^(CLAUDE|AGENTS)\.md$
        pass_filenames: false

      # Frontend lint
      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd frontend && pnpm lint'
        language: system
        files: ^frontend/
        pass_filenames: false

fix(frontend): pin footer to bottom of viewport on short-content pages
  frontend/src/lib/components/Footer.svelte
  frontend/src/routes/+layout.svelte
Due: frontend-lint

feat(frontend): add SVG filters and wear effects to polaroid cards
  frontend/src/lib/components/cards/Card.svelte
Due: frontend-lint

feat(provenance): add ChangeSet model and split models into package
  backend/apps/provenance/admin.py
  backend/apps/provenance/migrations/0001_initial.py
  backend/apps/provenance/models/__init__.py
  backend/apps/provenance/models/changeset.py
  backend/apps/provenance/models/claim.py
  backend/apps/provenance/models/source.py
  backend/apps/provenance/tests/test_changeset.py
  docs/plans/ChangeSet.md
Due: ruff, ruff-format

feat(api): add GameplayFeature PATCH endpoint with ChangeSet support
  backend/apps/catalog/api/gameplay_features.py
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/api/schemas.py
  backend/apps/catalog/tests/test_api_claims_gameplay_feature.py
Due: ruff, ruff-format

feat(api): add parent relationship claims to GameplayFeature PATCH
  backend/apps/catalog/api/gameplay_features.py
  backend/apps/catalog/api/schemas.py
  backend/apps/catalog/tests/test_api_claims_gameplay_feature.py
Due: ruff, ruff-format

refactor(api): separate validation/planning from execution in PATCH
  backend/apps/catalog/api/gameplay_features.py
Due: ruff, ruff-format

fix: add Theme PATCH smoke tests and restore sub-theme count in sidebar
  backend/apps/catalog/tests/test_api_claims_theme.py
  frontend/src/routes/themes/[slug]/+layout.svelte
Due: ruff, ruff-format, frontend-lint

fix: render wikilinks in model layout's About section
  backend/apps/catalog/api/machine_models.py
  frontend/src/routes/models/[slug]/+layout.svelte
Due: ruff, ruff-format, frontend-lint

feat(titles): add title editing and activity
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/tests/test_api_claims_title.py
  backend/apps/catalog/tests/test_api_titles.py
  backend/apps/catalog/tests/test_edit_claims.py
  frontend/src/routes/titles/[slug]/+layout.svelte
  frontend/src/routes/titles/[slug]/+layout.ts
  frontend/src/routes/titles/[slug]/+page.svelte
  frontend/src/routes/titles/[slug]/activity/+page.svelte
  frontend/src/routes/titles/[slug]/edit/+page.svelte
  frontend/src/routes/titles/[slug]/title-edit.test.ts
  frontend/src/routes/titles/[slug]/title-edit.ts
Due: ruff, ruff-format, frontend-lint

fix(frontend): clarify single-model edit surfaces
  frontend/src/routes/models/[slug]/edit/+page.svelte
  frontend/src/routes/titles/[slug]/edit/+page.svelte
  frontend/src/routes/titles/[slug]/title-edit.test.ts
  frontend/src/routes/titles/[slug]/title-edit.ts
Due: frontend-lint

feat: add alias editing for GameplayFeature and Theme
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/api/gameplay_features.py
  backend/apps/catalog/api/schemas.py
  backend/apps/catalog/api/themes.py
  backend/apps/catalog/tests/test_api_claims_gameplay_feature.py
  backend/apps/catalog/tests/test_api_claims_theme.py
  frontend/src/app.css
  frontend/src/lib/components/form/MonthSelect.svelte
  frontend/src/lib/components/form/NumberField.svelte
  frontend/src/lib/components/form/TagInput.svelte
  frontend/src/lib/components/form/TextAreaField.svelte
  frontend/src/lib/components/form/TextField.svelte
  frontend/src/routes/gameplay-features/[slug]/+layout.svelte
  frontend/src/routes/gameplay-features/[slug]/edit/+page.svelte
  frontend/src/routes/themes/[slug]/edit/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat: add CorporateEntity list, detail, and edit pages
  backend/apps/catalog/api/__init__.py
  backend/apps/catalog/api/corporate_entities.py
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/schemas.py
  backend/apps/catalog/models/manufacturer.py
  backend/config/api.py
  frontend/src/routes/corporate-entities/+page.svelte
  frontend/src/routes/corporate-entities/+page.ts
  frontend/src/routes/corporate-entities/[slug]/+layout.svelte
  frontend/src/routes/corporate-entities/[slug]/+layout.ts
  frontend/src/routes/corporate-entities/[slug]/+page.svelte
  frontend/src/routes/corporate-entities/[slug]/+page.ts
  frontend/src/routes/corporate-entities/[slug]/activity/+page.svelte
  frontend/src/routes/corporate-entities/[slug]/edit-history/+page.svelte
  frontend/src/routes/corporate-entities/[slug]/edit-history/+page.ts
  frontend/src/routes/corporate-entities/[slug]/edit/+page.svelte
  frontend/src/routes/manufacturers/[slug]/+layout.svelte
Due: ruff, ruff-format, frontend-lint

refactor: extract shared location serializer and year-range formatter
  backend/apps/catalog/api/corporate_entities.py
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/api/manufacturers.py
  frontend/src/lib/utils.test.ts
  frontend/src/lib/utils.ts
  frontend/src/routes/corporate-entities/+page.svelte
  frontend/src/routes/corporate-entities/[slug]/+layout.svelte
  frontend/src/routes/manufacturers/[slug]/+layout.svelte
Due: ruff, ruff-format, frontend-lint

feat(api): add MachineModel relationship editing and batch edit-options endpoint
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/schemas.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/tests/test_api_claims_model_relationships.py
Due: ruff, ruff-format

refactor(backend): remove is_conversion and is_remake boolean fields
  backend/apps/catalog/admin.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/fixtures/golden_records.json
  backend/apps/catalog/management/commands/ingest_opdb.py
  backend/apps/catalog/management/commands/ingest_pinbase.py
  backend/apps/catalog/management/commands/validate_catalog.py
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/resolve/__init__.py
  backend/apps/catalog/tests/test_api_models.py
  backend/apps/catalog/tests/test_edit_claims.py
  backend/apps/catalog/tests/test_ingest_pinbase_models.py
  backend/apps/catalog/tests/test_validate_catalog.py
  docs/DomainModel.md
  docs/Ingest.md
Due: ruff, ruff-format

test(backend): trim duplicate title claim validations
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/tests/test_api_claims_title.py
Due: ruff, ruff-format

Add name↔alias cross-uniqueness validation
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/models/gameplay_feature.py
  backend/apps/catalog/models/manufacturer.py
  backend/apps/catalog/models/series.py
  backend/apps/catalog/models/taxonomy.py
  backend/apps/catalog/models/theme.py
  backend/apps/catalog/resolve/_relationships.py
  backend/apps/catalog/tests/test_name_alias_uniqueness.py
  backend/apps/core/models.py
Due: ruff, ruff-format

fix(ingest): prefer pindata names over IPDB encoding-corrupted strings
  backend/apps/catalog/management/commands/ingest_ipdb.py
Due: ruff, ruff-format

docs: update ValidationFix plan after Component B implementation
  docs/plans/ValidationFix.md
Due: none

feat(catalog): add slug conflict detection and fix _apply_resolution preserve logic
  backend/apps/catalog/resolve/__init__.py
  backend/apps/catalog/resolve/_entities.py
  backend/apps/catalog/tests/test_resolve_bulk.py
Due: ruff, ruff-format

docs: update ValidationFix plan after classifier and B4 implementation
  docs/plans/ValidationFix.md
Due: none

feat(edit): support slug changes in claims UI
  backend/apps/catalog/api/corporate_entities.py
  backend/apps/catalog/api/edit_claims.py
  backend/apps/catalog/api/franchises.py
  backend/apps/catalog/api/gameplay_features.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/series.py
  backend/apps/catalog/api/systems.py
  backend/apps/catalog/api/taxonomy.py
  backend/apps/catalog/api/themes.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/tests/test_api_claims.py
  backend/apps/catalog/tests/test_api_claims_additional_entities.py
  backend/apps/catalog/tests/test_api_claims_corporate_entity.py
  backend/apps/catalog/tests/test_api_claims_manufacturer_person.py
  backend/apps/catalog/tests/test_api_claims_title.py
  docs/plans/SlugEditUI.md
  frontend/src/lib/edit-routes.test.ts
  frontend/src/lib/edit-routes.ts
  frontend/src/routes/corporate-entities/[slug]/edit/+page.svelte
  frontend/src/routes/corporate-entities/[slug]/edit/corporate-entity-edit.test.ts
  frontend/src/routes/corporate-entities/[slug]/edit/corporate-entity-edit.ts
  frontend/src/routes/franchises/[slug]/edit/+page.svelte
  frontend/src/routes/manufacturers/[slug]/edit/+page.svelte
  frontend/src/routes/manufacturers/[slug]/edit/manufacturer-edit.test.ts
  frontend/src/routes/manufacturers/[slug]/edit/manufacturer-edit.ts
  frontend/src/routes/models/[slug]/edit/+page.svelte
  frontend/src/routes/models/[slug]/edit/model-edit.test.ts
  frontend/src/routes/models/[slug]/edit/model-edit.ts
  frontend/src/routes/people/[slug]/edit/+page.svelte
  frontend/src/routes/people/[slug]/edit/person-edit.test.ts
  frontend/src/routes/people/[slug]/edit/person-edit.ts
  frontend/src/routes/series/[slug]/edit/+page.svelte
  frontend/src/routes/titles/[slug]/edit/+page.svelte
  frontend/src/routes/titles/[slug]/title-edit.test.ts
  frontend/src/routes/titles/[slug]/title-edit.ts
Due: ruff, ruff-format, frontend-lint

feat(backend): add field validators to catalog models for claim-boundary enforcement
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/models/location.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/models/manufacturer.py
  backend/apps/catalog/models/person.py
  backend/apps/catalog/models/title.py
  backend/apps/catalog/tests/test_models.py
  backend/apps/provenance/tests/test_validation.py
  docs/plans/ValidationFix.md
Due: ruff, ruff-format

test: add shared credit_targets fixture to root conftest
  backend/apps/catalog/tests/test_bulk_assert_claims.py
  backend/apps/provenance/tests/test_validation.py
  backend/conftest.py
Due: ruff, ruff-format

feat(ingestion): add apply layer framework for plan-based ingest
  backend/apps/catalog/ingestion/apply.py
  backend/apps/catalog/tests/test_apply.py
  docs/plans/ClaimsNextGen.md
  docs/plans/ClaimsNextGenAmendment1.md
  docs/plans/ValidationFixAmendment1.md
Due: ruff, ruff-format

refactor(resolve): standardize relationship resolver signatures
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/ingestion/apply.py
  backend/apps/catalog/management/commands/ingest_fandom.py
  backend/apps/catalog/management/commands/ingest_ipdb.py
  backend/apps/catalog/management/commands/ingest_pinbase.py
  backend/apps/catalog/management/commands/ingest_wikidata.py
  backend/apps/catalog/resolve/__init__.py
  backend/apps/catalog/resolve/_relationships.py
  backend/apps/catalog/tests/test_api_claims_title.py
  backend/apps/catalog/tests/test_apply.py
  backend/apps/catalog/tests/test_source_enabled.py
Due: ruff, ruff-format

feat(lifecycle): add claim-controlled status field to all catalog entities
  backend/apps/catalog/api/corporate_entities.py
  backend/apps/catalog/api/franchises.py
  backend/apps/catalog/api/gameplay_features.py
  backend/apps/catalog/api/locations.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/api/people.py
  backend/apps/catalog/api/series.py
  backend/apps/catalog/api/systems.py
  backend/apps/catalog/api/taxonomy.py
  backend/apps/catalog/api/themes.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/ingestion/apply.py
  backend/apps/catalog/ingestion/opdb/adapter.py
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/models/gameplay_feature.py
  backend/apps/catalog/models/location.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/models/manufacturer.py
  backend/apps/catalog/models/person.py
  backend/apps/catalog/models/series.py
  backend/apps/catalog/models/system.py
  backend/apps/catalog/models/taxonomy.py
  backend/apps/catalog/models/theme.py
  backend/apps/catalog/models/title.py
  backend/apps/catalog/tests/test_apply.py
  backend/apps/catalog/tests/test_models.py
  backend/apps/catalog/tests/test_status.py
  backend/apps/core/models.py
  backend/apps/provenance/migrations/0001_initial.py
  backend/apps/provenance/validation.py
  docs/plans/ClaimsNextGen.md
Due: ruff, ruff-format

fix(validation): tighten nullable string IDs, IngestRun lifecycle, and whitespace
  backend/apps/accounts/migrations/0001_initial.py
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/models/manufacturer.py
  backend/apps/catalog/models/person.py
  backend/apps/catalog/models/title.py
  backend/apps/catalog/tests/test_db_constraints.py
  backend/apps/core/migrations/0001_initial.py
  backend/apps/core/models.py
  backend/apps/provenance/migrations/0001_initial.py
  backend/apps/provenance/models/ingest_run.py
  backend/apps/provenance/tests/test_ingest_run.py
  backend/apps/provenance/tests/test_validation.py
  backend/apps/provenance/validation.py
  docs/plans/ClaimsNextGen.md
Due: ruff, ruff-format

feat(ingestion): add identity_refs to PlannedClaimAssert for deferred relationship claims
  backend/apps/catalog/ingestion/apply.py
  backend/apps/catalog/tests/test_apply.py
Due: ruff, ruff-format

test(ingestion): add plan-boundary and dry-run tests for IPDB adapter
  backend/apps/catalog/ingestion/ipdb/adapter.py
  backend/apps/catalog/tests/test_ingest_ipdb.py
  backend/apps/catalog/tests/test_ipdb_adapter.py
Due: ruff, ruff-format

fix(ingestion): full pipeline fixes from end-to-end ingest testing
  backend/apps/catalog/ingestion/constants.py
  backend/apps/catalog/management/commands/ingest_all.py
  backend/apps/catalog/management/commands/ingest_pinbase.py
  backend/apps/catalog/management/commands/pull_and_ingest.py
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/resolve/_entities.py
  backend/apps/catalog/tests/test_edit_claims.py
  backend/apps/core/licensing.py
Due: ruff, ruff-format

feat: wikilink autocomplete and markdown editing for description fields (#122)
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/apps.py
  backend/apps/catalog/models/machine_model.py
  backend/apps/catalog/models/manufacturer.py
  backend/apps/catalog/models/person.py
  backend/apps/catalog/models/title.py
  backend/apps/catalog/tests/test_description_html.py
  backend/apps/core/api.py
  backend/apps/core/models.py
  backend/apps/core/tests/test_link_types_api.py
  backend/config/api.py
  frontend/src/lib/api/link-types.test.ts
  frontend/src/lib/api/link-types.ts
  frontend/src/lib/components/form/EditFormShell.svelte
  frontend/src/lib/components/form/MarkdownTextArea.svelte
  frontend/src/lib/components/form/markdown-shortcuts.test.ts
  frontend/src/lib/components/form/markdown-shortcuts.ts
  frontend/src/lib/components/form/wikilink-helpers.test.ts
  frontend/src/lib/components/form/wikilink-helpers.ts
  frontend/src/routes/cabinets/[slug]/edit/+page.svelte
  frontend/src/routes/corporate-entities/[slug]/edit/+page.svelte
  frontend/src/routes/display-subtypes/[slug]/edit/+page.svelte
  frontend/src/routes/display-types/[slug]/edit/+page.svelte
  frontend/src/routes/franchises/[slug]/edit/+page.svelte
  frontend/src/routes/game-formats/[slug]/edit/+page.svelte
  frontend/src/routes/gameplay-features/[slug]/edit/+page.svelte
  frontend/src/routes/manufacturers/[slug]/edit/+page.svelte
  frontend/src/routes/models/[slug]/edit/+page.svelte
  frontend/src/routes/people/[slug]/edit/+page.svelte
  frontend/src/routes/reward-types/[slug]/edit/+page.svelte
  frontend/src/routes/series/[slug]/edit/+page.svelte
  frontend/src/routes/systems/[slug]/edit/+page.svelte
  frontend/src/routes/tags/[slug]/edit/+page.svelte
  frontend/src/routes/technology-generations/[slug]/edit/+page.svelte
  frontend/src/routes/technology-subgenerations/[slug]/edit/+page.svelte
  frontend/src/routes/themes/[slug]/edit/+page.svelte
  frontend/src/routes/titles/[slug]/edit/+page.svelte
Due: ruff, ruff-format, frontend-lint

docs(media): add authorization, atomicity, rate limits, deletion policy
  docs/plans/Media.md
Due: none

docs(media): stricter constraints, accepted formats, HEIC support
  docs/plans/Media.md
Due: none

feat(media): Phase 3 — storage config, upload API + tests
  .env.example
  backend/apps/catalog/models/machine_model.py
  backend/apps/core/models.py
  backend/apps/media/api.py
  backend/apps/media/constants.py
  backend/apps/media/storage.py
  backend/apps/media/tests/test_storage.py
  backend/apps/media/tests/test_upload_api.py
  backend/config/api.py
  backend/config/settings.py
  backend/pyproject.toml
  backend/uv.lock
  docs/DataModeling.md
  docs/plans/Media.md
Due: ruff, ruff-format

feat(media): Phase 4 — claims namespace, resolver, upload wiring + tests
  backend/apps/catalog/claims.py
  backend/apps/catalog/resolve/__init__.py
  backend/apps/catalog/resolve/_media.py
  backend/apps/media/api.py
  backend/apps/media/tests/test_media_claims.py
  backend/apps/media/tests/test_upload_api.py
  docs/plans/Media.md
Due: ruff, ruff-format

feat(media): Phase 6c — Svelte media UI + auto-primary promotion
  backend/apps/catalog/resolve/_media.py
  backend/apps/media/tests/test_media_claims.py
  backend/apps/media/tests/test_set_primary.py
  frontend/src/lib/components/Button.svelte
  frontend/src/lib/components/LinkButton.svelte
  frontend/src/lib/components/media/MediaCard.svelte
  frontend/src/lib/components/media/MediaGrid.svelte
  frontend/src/lib/components/media/MediaLightbox.svelte
  frontend/src/lib/components/media/MediaUploadZone.svelte
  frontend/src/lib/media-upload.svelte.ts
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/models/[slug]/media/+page.svelte
  frontend/src/routes/models/[slug]/media/upload/+page.svelte
  frontend/src/routes/titles/[slug]/+layout.svelte
  frontend/src/routes/titles/[slug]/media/+page.svelte
  frontend/src/routes/titles/[slug]/media/upload/+page.svelte
  frontend/vite.config.ts
Due: ruff, ruff-format, frontend-lint
