Repository deanmoses/pinbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

.pre-commit-config.yaml:

repos:
  # Security + basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(pnpm-lock\.yaml|uv\.lock)$'

  # Markdown — formatting + linting
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.1
    hooks:
      - id: prettier
        types: [markdown]
        exclude: ^(CLAUDE|AGENTS)\.md$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2
        exclude: ^(CLAUDE|AGENTS)\.md$

  # Local hooks
  - repo: local
    hooks:
      # Python (backend) — use project's ruff via uv so pre-commit and CI
      # always run the identical binary (avoids platform formatting drift).
      # pass_filenames: false so ruff checks all backend files every time,
      # catching formatting issues from earlier commits too.
      - id: ruff
        name: ruff (legacy alias)
        entry: uv run --directory backend ruff check --fix .
        language: system
        files: ^backend/
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        entry: uv run --directory backend ruff format .
        language: system
        files: ^backend/
        pass_filenames: false
      # Auto-regenerate agent docs when source or build script changes
      - id: agent-docs-regen
        name: regenerate agent docs
        entry: bash -c 'python3 scripts/build_agent_docs.py && git add CLAUDE.md AGENTS.md'
        language: system
        files: ^(docs/AGENTS\.src\.md|scripts/build_agent_docs\.py)$
        pass_filenames: false

      # Block direct edits to generated agent docs (unless source or script also changed)
      - id: agent-docs-no-direct-edit
        name: check agent docs not edited directly
        entry: scripts/check_agent_docs_edit.sh
        language: script
        files: ^(CLAUDE|AGENTS)\.md$
        pass_filenames: false

      # Frontend lint
      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd frontend && pnpm lint'
        language: system
        files: ^frontend/
        pass_filenames: false

feat: add list pages for all taxonomy entities
  backend/apps/catalog/api/themes.py
  frontend/src/routes/cabinets/+page.svelte
  frontend/src/routes/credit-roles/+page.svelte
  frontend/src/routes/display-subtypes/+page.svelte
  frontend/src/routes/display-types/+page.svelte
  frontend/src/routes/franchises/+page.svelte
  frontend/src/routes/game-formats/+page.svelte
  frontend/src/routes/tags/+page.svelte
  frontend/src/routes/technology-generations/+page.svelte
  frontend/src/routes/technology-subgenerations/+page.svelte
  frontend/src/routes/themes/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat(frontend): hyperlink taxonomy fields on title detail page
  backend/apps/catalog/api/machine_models.py
  frontend/src/routes/game-formats/[slug]/+page.svelte
  frontend/src/routes/titles/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat(backend): ingest gameplay features from IPDB notable_features
  backend/apps/catalog/management/commands/ingest_ipdb.py
  backend/apps/catalog/resolve/__init__.py
  backend/apps/catalog/resolve/_relationships.py
Due: ruff, ruff-format

feat: add missing entity links in taxonomy descriptions
  data/display_subtypes.json
  data/display_types.json
  data/gameplay_features.json
  data/technology_generations.json
  data/technology_subgenerations.json
Due: none

feat: derive technology subgeneration from system, not claims
  backend/apps/accounts/migrations/0001_initial.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/management/commands/ingest_pinbase_systems.py
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/migrations/0002_add_technology_subgeneration_to_machinemodel.py
  backend/apps/catalog/models/system.py
  backend/apps/core/migrations/0001_initial.py
  backend/apps/provenance/migrations/0001_initial.py
  data/explore/02_staging.sql
  data/explore/03_catalog.sql
  data/schemas/systems.schema.json
  data/systems.json
  frontend/src/lib/components/ModelSpecsSidebar.svelte
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/titles/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat: add 30 cocktail cabinet models and wire up cabinet ingestion
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/management/commands/ingest_opdb.py
  backend/apps/catalog/management/commands/ingest_pinbase_models.py
  data/cabinets.json
  data/models.json
  data/schemas/models.schema.json
  data/titles.json
  frontend/src/routes/titles/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

fix(data): resolve 7 DuckDB contract violations in models.json
  data/explore/04_checks.sql
  data/models.json
Due: none

Add marimo notebook for interactive data exploration
  notebooks/explore.py
Due: none

fix(data): merge duplicate hyperball title files
  data/pinbase/titles/hyperball-2.md
  data/pinbase/titles/hyperball.md
Due: none

explore2
  scripts/rebuild_explore.sh
  scripts/rebuild_explore2.sh
Due: none

feat(explore2): add people/credits data checks and IPDB credit comparison view
  data/explore2/03_checks.sql
  data/explore2/04_compare.sql
Due: none

fix: add Incorporated and Limited to manufacturer name normalization
  backend/apps/catalog/ingestion/bulk_utils.py
  backend/apps/catalog/tests/test_manufacturer_resolver.py
  data/explore2/01_raw.sql
Due: ruff, ruff-format

chore: ignore SQLite journal/WAL/SHM temp files
  .gitignore
Due: none

feat(backend): wire corporate_entity through claims pipeline, optimize bulk_assert_claims
  backend/apps/catalog/ingestion/pinbase_loader.py
  backend/apps/catalog/management/commands/ingest_all.py
  backend/apps/catalog/management/commands/ingest_ipdb.py
  backend/apps/catalog/management/commands/ingest_opdb.py
  backend/apps/catalog/management/commands/ingest_pinbase.py
  backend/apps/catalog/management/commands/resolve_claims.py
  backend/apps/catalog/resolve/__init__.py
  backend/apps/catalog/resolve/_helpers.py
  backend/apps/provenance/migrations/0001_initial.py
  backend/apps/provenance/models.py
  data/golden_records.json
Due: ruff, ruff-format

chore: add Codex agent skills (commit, branch, pr)
  .agents/skills/branch/SKILL.md
  .agents/skills/commit/SKILL.md
  .agents/skills/pr/SKILL.md
Due: none

fix(backend): inline credit_roles fixture data for CI
  backend/apps/catalog/tests/conftest.py
Due: ruff, ruff-format

fix(backend): pass export_dir in ingest tests for CI
  backend/apps/catalog/tests/fixtures/system.json
  backend/apps/catalog/tests/test_ingest_ipdb.py
  backend/apps/catalog/tests/test_ingest_opdb.py
Due: ruff, ruff-format

fix(frontend): remove nonexistent manufacturer fields, fix CSS warnings
  frontend/src/lib/components/SearchResults.svelte
  frontend/src/lib/components/cards/ManufacturerCard.svelte
  frontend/src/routes/manufacturers/+page.svelte
  frontend/src/routes/manufacturers/[slug]/+layout.svelte
  frontend/src/routes/manufacturers/[slug]/+page.svelte
  frontend/src/routes/manufacturers/[slug]/edit/+page.svelte
  frontend/src/routes/models/[slug]/edit/+page.svelte
Due: frontend-lint

feat: ingest missing export fields and fix OPDB alias matching
  backend/apps/catalog/ingestion/bulk_utils.py
  backend/apps/catalog/management/commands/ingest_all.py
  backend/apps/catalog/management/commands/ingest_ipdb.py
  backend/apps/catalog/management/commands/ingest_opdb.py
  backend/apps/catalog/management/commands/ingest_pinbase.py
  backend/apps/catalog/migrations/0001_initial.py
  backend/apps/catalog/models/manufacturer.py
  backend/apps/catalog/models/system.py
  backend/apps/catalog/models/title.py
  backend/apps/catalog/tests/test_ingest_ipdb.py
  backend/apps/catalog/tests/test_ingest_opdb.py
Due: ruff, ruff-format

fix: sort manufacturer detail titles by year descending
  backend/apps/catalog/api/manufacturers.py
  backend/apps/catalog/tests/test_api_manufacturers.py
Due: ruff, ruff-format

chore: add PreToolUse hook for auto-approving safe bash commands
  .claude/hooks/approve-bash.sh
Due: none

test(backend): add _resolve_aliases sweep and display-casing tests
  backend/apps/catalog/tests/test_resolve_aliases.py
Due: ruff, ruff-format

docs: add IPDB ingest failure discipline to testing guidelines
  AGENTS.md
  CLAUDE.md
  docs/AGENTS.src.md
Due: agent-docs-regen, agent-docs-no-direct-edit

feat(backend): add CE-based manufacturer resolution to Fandom and Wikidata ingest
  backend/apps/catalog/ingestion/bulk_utils.py
  backend/apps/catalog/management/commands/ingest_fandom.py
  backend/apps/catalog/management/commands/ingest_ipdb.py
  backend/apps/catalog/management/commands/ingest_opdb.py
  backend/apps/catalog/management/commands/ingest_wikidata_manufacturers.py
  backend/apps/catalog/tests/test_manufacturer_resolver.py
Due: ruff, ruff-format

refactor: extract shared components and harden location routes
  backend/apps/catalog/api/locations.py
  backend/apps/catalog/cache.py
  backend/apps/catalog/tests/test_api_locations.py
  frontend/src/lib/components/LocationDetailPage.svelte
  frontend/src/lib/components/ManufacturerCardGrid.svelte
  frontend/src/routes/locations/[countrySlug]/+page.svelte
  frontend/src/routes/locations/[countrySlug]/[stateSlug]/+page.svelte
  frontend/src/routes/locations/[countrySlug]/[stateSlug]/[citySlug]/+page.svelte
  frontend/src/routes/locations/[countrySlug]/cities/[citySlug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

refactor(backend): rename address claim to location on CorporateEntity
  backend/apps/catalog/claims.py
  backend/apps/catalog/management/commands/ingest_pinbase.py
  backend/apps/catalog/models/location.py
  backend/apps/catalog/resolve/_relationships.py
  backend/apps/catalog/tests/test_resolve.py
Due: ruff, ruff-format

feat(backend): add Constance for runtime display threshold
  backend/apps/core/licensing.py
  backend/config/settings.py
  backend/pyproject.toml
  backend/uv.lock
Due: ruff, ruff-format

refactor: consolidate name/slug pairs into Ref schema
  backend/apps/catalog/api/franchises.py
  backend/apps/catalog/api/helpers.py
  backend/apps/catalog/api/machine_models.py
  backend/apps/catalog/api/schemas.py
  backend/apps/catalog/api/series.py
  backend/apps/catalog/api/systems.py
  backend/apps/catalog/api/titles.py
  backend/apps/catalog/tests/test_api.py
  backend/apps/catalog/tests/test_api_models.py
  backend/apps/catalog/tests/test_api_titles.py
  frontend/src/lib/components/CreditsList.svelte
  frontend/src/lib/components/ModelSpecsSidebar.svelte
  frontend/src/lib/components/SearchResults.svelte
  frontend/src/lib/components/TitleFilterSidebar.svelte
  frontend/src/lib/facet-engine.test.ts
  frontend/src/lib/facet-engine.ts
  frontend/src/routes/cabinets/[slug]/+page.svelte
  frontend/src/routes/display-subtypes/[slug]/+page.svelte
  frontend/src/routes/display-types/[slug]/+page.svelte
  frontend/src/routes/game-formats/[slug]/+page.svelte
  frontend/src/routes/gameplay-features/[slug]/+page.svelte
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/models/[slug]/+page.ts
  frontend/src/routes/reward-types/[slug]/+page.svelte
  frontend/src/routes/systems/+page.svelte
  frontend/src/routes/systems/[slug]/+page.svelte
  frontend/src/routes/tags/[slug]/+page.svelte
  frontend/src/routes/technology-generations/[slug]/+page.svelte
  frontend/src/routes/technology-subgenerations/[slug]/+page.svelte
  frontend/src/routes/themes/[slug]/+page.svelte
  frontend/src/routes/titles/+page.svelte
  frontend/src/routes/titles/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

fix(backend): wire Claim.license into all write paths
  backend/apps/provenance/admin.py
  backend/apps/provenance/models.py
  backend/apps/provenance/tests/test_claim_license_write.py
Due: ruff, ruff-format

fix(backend): correct misleading licensed-only display policy label
  backend/config/settings.py
Due: ruff, ruff-format

refactor(backend): consolidate resolution code and normalize reset semantics
  backend/apps/catalog/resolve/__init__.py
  backend/apps/catalog/resolve/_entities.py
  backend/apps/catalog/resolve/_helpers.py
  backend/apps/catalog/resolve/_relationships.py
  backend/apps/catalog/tests/test_resolve_bulk.py
Due: ruff, ruff-format

feat(frontend): add licensing, terms, and privacy pages with site footer
  frontend/src/lib/components/Footer.svelte
  frontend/src/lib/components/Nav.svelte
  frontend/src/routes/(legal)/+layout.svelte
  frontend/src/routes/(legal)/licensing/+page.svelte
  frontend/src/routes/(legal)/licensing/+page.ts
  frontend/src/routes/(legal)/privacy/+page.svelte
  frontend/src/routes/(legal)/privacy/+page.ts
  frontend/src/routes/(legal)/terms/+page.svelte
  frontend/src/routes/(legal)/terms/+page.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/api-docs/+page.svelte
Due: frontend-lint

chore(backend): remove TAXONOMY_MODELS, _resolve_all_taxonomy, fk_handlers
  backend/apps/catalog/resolve/__init__.py
  backend/apps/catalog/resolve/_entities.py
  backend/apps/catalog/tests/test_resolve_bulk.py
Due: ruff, ruff-format

refactor(backend): remove all legacy field maps, entity wrappers, and FK registry
  backend/apps/catalog/management/commands/ingest_fandom.py
  backend/apps/catalog/management/commands/ingest_pinbase.py
  backend/apps/catalog/management/commands/ingest_wikidata.py
  backend/apps/catalog/management/commands/ingest_wikidata_manufacturers.py
  backend/apps/catalog/management/commands/validate_catalog.py
  backend/apps/catalog/resolve/__init__.py
  backend/apps/catalog/resolve/_entities.py
  backend/apps/catalog/resolve/_helpers.py
  backend/apps/catalog/tests/test_api_claims_manufacturer_person.py
  backend/apps/catalog/tests/test_description_html.py
  backend/apps/catalog/tests/test_resolve_bulk.py
  backend/apps/catalog/tests/test_resolve_manufacturer_person.py
  backend/apps/catalog/tests/test_source_enabled.py
Due: ruff, ruff-format

refactor(backend): eliminate single-object relationship resolvers
  backend/apps/catalog/resolve/__init__.py
  backend/apps/catalog/resolve/_helpers.py
  backend/apps/catalog/resolve/_relationships.py
  backend/apps/catalog/tests/test_resolve.py
  backend/apps/catalog/tests/test_resolve_credits.py
  backend/apps/catalog/tests/test_source_enabled.py
Due: ruff, ruff-format
