Repository deanmoses/pinbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

.pre-commit-config.yaml:

repos:
  # Security + basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        args: ['--branch', 'main']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Secret detection
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '(pnpm-lock\.yaml|uv\.lock)$'

  # Markdown — formatting + linting
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.8.1
    hooks:
      - id: prettier
        types: [markdown]
        exclude: ^(CLAUDE|AGENTS)\.md$
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2
        exclude: ^(CLAUDE|AGENTS)\.md$

  # Local hooks
  - repo: local
    hooks:
      # Python (backend) — use project's ruff via uv so pre-commit and CI
      # always run the identical binary (avoids platform formatting drift).
      # pass_filenames: false so ruff checks all backend files every time,
      # catching formatting issues from earlier commits too.
      - id: ruff
        name: ruff (legacy alias)
        entry: uv run --directory backend ruff check --fix .
        language: system
        files: ^backend/
        pass_filenames: false
      - id: ruff-format
        name: ruff format
        entry: uv run --directory backend ruff format .
        language: system
        files: ^backend/
        pass_filenames: false
      # Auto-regenerate agent docs when source or build script changes
      - id: agent-docs-regen
        name: regenerate agent docs
        entry: bash -c 'python3 scripts/build_agent_docs.py && git add CLAUDE.md AGENTS.md'
        language: system
        files: ^(docs/AGENTS\.src\.md|scripts/build_agent_docs\.py)$
        pass_filenames: false

      # Block direct edits to generated agent docs (unless source or script also changed)
      - id: agent-docs-no-direct-edit
        name: check agent docs not edited directly
        entry: scripts/check_agent_docs_edit.sh
        language: script
        files: ^(CLAUDE|AGENTS)\.md$
        pass_filenames: false

      # Frontend lint
      - id: frontend-lint
        name: frontend lint
        entry: bash -c 'cd frontend && pnpm lint'
        language: system
        files: ^frontend/
        pass_filenames: false

docs
  docs/plans/analytics/AnalyticsArchitecture.md
  docs/plans/analytics/AnalyticsEventTaxonomy.md
  docs/plans/analytics/AnalyticsVendors.md
  docs/plans/analytics/PublicDashboards.md
Due: none

docs
  docs/plans/analytics/AnalyticsArchitecture.md
  docs/plans/analytics/AnalyticsPlan.md
Due: none

revamp
  docs/plans/analytics/Analytics.md
  docs/plans/analytics/AnalyticsArchitecture.md
  docs/plans/analytics/AnalyticsBackendPlan.md
  docs/plans/analytics/AnalyticsEventTaxonomy.md
  docs/plans/analytics/AnalyticsFrontendPlan.md
  docs/plans/analytics/AnalyticsPlan.md
  docs/plans/analytics/PublicDashboards.md
Due: none

docs
  docs/plans/observability/Observability.md
  docs/plans/observability/ObservabilityArchitecture.md
  docs/plans/observability/ObservabilityBackendPlan.md
  docs/plans/observability/ObservabilityFrontendPlan.md
  docs/plans/observability/ObservabilityPlan.md
  docs/plans/observability/ObservabilityVendors.md
Due: none

task(devops): Sentry alerting for back end errors
  .env.example
  .pre-commit-config.yaml
  .secrets.baseline
  backend/apps/core/authz/rules.py
  backend/apps/core/authz/types.py
  backend/apps/core/middleware/__init__.py
  backend/apps/core/middleware/sentry_scope.py
  backend/apps/core/tests/test_sentry_scope_middleware.py
  backend/apps/provenance/tests/test_ingest_run.py
  backend/config/api.py
  backend/config/sentry_options.py
  backend/config/settings.py
  backend/config/tests/__init__.py
  backend/config/tests/test_sentry_ignore_errors.py
  backend/config/tests/test_sentry_init.py
  backend/config/tests/test_sentry_test_route.py
  backend/conftest.py
  backend/pyproject.toml
  backend/uv.lock
  docs/plans/observability/ObservabilityArchitecture.md
  docs/plans/observability/ObservabilityBackendPlan.md
  docs/plans/observability/ObservabilityPlan.md
  docs/plans/types/ClaimControlledModel.md
  docs/plans/types/LocationRetractionFix.md
  docs/plans/types/ProvenanceValidationTightening.md
  docs/plans/types/ResolverReadsTightening.md
  frontend/src/routes/(legal)/privacy/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat(observability): wire Sentry SDK into SvelteKit SSR + browser
  .env.example
  backend/config/settings.py
  docs/plans/observability/ObservabilityArchitecture.md
  docs/plans/observability/ObservabilityBackendPlan.md
  docs/plans/observability/ObservabilityFrontendPlan.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/hooks.client.ts
  frontend/src/hooks.server.ts
  frontend/src/instrumentation.server.ts
  frontend/src/lib/sentry/handle-error.test.ts
  frontend/src/lib/sentry/handle-error.ts
  frontend/src/lib/sentry/ignore-errors.ts
  frontend/src/lib/sentry/init.test.ts
  frontend/svelte.config.js
  frontend/vite.config.ts
Due: ruff, ruff-format, frontend-lint

feat(observability): attach user id + username to browser Sentry events
  docs/plans/observability/ObservabilityFrontendPlan.md
  frontend/src/lib/auth.svelte.test.ts
  frontend/src/lib/auth.svelte.ts
Due: frontend-lint

feat(observability): preflight-check required Sentry env vars
  backend/apps/core/checks.py
  backend/apps/core/tests/test_observability_env_check.py
Due: ruff, ruff-format

Document build check development
  docs/BuildChecks.md
  docs/DeployAutomation.md
  docs/DeployChecks.md
  docs/Development.md
  docs/Hosting.md
  docs/README.md
  docs/Reviewing.md
Due: none

fix(observability): log 4xx at info, not error
  frontend/src/lib/sentry/handle-error.test.ts
  frontend/src/lib/sentry/handle-error.ts
Due: frontend-lint

fix(observability): init SSR Sentry SDK from process.env
  frontend/src/instrumentation.server.ts
  frontend/src/lib/sentry/init.test.ts
Due: frontend-lint

docs(analytics): reflecting shipped state
  docs/Analytics.md
  docs/plans/analytics/AnalyticsArchitecture.md
  docs/plans/analytics/AnalyticsPlan.md
  docs/plans/analytics/AnalyticsTypedEventsBackendPlan.md
  docs/plans/analytics/AnalyticsUntypedEventsPlan.md
Due: none

feat: admin dashboard with signups/edits/uploads counts
  backend/apps/core/api/__init__.py
  backend/apps/core/api/admin_dashboard_page.py
  backend/apps/core/api/link_types.py
  backend/apps/core/authz/rules.py
  backend/apps/core/authz/types.py
  backend/apps/core/tests/test_admin_dashboard_page.py
  docs/plans/AdminDashboard.md
  docs/plans/analytics/AnalyticsDbStatsPlan.md
  frontend/src/lib/components/Nav.svelte
  frontend/src/routes/a/+layout.server.ts
  frontend/src/routes/a/+page.server.ts
  frontend/src/routes/a/dashboard/+page.server.ts
  frontend/src/routes/a/dashboard/+page.svelte
  frontend/src/routes/a/dashboard/MetricCard.dom.test.ts
  frontend/src/routes/a/dashboard/MetricCard.svelte
  frontend/src/routes/a/dashboard/_dependencies.ts
  frontend/src/routes/a/dashboard/page-server.test.ts
  frontend/src/routes/a/layout-server.test.ts
  frontend/src/routes/a/page-server.test.ts
Due: ruff, ruff-format, frontend-lint

docs(analytics): Admin Dashboard cleanup
  backend/apps/core/api/admin_dashboard_page.py
  backend/apps/core/authz/types.py
  backend/apps/core/tests/test_admin_dashboard_page.py
  docs/Personas.md
  docs/plans/analytics/AdminDashboard.md
  docs/plans/analytics/AnalyticsDbStatsPlan.md
Due: ruff, ruff-format

feat(catalog): convert Location.description to MarkdownField
  backend/apps/catalog/migrations/0003_alter_location_description.py
  backend/apps/catalog/models/location.py
  backend/apps/catalog/tests/test_description_html.py
  backend/apps/core/tests/test_markdown.py
  frontend/src/lib/components/editors/edit-action-context.ts
  frontend/src/routes/locations/[...path]/+layout.svelte
  frontend/src/routes/locations/[...path]/+page.svelte
  frontend/src/routes/locations/[...path]/location-detail.test-harness.svelte
  frontend/src/routes/locations/[...path]/location-detail.test.ts
Due: ruff, ruff-format, frontend-lint
