Repository deanmoses/pinbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

ruff:
  name: ruff (legacy alias)
  entry: uv run --directory backend ruff check --fix .
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: uv run --directory backend ruff format .
  language: system
  pass_filenames: false

agent-docs-regen:
  name: regenerate agent docs
  entry: bash -c 'python3 scripts/build_agent_docs.py && git add CLAUDE.md AGENTS.md'
  language: system
  pass_filenames: false

agent-docs-no-direct-edit:
  name: check agent docs not edited directly
  entry: scripts/check_agent_docs_edit.sh
  language: script
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd frontend && pnpm lint'
  language: system
  pass_filenames: false

refactor(frontend): migrate overlay components to scrim + inverse tokens
  frontend/.stylelintrc.cjs
  frontend/src/lib/components/ActionMenu.svelte
  frontend/src/lib/components/FilterDrawer.svelte
  frontend/src/lib/components/Modal.svelte
  frontend/src/lib/components/media/MediaLightbox.svelte
Due: frontend-lint

refactor(frontend): resolve component-private decorative hex (#348)
  frontend/.stylelintrc.cjs
  frontend/src/app.css
  frontend/src/lib/components/Nav.svelte
  frontend/src/lib/components/cards/Card.svelte
  frontend/src/lib/components/cards/WearEffect.svelte
  frontend/src/lib/components/media/MediaCard.svelte
Due: frontend-lint

fix(frontend): close ActionMenu when trigger hidden by responsive swap
  frontend/src/lib/components/ActionMenu.svelte
  frontend/src/tests/setup-dom.ts
Due: frontend-lint

feat(frontend): add style lab theme explorer
  frontend/src/app.css
  frontend/src/app.html
  frontend/src/lib/components/Nav.svelte
  frontend/src/lib/components/ThemeSwitcher.svelte
  frontend/src/routes/style-lab/+page.svelte
Due: frontend-lint

fix(frontend): clip card photo at dog-ear fold so photo edge follows the fold
  frontend/src/lib/components/cards/Card.svelte
  frontend/src/lib/components/cards/WearEffect.svelte
Due: frontend-lint

feat(frontend): add distressed card specimens to style lab
  frontend/src/routes/style-lab/+page.svelte
  frontend/static/fakes/fake_backglass1.avif
  frontend/static/fakes/fake_backglass2.avif
  frontend/static/fakes/fake_backglass3.avif
Due: frontend-lint

feat(frontend): expand /style-lab token coverage with form controls, editor dialog, header rule
  frontend/src/app.css
  frontend/src/routes/style-lab/+page.svelte
Due: frontend-lint

refactor: nest changeset attribution and drop user display_name
  AGENTS.md
  CLAUDE.md
  backend/apps/accounts/models.py
  backend/apps/accounts/tests/test_user_profile.py
  backend/apps/catalog/tests/test_api_credit_roles.py
  backend/apps/provenance/evidence.py
  backend/apps/provenance/helpers.py
  backend/apps/provenance/history.py
  backend/apps/provenance/page_endpoints.py
  backend/apps/provenance/schemas.py
  backend/apps/provenance/tests/test_api_edit_history.py
  backend/apps/provenance/tests/test_changes.py
  docs/AGENTS.src.md
  frontend/src/lib/components/ChangeSetAttribution.svelte
  frontend/src/lib/components/ChangeSetAuthor.svelte
  frontend/src/lib/components/EditHistory.svelte
  frontend/src/lib/components/EntitySources.dom.test.ts
  frontend/src/lib/components/EntitySources.svelte
  frontend/src/lib/components/Footer.svelte
  frontend/src/lib/components/Nav.svelte
  frontend/src/lib/components/UserLink.svelte
  frontend/src/lib/components/media/MediaLightbox.svelte
  frontend/src/lib/kiosk/KioskHome.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/changesets/+page.svelte
  frontend/src/routes/kiosk/+page.svelte
  frontend/src/routes/kiosk/edit/+page.svelte
  frontend/src/routes/kiosk/edit/[id]/+page.svelte
  frontend/src/routes/locations/[...path]/+layout.svelte
  frontend/src/routes/locations/[...path]/edit/[section]/+layout.svelte
  frontend/src/routes/locations/[...path]/edit/[section]/+page.svelte
  frontend/src/routes/manufacturers/[slug]/+layout.svelte
  frontend/src/routes/search/+page.svelte
  scripts/lint
Due: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

refactor: extract EntityLinkSchema for cross-type entity refs
  backend/apps/accounts/api.py
  backend/apps/accounts/tests/test_user_profile.py
  backend/apps/core/schemas.py
  backend/apps/provenance/entity_resolution.py
  backend/apps/provenance/page_endpoints.py
  backend/apps/provenance/tests/test_changes.py
  frontend/src/routes/changesets/+page.svelte
  frontend/src/routes/users/[username]/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat(frontend): collapse confirming ingest claims to a single value in edit history
  frontend/src/lib/components/EditHistory.svelte
  frontend/src/lib/components/change-display.test.ts
  frontend/src/lib/components/change-display.ts
Due: frontend-lint

feat(frontend): render simple relationship-claim dicts as bare scalars in edit history
  frontend/src/lib/components/ClaimValue.svelte
  frontend/src/lib/components/EditHistory.svelte
  frontend/src/lib/components/change-display.test.ts
  frontend/src/lib/components/change-display.ts
Due: frontend-lint

feat(frontend): show deletions in edit history as struck-through value with red ✕
  frontend/src/lib/components/EditHistory.svelte
  frontend/src/lib/components/change-display.test.ts
  frontend/src/lib/components/change-display.ts
Due: frontend-lint

feat(frontend): stack edit-history rows to two lines on narrow cards
  frontend/src/lib/components/EditHistory.svelte
Due: frontend-lint

refactor(provenance): make edit-history claim display model-driven
  backend/apps/catalog/claims.py
  backend/apps/catalog/resolve/_relationships.py
  backend/apps/provenance/display.py
  backend/apps/provenance/history.py
  backend/apps/provenance/schemas.py
  backend/apps/provenance/tests/test_api_edit_history.py
  backend/apps/provenance/tests/test_changes.py
  backend/apps/provenance/tests/test_display.py
  backend/apps/provenance/tests/test_revert.py
  backend/apps/provenance/tests/test_validation.py
  backend/apps/provenance/validation.py
  frontend/src/lib/components/ClaimDisplay.svelte
  frontend/src/lib/components/ClaimValue.dom.test.ts
  frontend/src/lib/components/ClaimValue.fixture.svelte
  frontend/src/lib/components/ClaimValue.svelte
  frontend/src/lib/components/EditHistory.svelte
  frontend/src/lib/components/change-display.test.ts
  frontend/src/lib/components/change-display.ts
  frontend/src/lib/components/claim-display.test.ts
  frontend/src/lib/components/claim-display.ts
  frontend/src/lib/components/qualifier-renderers.ts
  frontend/src/routes/changesets/+page.svelte
Due: ruff, ruff-format, frontend-lint

docs(schemas): add class docstrings to clarify non-obvious schemas
  backend/apps/catalog/api/schemas.py
  backend/apps/citation/schemas.py
  backend/apps/core/schemas.py
  backend/apps/media/schemas.py
  backend/apps/provenance/schemas.py
Due: ruff, ruff-format

fix(frontend): stop truncating claim values inside ClaimValue fallback
  frontend/src/lib/components/EntitySources.dom.test.ts
  frontend/src/lib/components/change-display.test.ts
  frontend/src/lib/components/change-display.ts
Due: frontend-lint

Create Usernames.md
  docs/plans/auth/Usernames.md
Due: none

Update Usernames.md
  docs/plans/auth/Usernames.md
Due: none

feat(security): trust client IP from sanitized X-Real-IP
  Caddyfile
  Dockerfile
  backend/apps/core/rate_limits.py
  backend/apps/core/tests/test_rate_limits.py
  backend/config/settings.py
  docs/Hosting.md
  docs/plans/ClientIpTrust.md
Due: ruff, ruff-format

Revert "fix(caddyfile): correct X-Real-IP matcher syntax for conditional XFF rewrite"
  Caddyfile
Due: none

chore: remove IP-trust probe; align docs with shipped Caddyfile
  Caddyfile
  backend/config/api.py
  docs/Hosting.md
  docs/plans/ClientIpTrust.md
Due: ruff, ruff-format

feat(security): add deploy-time check for RATE_LIMIT_TRUST_PROXY_HEADERS
  backend/apps/core/checks.py
  backend/apps/core/tests/test_rate_limit_proxy_trust_check.py
  backend/config/api.py
  docs/Hosting.md
  railway.toml
Due: ruff, ruff-format

chore(deploy): silence security.W008 (intentionally not redirecting at Django)
  backend/config/settings.py
Due: ruff, ruff-format

feat(auth): signup onboarding flow (pending session + chosen username)
  backend/apps/accounts/api.py
  backend/apps/accounts/auth_errors.py
  backend/apps/accounts/pending.py
  backend/apps/accounts/schemas.py
  backend/apps/accounts/tests/test_pending.py
  backend/apps/accounts/tests/test_signup_api.py
  backend/apps/accounts/tests/test_workos_auth.py
  backend/apps/accounts/usernames.py
  backend/apps/core/rate_limits.py
  backend/apps/core/tests/test_rate_limits.py
  backend/config/settings.py
Due: ruff, ruff-format

refactor(accounts): split api.py into api/ package
  backend/apps/accounts/api.py
  backend/apps/accounts/api/__init__.py
  backend/apps/accounts/api/auth.py
  backend/apps/accounts/api/profile.py
  backend/apps/accounts/api/profile_schemas.py
  backend/apps/accounts/api/signup.py
  backend/apps/accounts/api/workos_match.py
  backend/apps/accounts/schemas.py
  backend/apps/accounts/tests/test_signup_api.py
  backend/apps/accounts/tests/test_workos_auth.py
  backend/apps/core/tests/test_openapi_boundaries.py
Due: ruff, ruff-format

Privacy updates
  docs/Privacy.md
  frontend/src/routes/(legal)/privacy/+page.svelte
Due: frontend-lint

Privacy updates
  docs/Privacy.md
  docs/plans/analytics/AnalyticsArchitecture.md
  docs/plans/analytics/AnalyticsPhilosophy.md
  docs/plans/analytics/EventTaxonomy.md
  docs/plans/analytics/PublicDashboardIdeas.md
Due: none

analytics requirements
  docs/SmallTeam.md
  docs/plans/analytics/Analytics.md
  docs/plans/analytics/AnalyticsArchitecture.md
  docs/plans/analytics/PublicDashboardIdeas.md
Due: none

flesh out analytics architecture with posthog as the chosen provider
  docs/plans/analytics/AnalyticsArchitecture.md
Due: none

use sessionStorage persistence so within-tab browsing journeys stay linked
  docs/plans/analytics/AnalyticsArchitecture.md
Due: none

revert to memory persistence
  docs/plans/analytics/AnalyticsArchitecture.md
Due: none

close fingerprinting and consistency gaps in analytics architecture
  docs/plans/analytics/AnalyticsArchitecture.md
Due: none

correct registry framing: the two sides are disjoint, not mirrors
  docs/plans/analytics/AnalyticsArchitecture.md
Due: none

o11y
  docs/plans/observability/ObservabilityArchitecture.md
  docs/plans/observability/ObservabilityVendors.md
Due: none

docs
  docs/Privacy.md
  docs/plans/analytics/Analytics.md
  docs/plans/analytics/AnalyticsArchitecture.md
  docs/plans/analytics/AnalyticsVendors.md
  docs/plans/analytics/EventTaxonomy.md
  docs/plans/analytics/PublicDashboardIdeas.md
  docs/plans/observability/ObservabilityArchitecture.md
Due: none

umami
  docs/plans/analytics/AnalyticsVendors.md
Due: none

docs
  docs/Privacy.md
  docs/plans/analytics/AnalyticsVendors.md
Due: none

docs
  docs/plans/analytics/Analytics.md
  docs/plans/analytics/AnalyticsArchitecture.md
  docs/plans/analytics/AnalyticsBackendPlan.md
  docs/plans/analytics/AnalyticsEventTaxonomy.md
  docs/plans/analytics/AnalyticsFrontendPlan.md
  docs/plans/analytics/AnalyticsPlan.md
  docs/plans/analytics/AnalyticsVendors.md
  docs/plans/analytics/PublicDashboards.md
  docs/plans/observability/ObservabilityArchitecture.md
Due: none

Path conditions:
  ruff: any of: ^backend/
  ruff-format: any of: ^backend/
  agent-docs-regen: any of: ^(docs/AGENTS\.src\.md|scripts/build_agent_docs\.py)$
  agent-docs-no-direct-edit: any of: ^(CLAUDE|AGENTS)\.md$
  frontend-lint: any of: ^frontend/
