Repository deanmoses/pinbase: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, agent-docs-regen, agent-docs-no-direct-edit, frontend-lint

ruff:
  name: ruff (legacy alias)
  entry: uv run --directory backend ruff check --fix .
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: uv run --directory backend ruff format .
  language: system
  pass_filenames: false

agent-docs-regen:
  name: regenerate agent docs
  entry: bash -c 'python3 scripts/build_agent_docs.py && git add CLAUDE.md AGENTS.md'
  language: system
  pass_filenames: false

agent-docs-no-direct-edit:
  name: check agent docs not edited directly
  entry: scripts/check_agent_docs_edit.sh
  language: script
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: bash -c 'cd frontend && pnpm lint'
  language: system
  pass_filenames: false

feat: serve SvelteKit frontend from Django in production
  .env.example
  .gitignore
  .vscode/settings.json
  Dockerfile
  backend/config/api.py
  backend/config/settings.py
  backend/config/urls.py
  backend/pyproject.toml
  backend/tests/test_api.py
  backend/tests/test_frontend_spa.py
  backend/uv.lock
  docs/Hosting.md
  frontend/src/routes/+layout.js
Due: ruff, ruff-format, frontend-lint

fix: skip frontend build check in health endpoint tests
  backend/tests/test_api.py
  backend/tests/test_frontend_spa.py
Due: ruff, ruff-format

fix: use shell form CMD so $PORT expands at runtime
  Dockerfile
Due: none

fix: remove startCommand so Dockerfile shell-form CMD runs
  Dockerfile
  railway.toml
Due: none

fix: bypass uv run at deploy time, use .venv/bin directly
  Dockerfile
  railway.toml
Due: none

fix: remove health check from Railway config
  railway.toml
Due: none

feat: add favicon
  frontend/static/favicon.png
Due: frontend-lint

feat: bulk-ify all ingest commands and improve scrape_images
  backend/apps/machines/ingestion/bulk_utils.py
  backend/apps/machines/management/commands/ingest_ipdb.py
  backend/apps/machines/management/commands/ingest_manufacturers.py
  backend/apps/machines/management/commands/ingest_opdb.py
  backend/apps/machines/management/commands/scrape_images.py
  backend/apps/machines/models.py
  backend/apps/machines/tests/test_bulk_assert_claims.py
  backend/apps/machines/tests/test_ingest_opdb.py
Due: ruff, ruff-format

perf: bulk-ify resolve_all() to reduce ~31k queries to ~6
  backend/apps/machines/resolve.py
  backend/apps/machines/tests/test_resolve.py
Due: ruff, ruff-format

fix: suppress SQL debug logging in resolve_claims and add select_related
  backend/apps/machines/management/commands/resolve_claims.py
  backend/apps/machines/resolve.py
Due: ruff, ruff-format

fix: use nulls_last ordering across all API endpoints
  backend/apps/machines/api.py
  backend/apps/machines/tests/test_api.py
Due: ruff, ruff-format

perf: optimize API with caching, prefetching, and persistent DB connections
  backend/apps/machines/api.py
  backend/apps/machines/tests/test_api.py
  backend/config/settings.py
Due: ruff, ruff-format

fix(backend): skip IPDB "Unknown Manufacturer" placeholder during ingestion
  backend/apps/machines/ingestion/constants.py
  backend/apps/machines/management/commands/ingest_ipdb.py
  backend/apps/machines/management/commands/ingest_manufacturers.py
  backend/apps/machines/migrations/0002_remove_unknown_manufacturer.py
Due: ruff, ruff-format

fix(frontend): eliminate legacy Svelte 4 patterns for strict runes compliance
  frontend/src/lib/components/FilterableGrid.svelte
  frontend/src/routes/api-docs/+page.svelte
Due: frontend-lint

chore: bump Node version to 24
  .node-version
Due: none

fix: auto-install pre-commit and use system Node for hooks
  .pre-commit-config.yaml
  scripts/bootstrap
Due: none

chore: bump Node version to 24 LTS across project
  AGENTS.md
  CLAUDE.md
  Dockerfile
  docs/AGENTS.src.md
Due: agent-docs-regen, agent-docs-no-direct-edit

fix(frontend): use void for $effect dependency tracking to satisfy ESLint
  frontend/src/lib/components/FilterableGrid.svelte
Due: frontend-lint

chore: update README Node version to 24 and quiet SQL logging
  README.md
  backend/config/settings.py
Due: ruff, ruff-format

perf: add immutable cache headers for SvelteKit assets and ETag support for SPA shell
  backend/config/middleware.py
  backend/config/settings.py
  backend/config/urls.py
Due: ruff, ruff-format

perf: add server-side cache for /all/ API endpoints
  .gitignore
  backend/apps/machines/api.py
  backend/apps/machines/apps.py
  backend/apps/machines/cache.py
  backend/apps/machines/management/commands/ingest_all.py
  backend/apps/machines/management/commands/resolve_claims.py
  backend/apps/machines/management/commands/scrape_images.py
  backend/apps/machines/signals.py
  backend/apps/machines/tests/test_api.py
  backend/config/settings.py
Due: ruff, ruff-format

perf: prerender top-level list pages with data preloading
  backend/config/api.py
  backend/config/urls.py
  backend/tests/test_frontend_spa.py
  frontend/src/lib/components/FilterableGrid.svelte
  frontend/src/lib/components/SkeletonCard.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/+page.ts
  frontend/src/routes/groups/+page.svelte
  frontend/src/routes/groups/+page.ts
  frontend/src/routes/manufacturers/+page.svelte
  frontend/src/routes/manufacturers/+page.ts
  frontend/src/routes/people/+page.svelte
  frontend/src/routes/people/+page.ts
  frontend/svelte.config.js
Due: ruff, ruff-format, frontend-lint

refactor: extract async loader utility and add error handling
  frontend/src/lib/async-loader.svelte.ts
  frontend/src/lib/components/FilterableGrid.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/api-docs/+page.ts
  frontend/src/routes/groups/+page.svelte
  frontend/src/routes/manufacturers/+page.svelte
  frontend/src/routes/people/+page.svelte
  frontend/vite.config.ts
Due: frontend-lint

fix: inline critical dark-mode styles in app.html
  frontend/src/app.html
Due: frontend-lint

refactor(frontend): replace filterFn with declarative filterFields API
  backend/apps/machines/api.py
  frontend/src/lib/components/FilterableGrid.svelte
  frontend/src/lib/components/SearchBox.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/groups/+page.svelte
  frontend/src/routes/manufacturers/+page.svelte
  frontend/src/routes/manufacturers/[slug]/+page.svelte
  frontend/src/routes/models/[slug]/+page.svelte
  frontend/src/routes/people/+page.svelte
  frontend/src/routes/people/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

feat: user-attributed claims and model edit UI
  backend/apps/accounts/__init__.py
  backend/apps/accounts/admin.py
  backend/apps/accounts/api.py
  backend/apps/accounts/apps.py
  backend/apps/accounts/migrations/0001_initial.py
  backend/apps/accounts/migrations/__init__.py
  backend/apps/accounts/models.py
  backend/apps/accounts/signals.py
  backend/apps/accounts/tests/__init__.py
  backend/apps/accounts/tests/test_models.py
  backend/apps/machines/admin.py
  backend/apps/machines/api.py
  backend/apps/machines/management/commands/ingest_all.py
  backend/apps/machines/migrations/0001_initial.py
  backend/apps/machines/migrations/0002_remove_unknown_manufacturer.py
  backend/apps/machines/models.py
  backend/apps/machines/resolve.py
  backend/apps/machines/tests/test_api.py
  backend/apps/machines/tests/test_api_claims.py
  backend/apps/machines/tests/test_bulk_assert_claims.py
  backend/apps/machines/tests/test_resolve.py
  backend/config/api.py
  backend/config/settings.py
  frontend/src/app.d.ts
  frontend/src/lib/auth.svelte.ts
  frontend/src/routes/models/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

refactor(frontend): split model page into nested layout routes
  frontend/src/app.d.ts
  frontend/src/routes/models/[slug]/+layout.svelte
  frontend/src/routes/models/[slug]/+layout.ts
  frontend/src/routes/models/[slug]/+page.svelte
  frontend/src/routes/models/[slug]/activity/+page.svelte
  frontend/src/routes/models/[slug]/edit/+page.svelte
Due: frontend-lint

feat(backend): add ingest_signs pipeline step and rescale source priorities
  backend/apps/accounts/migrations/0002_change_user_priority_default.py
  backend/apps/accounts/models.py
  backend/apps/machines/management/commands/ingest_all.py
  backend/apps/machines/management/commands/ingest_ipdb.py
  backend/apps/machines/management/commands/ingest_opdb.py
  backend/apps/machines/management/commands/ingest_signs.py
  backend/apps/machines/management/commands/scrape_images.py
Due: ruff, ruff-format

refactor(frontend): move About section before Credits on model page
  frontend/src/routes/models/[slug]/+page.svelte
Due: frontend-lint

refactor(schema): rename PinballModel→MachineModel, fix shortname→short_name
  backend/apps/accounts/tests/test_models.py
  backend/apps/machines/admin.py
  backend/apps/machines/api.py
  backend/apps/machines/management/commands/ingest_ipdb.py
  backend/apps/machines/management/commands/ingest_opdb.py
  backend/apps/machines/management/commands/ingest_signs.py
  backend/apps/machines/management/commands/resolve_claims.py
  backend/apps/machines/management/commands/scrape_images.py
  backend/apps/machines/migrations/0001_initial.py
  backend/apps/machines/models.py
  backend/apps/machines/resolve.py
  backend/apps/machines/signals.py
  backend/apps/machines/tests/test_api.py
  backend/apps/machines/tests/test_api_claims.py
  backend/apps/machines/tests/test_bulk_assert_claims.py
  backend/apps/machines/tests/test_ingest_ipdb.py
  backend/apps/machines/tests/test_ingest_opdb.py
  backend/apps/machines/tests/test_models.py
  backend/apps/machines/tests/test_resolve.py
  frontend/src/lib/components/GroupCard.svelte
  frontend/src/routes/groups/+page.svelte
  frontend/src/routes/groups/[slug]/+page.svelte
Due: ruff, ruff-format, frontend-lint

chore: run pytest and vitest in pre-commit hooks
  .pre-commit-config.yaml
Due: none

refactor: add core app with TimeStampedModel and unique_slug
  backend/apps/core/__init__.py
  backend/apps/core/apps.py
  backend/apps/core/migrations/__init__.py
  backend/apps/core/models.py
  backend/apps/machines/models.py
  backend/config/settings.py
Due: ruff, ruff-format

fix(api): correct list_all_groups prefetch relation name
  backend/apps/catalog/api.py
  backend/apps/catalog/resolve.py
Due: ruff, ruff-format

feat(provenance): extend claims to Manufacturer and Person
  backend/apps/catalog/api.py
  backend/apps/catalog/models.py
  backend/apps/catalog/resolve.py
  backend/apps/catalog/tests/test_api_claims_manufacturer_person.py
  backend/apps/catalog/tests/test_resolve_manufacturer_person.py
Due: ruff, ruff-format

refactor(accounts): collapse migrations to 0001
  backend/apps/accounts/migrations/0001_initial.py
  backend/apps/accounts/migrations/0002_change_user_priority_default.py
Due: ruff, ruff-format

feat(ingest): assert provenance claims during manufacturer and person ingestion
  backend/apps/catalog/management/commands/ingest_ipdb.py
  backend/apps/catalog/management/commands/ingest_manufacturers.py
Due: ruff, ruff-format

feat(backend): assert provenance claims during manufacturer/person ingest
  backend/apps/catalog/management/commands/ingest_manufacturers.py
Due: ruff, ruff-format

feat(frontend): add edit and activity tabs for Person and Manufacturer
  frontend/src/routes/manufacturers/[slug]/+layout.svelte
  frontend/src/routes/manufacturers/[slug]/+layout.ts
  frontend/src/routes/manufacturers/[slug]/+page.svelte
  frontend/src/routes/manufacturers/[slug]/+page.ts
  frontend/src/routes/manufacturers/[slug]/activity/+page.svelte
  frontend/src/routes/manufacturers/[slug]/edit/+page.svelte
  frontend/src/routes/people/[slug]/+layout.svelte
  frontend/src/routes/people/[slug]/+layout.ts
  frontend/src/routes/people/[slug]/+page.svelte
  frontend/src/routes/people/[slug]/+page.ts
  frontend/src/routes/people/[slug]/activity/+page.svelte
  frontend/src/routes/people/[slug]/edit/+page.svelte
Due: frontend-lint

feat(admin): route catalog writes through provenance system
  backend/apps/catalog/admin.py
  backend/apps/catalog/tests/test_admin.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: ^backend/
  ruff-format: any of: ^backend/
  agent-docs-regen: any of: ^(docs/AGENTS\.src\.md|scripts/build_agent_docs\.py)$
  agent-docs-no-direct-edit: any of: ^(CLAUDE|AGENTS)\.md$
  frontend-lint: any of: ^frontend/
